In [1]:
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd

# Initialize an empty list to store DataFrames for each season
season_dfs = []

# Loop through each season from 2000-01 to 2022-23
for season_year in range(2002, 2023):
    # Construct the season string (e.g., '2000-01')
    season_str = f"{season_year}-{str(season_year + 1)[2:]}"
    
    # Query setup for the current season
    query = leaguegamefinder.LeagueGameFinder(season_type_nullable='Playoffs', season_nullable=season_str)
    
    # Execute the query and append the result to the list
    games = query.get_data_frames()[0]
    season_dfs.append(games)

# Concatenate all DataFrames into a single DataFrame
all_playoffs_games = pd.concat(season_dfs, ignore_index=True)

all_playoffs_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42002,1610612759,SAS,San Antonio Spurs,0040200406,2003-06-15,SAS vs. NJN,W,240,88,...,0.680,11,44,55,20,4,13,19,14,11.0
1,42002,1610612751,NJN,New Jersey Nets,0040200406,2003-06-15,NJN @ SAS,L,240,77,...,0.846,8,27,35,14,8,5,11,25,-11.0
2,42002,1610612759,SAS,San Antonio Spurs,0040200405,2003-06-13,SAS @ NJN,W,240,93,...,0.828,8,31,39,15,10,9,15,29,10.0
3,42002,1610612751,NJN,New Jersey Nets,0040200405,2003-06-13,NJN vs. SAS,L,240,83,...,0.794,17,25,42,15,7,5,16,25,-10.0
4,42002,1610612759,SAS,San Antonio Spurs,0040200404,2003-06-11,SAS @ NJN,L,240,76,...,0.833,22,31,53,14,10,10,11,27,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3963,42022,1612709915,MNE,Maine Celtics,2042200111,2023-03-29,MNE vs. CLC,L,240,100,...,0.727,7,33,40,20,8,14,19,21,-13.0
3964,42022,1612709904,SXF,Sioux Falls Skyforce,2042200131,2023-03-28,SXF @ SLC,W,239,115,...,0.722,13,35,48,23,12,6,11,18,11.2
3965,42022,1612709928,CCG,Capital City Go-Go,2042200101,2023-03-28,CCG vs. FWN,W,241,101,...,0.667,8,48,56,27,7,9,16,25,14.0
3966,42022,1612709903,SLC,Salt Lake City Stars,2042200131,2023-03-28,SLC vs. SXF,L,240,107,...,0.667,13,35,48,20,6,5,17,26,-11.6
3967,42022,1612709910,FWN,Fort Wayne Mad Ants,2042200101,2023-03-28,FWN @ CCG,L,240,87,...,0.667,8,36,44,26,7,5,14,14,-14.0

In [2]:
unique_team_names = all_playoffs_games['TEAM_NAME'].unique()
print(unique_team_names)

['San Antonio Spurs' 'New Jersey Nets' 'Dallas Mavericks'
 'Detroit Pistons' 'Sacramento Kings' 'Philadelphia 76ers'
 'Los Angeles Lakers' 'Boston Celtics' 'Orlando Magic'
 'Portland Trail Blazers' 'New Orleans Hornets' 'Indiana Pacers'
 'Minnesota Timberwolves' 'Milwaukee Bucks' 'Phoenix Suns' 'Utah Jazz'
 'Miami Heat' 'Denver Nuggets' 'Houston Rockets' 'Memphis Grizzlies'
 'New York Knicks' 'Seattle SuperSonics' 'Washington Wizards'
 'Chicago Bulls' 'Los Angeles Clippers' 'Cleveland Cavaliers'
 'Albuquerque Thunderbirds' 'Fort Worth Flyers' 'Roanoke Dazzle'
 'Florida Flame' 'Golden State Warriors' 'Toronto Raptors'
 'Colorado 14ers' 'Dakota Wizards' 'Sioux Falls Skyforce' 'Idaho Stampede'
 'Atlanta Hawks' 'Austin Toros' 'Los Angeles D-Fenders' 'Utah Flash'
 'Iowa Energy' 'Bakersfield Jam' 'Erie BayHawks' 'Oklahoma City Thunder'
 'Tulsa 66ers' 'Rio Grande Valley Vipers' 'Charlotte Bobcats'
 'Reno Bighorns' 'Texas Legends' 'Canton Charge' 'Springfield Armor'
 'Brooklyn Nets' 'Santa Cruz Warriors' 'Maine Red Claws'
 'Fort Wayne Mad Ants' 'New Orleans Pelicans' 'Austin Spurs'
 'Oklahoma City Blue' 'Charlotte Hornets' 'LA Clippers'
 'Westchester Knicks' 'Raptors 905' 'South Bay Lakers' 'Lakeland Magic'
 'Grand Rapids Drive' 'Long Island Nets' 'Memphis Hustle'
 'Windy City Bulls' 'Stockton Kings' 'Salt Lake City Stars'
 'Delaware Blue Coats' 'G League Ignite' 'Agua Caliente Clippers'
 'Motor City Cruise' 'Capital City Go-Go' 'College Park Skyhawks'
 'Birmingham Squadron' 'Cleveland Charge' 'Maine Celtics']

In [3]:
drop = ['Fort Worth Flyers','Albuquerque Thunderbirds','Florida Flame','Roanoke Dazzle','Dakota Wizards','Colorado 14ers','Sioux Falls Skyforce','Idaho Stampede','Austin Toros','Los Angeles D-Fenders','Utah Flash','Iowa Energy','Bakersfield Jam','Erie BayHawks','Rio Grande Valley Vipers','Tulsa 66ers','Reno Bighorns','Texas Legends','Canton Charge','Springfield Armor','Santa Cruz Warriors','MFaine Red Claws','Fort Wayne Mad Ants','Austin Spurs','Oklahoma City Blue','Westchester Knicks','Raptors 905','South Bay Lakers','Lakeland Magic','Grand Rapids Drive',
 'Long Island Nets','Memphis Hustle','Stockton Kings','Windy City Bulls',
 'Salt Lake City Stars','Delaware Blue Coats','G League Ignite',
 'Agua Caliente Clippers','Motor City Cruise','Capital City Go-Go',
 'College Park Skyhawks','Birmingham Squadron','Cleveland Charge',
 'Maine Celtics','Maine Red Claws'
]

In [4]:
# Iterate over each value in 'drop'
for name in drop:
    # Check if the value is present in the 'TEAM_NAME' column
    if name in all_playoffs_games['TEAM_NAME'].values:
        # Drop rows where 'TEAM_NAME' matches the value
        all_playoffs_games = all_playoffs_games[all_playoffs_games['TEAM_NAME'] != name]

# After dropping rows, reset the index of the DataFrame
all_playoffs_games.reset_index(drop=True, inplace=True)

all_playoffs_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42002,1610612759,SAS,San Antonio Spurs,0040200406,2003-06-15,SAS vs. NJN,W,240,88,...,0.680,11,44,55,20,4,13,19,14,11.0
1,42002,1610612751,NJN,New Jersey Nets,0040200406,2003-06-15,NJN @ SAS,L,240,77,...,0.846,8,27,35,14,8,5,11,25,-11.0
2,42002,1610612759,SAS,San Antonio Spurs,0040200405,2003-06-13,SAS @ NJN,W,240,93,...,0.828,8,31,39,15,10,9,15,29,10.0
3,42002,1610612751,NJN,New Jersey Nets,0040200405,2003-06-13,NJN vs. SAS,L,240,83,...,0.794,17,25,42,15,7,5,16,25,-10.0
4,42002,1610612759,SAS,San Antonio Spurs,0040200404,2003-06-11,SAS @ NJN,L,240,76,...,0.833,22,31,53,14,10,10,11,27,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612739,CLE,Cleveland Cavaliers,0042200131,2023-04-15,CLE vs. NYK,L,241,97,...,0.714,11,27,38,20,9,2,14,17,-4.0
3522,42022,1610612758,SAC,Sacramento Kings,0042200161,2023-04-15,SAC vs. GSW,W,240,126,...,0.813,17,33,50,18,10,3,13,23,3.0
3523,42022,1610612738,BOS,Boston Celtics,0042200111,2023-04-15,BOS vs. ATL,W,240,112,...,0.833,12,46,58,25,6,7,16,15,13.0
3524,42022,1610612751,BKN,Brooklyn Nets,0042200121,2023-04-15,BKN @ PHI,L,238,101,...,0.667,5,30,35,23,3,5,19,15,-20.0
3525,42022,1610612755,PHI,Philadelphia 76ers,0042200121,2023-04-15,PHI vs. BKN,W,240,121,...,1.000,14,24,38,32,14,3,8,17,20.0

In [5]:
unique_team_names = all_playoffs_games['TEAM_NAME'].unique()
print(unique_team_names)

['San Antonio Spurs' 'New Jersey Nets' 'Dallas Mavericks'
 'Detroit Pistons' 'Sacramento Kings' 'Philadelphia 76ers'
 'Los Angeles Lakers' 'Boston Celtics' 'Orlando Magic'
 'Portland Trail Blazers' 'New Orleans Hornets' 'Indiana Pacers'
 'Minnesota Timberwolves' 'Milwaukee Bucks' 'Phoenix Suns' 'Utah Jazz'
 'Miami Heat' 'Denver Nuggets' 'Houston Rockets' 'Memphis Grizzlies'
 'New York Knicks' 'Seattle SuperSonics' 'Washington Wizards'
 'Chicago Bulls' 'Los Angeles Clippers' 'Cleveland Cavaliers'
 'Golden State Warriors' 'Toronto Raptors' 'Atlanta Hawks'
 'Oklahoma City Thunder' 'Charlotte Bobcats' 'Brooklyn Nets'
 'New Orleans Pelicans' 'Charlotte Hornets' 'LA Clippers']

In [6]:
# Convert 'GAME_DATE' column to datetime format
all_playoffs_games['GAME_DATE'] = pd.to_datetime(all_playoffs_games['GAME_DATE'])

# Extract year, month, and day components into separate columns
all_playoffs_games['year'] = all_playoffs_games['GAME_DATE'].dt.year
all_playoffs_games['month'] = all_playoffs_games['GAME_DATE'].dt.month
all_playoffs_games['day'] = all_playoffs_games['GAME_DATE'].dt.day

all_playoffs_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,year,month,day
0,42002,1610612759,SAS,San Antonio Spurs,0040200406,2003-06-15,SAS vs. NJN,W,240,88,...,55,20,4,13,19,14,11.0,2003,6,15
1,42002,1610612751,NJN,New Jersey Nets,0040200406,2003-06-15,NJN @ SAS,L,240,77,...,35,14,8,5,11,25,-11.0,2003,6,15
2,42002,1610612759,SAS,San Antonio Spurs,0040200405,2003-06-13,SAS @ NJN,W,240,93,...,39,15,10,9,15,29,10.0,2003,6,13
3,42002,1610612751,NJN,New Jersey Nets,0040200405,2003-06-13,NJN vs. SAS,L,240,83,...,42,15,7,5,16,25,-10.0,2003,6,13
4,42002,1610612759,SAS,San Antonio Spurs,0040200404,2003-06-11,SAS @ NJN,L,240,76,...,53,14,10,10,11,27,-1.0,2003,6,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612739,CLE,Cleveland Cavaliers,0042200131,2023-04-15,CLE vs. NYK,L,241,97,...,38,20,9,2,14,17,-4.0,2023,4,15
3522,42022,1610612758,SAC,Sacramento Kings,0042200161,2023-04-15,SAC vs. GSW,W,240,126,...,50,18,10,3,13,23,3.0,2023,4,15
3523,42022,1610612738,BOS,Boston Celtics,0042200111,2023-04-15,BOS vs. ATL,W,240,112,...,58,25,6,7,16,15,13.0,2023,4,15
3524,42022,1610612751,BKN,Brooklyn Nets,0042200121,2023-04-15,BKN @ PHI,L,238,101,...,35,23,3,5,19,15,-20.0,2023,4,15
3525,42022,1610612755,PHI,Philadelphia 76ers,0042200121,2023-04-15,PHI vs. BKN,W,240,121,...,38,32,14,3,8,17,20.0,2023,4,15

In [7]:
from datetime import date

def get_day_of_week(year, month, day):
    # Create a datetime.date object
    gregorian_date = date(year, month, day)
    
    # Get the day of the week as an integer (Monday=0, Sunday=6)
    day_of_week = gregorian_date.weekday()
    
    # Convert the integer to a string representation
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    day_of_week_str = days[day_of_week]
    
    return day_of_week_str

# Assuming your DataFrame is called 'all_playoffs_games' and has columns 'year', 'month', 'day'
all_playoffs_games['day_of_week'] = all_playoffs_games.apply(lambda row: get_day_of_week(row['year'], row['month'], row['day']), axis=1)

In [8]:
def gregorian_to_hebrew(year, month, day):
    # Create a datetime.date object
    gregorian_date = date(year, month, day)

    # Constant for the Hebrew year offset
    HEBREW_YEAR_OFFSET = 3761

    # Calculate the Hebrew year
    hebrew_year = gregorian_date.year + HEBREW_YEAR_OFFSET

    # Adjust for the Hebrew new year
    if gregorian_date.month <= 9:
        if gregorian_date.month == 9 and gregorian_date.day > 28:
            hebrew_year += 1
    else:
        hebrew_year += 1

    return hebrew_year

# Assuming your DataFrame is called 'all_playoffs_games' and has columns 'year', 'month', 'day'
all_playoffs_games['hebrew_year'] = all_playoffs_games.apply(lambda row: gregorian_to_hebrew(row['year'], row['month'], row['day']), axis=1)

In [9]:
all_playoffs_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL,BLK,TOV,PF,PLUS_MINUS,year,month,day,day_of_week,hebrew_year
0,42002,1610612759,SAS,San Antonio Spurs,0040200406,2003-06-15,SAS vs. NJN,W,240,88,...,4,13,19,14,11.0,2003,6,15,Sunday,5764
1,42002,1610612751,NJN,New Jersey Nets,0040200406,2003-06-15,NJN @ SAS,L,240,77,...,8,5,11,25,-11.0,2003,6,15,Sunday,5764
2,42002,1610612759,SAS,San Antonio Spurs,0040200405,2003-06-13,SAS @ NJN,W,240,93,...,10,9,15,29,10.0,2003,6,13,Friday,5764
3,42002,1610612751,NJN,New Jersey Nets,0040200405,2003-06-13,NJN vs. SAS,L,240,83,...,7,5,16,25,-10.0,2003,6,13,Friday,5764
4,42002,1610612759,SAS,San Antonio Spurs,0040200404,2003-06-11,SAS @ NJN,L,240,76,...,10,10,11,27,-1.0,2003,6,11,Wednesday,5764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612739,CLE,Cleveland Cavaliers,0042200131,2023-04-15,CLE vs. NYK,L,241,97,...,9,2,14,17,-4.0,2023,4,15,Saturday,5784
3522,42022,1610612758,SAC,Sacramento Kings,0042200161,2023-04-15,SAC vs. GSW,W,240,126,...,10,3,13,23,3.0,2023,4,15,Saturday,5784
3523,42022,1610612738,BOS,Boston Celtics,0042200111,2023-04-15,BOS vs. ATL,W,240,112,...,6,7,16,15,13.0,2023,4,15,Saturday,5784
3524,42022,1610612751,BKN,Brooklyn Nets,0042200121,2023-04-15,BKN @ PHI,L,238,101,...,3,5,19,15,-20.0,2023,4,15,Saturday,5784
3525,42022,1610612755,PHI,Philadelphia 76ers,0042200121,2023-04-15,PHI vs. BKN,W,240,121,...,14,3,8,17,20.0,2023,4,15,Saturday,5784

In [10]:
all_playoffs_games['MIN'].value_counts()

240    1736
239     654
241     633
242     158
265     111
238     104
264      33
266      25
290      16
243      14
237       9
315       6
263       5
291       5
267       4
289       3
262       2
317       1
181       1
185       1
316       1
341       1
340       1
244       1
236       1
Name: MIN, dtype: int64

In [11]:
unique_team_id = all_playoffs_games['TEAM_ID'].unique()
print(unique_team_id)

[1610612759 1610612751 1610612742 1610612765 1610612758 1610612755
 1610612747 1610612738 1610612753 1610612757 1610612740 1610612754
 1610612750 1610612749 1610612756 1610612762 1610612748 1610612743
 1610612745 1610612763 1610612752 1610612760 1610612764 1610612741
 1610612746 1610612739 1610612744 1610612761 1610612737 1610612766]

In [12]:
from nba_api.stats.endpoints import teamyearbyyearstats
import pandas as pd

# Initialize an empty list to store DataFrames for each team
all_team_stats = []

# List of team IDs for all NBA teams (you can get this from the NBA API or another source)
unique_team_id

# Loop through each team
for team_id in unique_team_id:
    # Initialize an empty list to store DataFrames for each season for this team
    team_season_stats = []
    
    # Loop through each season from 2000 to 2023
    for season_year in range(2002, 2023):
        # Construct the season string (e.g., '2000-01')
        season_str = f"{season_year}-{str(season_year + 1)[2:]}"
        
        # Create the TeamYearByYearStats endpoint object
        team_year_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
        
        # Retrieve team statistics data
        team_stats_data = team_year_stats.get_data_frames()[0]
        
        # Filter the data for the specified season
        team_stats_data = team_stats_data[team_stats_data['YEAR'] == season_str]
        
        # Append the team statistics data for this season to the list
        team_season_stats.append(team_stats_data)
    
    # Concatenate all DataFrames for this team into a single DataFrame
    all_team_stats.append(pd.concat(team_season_stats, ignore_index=True))

# Concatenate all DataFrames for all teams into a single DataFrame
all_teams_yearly_stats = pd.concat(all_team_stats, ignore_index=True)

all_teams_yearly_stats

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612759,San Antonio,Spurs,2002-03,82,60,22,0.732,1,1,...,939,2556,3495,1636,1672,629,1295,529,7856,12
1,1610612759,San Antonio,Spurs,2003-04,82,57,25,0.695,3,2,...,1029,2669,3698,1676,1667,661,1203,537,7501,19
2,1610612759,San Antonio,Spurs,2004-05,82,59,23,0.720,2,1,...,987,2489,3476,1771,1717,613,1126,543,7888,18
3,1610612759,San Antonio,Spurs,2005-06,82,63,19,0.768,1,1,...,851,2548,3399,1717,1714,543,1126,467,7837,21
4,1610612759,San Antonio,Spurs,2006-07,82,58,24,0.707,3,2,...,761,2577,3338,1814,1588,587,1137,417,8079,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,1610612766,Charlotte,Hornets,2018-19,82,39,43,0.476,9,2,...,814,2778,3592,1905,1550,591,1001,405,9081,19
624,1610612766,Charlotte,Hornets,2019-20,65,23,42,0.354,10,4,...,715,2066,2781,1549,1223,428,949,268,6687,30
625,1610612766,Charlotte,Hornets,2020-21,72,33,39,0.458,0,0,...,762,2389,3151,1933,1298,565,1069,344,7881,23
626,1610612766,Charlotte,Hornets,2021-22,82,43,39,0.524,10,3,...,888,2767,3655,2302,1629,707,1087,402,9457,4
627,1610612766,Charlotte,Hornets,2022-23,82,27,55,0.329,14,5,...,901,2751,3652,2062,1661,634,1164,425,9098,27

In [13]:
# Extract the year part from the 'season' column
all_teams_yearly_stats['year'] = all_teams_yearly_stats['YEAR'].str[:4].astype(int) + 1

all_teams_yearly_stats

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK,year
0,1610612759,San Antonio,Spurs,2002-03,82,60,22,0.732,1,1,...,2556,3495,1636,1672,629,1295,529,7856,12,2003
1,1610612759,San Antonio,Spurs,2003-04,82,57,25,0.695,3,2,...,2669,3698,1676,1667,661,1203,537,7501,19,2004
2,1610612759,San Antonio,Spurs,2004-05,82,59,23,0.720,2,1,...,2489,3476,1771,1717,613,1126,543,7888,18,2005
3,1610612759,San Antonio,Spurs,2005-06,82,63,19,0.768,1,1,...,2548,3399,1717,1714,543,1126,467,7837,21,2006
4,1610612759,San Antonio,Spurs,2006-07,82,58,24,0.707,3,2,...,2577,3338,1814,1588,587,1137,417,8079,14,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,1610612766,Charlotte,Hornets,2018-19,82,39,43,0.476,9,2,...,2778,3592,1905,1550,591,1001,405,9081,19,2019
624,1610612766,Charlotte,Hornets,2019-20,65,23,42,0.354,10,4,...,2066,2781,1549,1223,428,949,268,6687,30,2020
625,1610612766,Charlotte,Hornets,2020-21,72,33,39,0.458,0,0,...,2389,3151,1933,1298,565,1069,344,7881,23,2021
626,1610612766,Charlotte,Hornets,2021-22,82,43,39,0.524,10,3,...,2767,3655,2302,1629,707,1087,402,9457,4,2022
627,1610612766,Charlotte,Hornets,2022-23,82,27,55,0.329,14,5,...,2751,3652,2062,1661,634,1164,425,9098,27,2023

In [14]:
drop = ['TEAM_CITY','TEAM_NAME','YEAR']

for i in all_teams_yearly_stats.columns:
    if i in drop:
        all_teams_yearly_stats.drop(i, axis=1, inplace=True)

all_teams_yearly_stats

,TEAM_ID,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,...,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK,year
0,1610612759,82,60,22,0.732,1,1,16,8,14.0,...,2556,3495,1636,1672,629,1295,529,7856,12,2003
1,1610612759,82,57,25,0.695,3,2,6,4,14.0,...,2669,3698,1676,1667,661,1203,537,7501,19,2004
2,1610612759,82,59,23,0.720,2,1,16,7,15.0,...,2489,3476,1771,1717,613,1126,543,7888,18,2005
3,1610612759,82,63,19,0.768,1,1,7,6,15.0,...,2548,3399,1717,1714,543,1126,467,7837,21,2006
4,1610612759,82,58,24,0.707,3,2,16,4,15.0,...,2577,3338,1814,1588,587,1137,417,8079,14,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,1610612766,82,39,43,0.476,9,2,0,0,15.0,...,2778,3592,1905,1550,591,1001,405,9081,19,2019
624,1610612766,65,23,42,0.354,10,4,0,0,15.0,...,2066,2781,1549,1223,428,949,268,6687,30,2020
625,1610612766,72,33,39,0.458,0,0,0,0,15.0,...,2389,3151,1933,1298,565,1069,344,7881,23,2021
626,1610612766,82,43,39,0.524,10,3,0,0,15.0,...,2767,3655,2302,1629,707,1087,402,9457,4,2022
627,1610612766,82,27,55,0.329,14,5,0,0,15.0,...,2751,3652,2062,1661,634,1164,425,9098,27,2023

In [15]:
all_teams_yearly_stats = all_teams_yearly_stats.rename(columns={
    'FGM': 'S_FGM',
    'FGA': 'S_FGA',
    'FG_PCT': 'S_FG_PCT',
    'FG3M': 'S_FG3M',
    'FG3A': 'S_FG3A',
    'FTA': 'S_FTA',
    'FTM': 'S_FTM',
    'FT_PCT': 'S_FT_PCT',
    'OREB': 'S_OREB',
    'DREB': 'S_DREB',
    'REB': 'S_REB',
    'AST': 'S_AST',
    'PF': 'S_PF',
    'STL': 'S_STL',
    'BLK': 'S_BLK',
    'TOV': 'S_TOV',
    'PTS': 'S_PTS',
    'FG3_PCT': 'S_FG3_PCT'  
})

In [16]:
all_teams_yearly_stats.columns

Index(['TEAM_ID', 'GP', 'WINS', 'LOSSES', 'WIN_PCT', 'CONF_RANK', 'DIV_RANK',
       'PO_WINS', 'PO_LOSSES', 'CONF_COUNT', 'DIV_COUNT',
       'NBA_FINALS_APPEARANCE', 'S_FGM', 'S_FGA', 'S_FG_PCT', 'S_FG3M',
       'S_FG3A', 'S_FG3_PCT', 'S_FTM', 'S_FTA', 'S_FT_PCT', 'S_OREB', 'S_DREB',
       'S_REB', 'S_AST', 'S_PF', 'S_STL', 'S_TOV', 'S_BLK', 'S_PTS',
       'PTS_RANK', 'year'],
      dtype='object')

In [17]:
# Convert 'year' column to integer type
all_teams_yearly_stats['year'] = all_teams_yearly_stats['year'].astype(int)

# Merge the DataFrames
df = pd.merge(all_playoffs_games, all_teams_yearly_stats, how='left', on=['TEAM_ID', 'year'])

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_OREB,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK
0,42002,1610612759,SAS,San Antonio Spurs,0040200406,2003-06-15,SAS vs. NJN,W,240,88,...,939,2556,3495,1636,1672,629,1295,529,7856,12
1,42002,1610612751,NJN,New Jersey Nets,0040200406,2003-06-15,NJN @ SAS,L,240,77,...,991,2528,3519,1887,1772,717,1212,374,7820,14
2,42002,1610612759,SAS,San Antonio Spurs,0040200405,2003-06-13,SAS @ NJN,W,240,93,...,939,2556,3495,1636,1672,629,1295,529,7856,12
3,42002,1610612751,NJN,New Jersey Nets,0040200405,2003-06-13,NJN vs. SAS,L,240,83,...,991,2528,3519,1887,1772,717,1212,374,7820,14
4,42002,1610612759,SAS,San Antonio Spurs,0040200404,2003-06-11,SAS @ NJN,L,240,76,...,939,2556,3495,1636,1672,629,1295,529,7856,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612739,CLE,Cleveland Cavaliers,0042200131,2023-04-15,CLE vs. NYK,L,241,97,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3522,42022,1610612758,SAC,Sacramento Kings,0042200161,2023-04-15,SAC vs. GSW,W,240,126,...,782,2699,3481,2237,1616,574,1106,275,9898,1
3523,42022,1610612738,BOS,Boston Celtics,0042200111,2023-04-15,BOS vs. ATL,W,240,112,...,796,2921,3717,2186,1542,521,1095,430,9671,4
3524,42022,1610612751,BKN,Brooklyn Nets,0042200121,2023-04-15,BKN @ PHI,L,238,101,...,674,2648,3322,2093,1730,585,1127,506,9295,20
3525,42022,1610612755,PHI,Philadelphia 76ers,0042200121,2023-04-15,PHI vs. BKN,W,240,121,...,715,2641,3356,2063,1675,635,1121,389,9448,14

In [18]:
df[df['WL'].isna()]

Empty DataFrame
Columns: [SEASON_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, GAME_ID, GAME_DATE, MATCHUP, WL, MIN, PTS, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PLUS_MINUS, year, month, day, day_of_week, hebrew_year, GP, WINS, LOSSES, WIN_PCT, CONF_RANK, DIV_RANK, PO_WINS, PO_LOSSES, CONF_COUNT, DIV_COUNT, NBA_FINALS_APPEARANCE, S_FGM, S_FGA, S_FG_PCT, S_FG3M, S_FG3A, S_FG3_PCT, S_FTM, S_FTA, S_FT_PCT, S_OREB, S_DREB, S_REB, S_AST, S_PF, S_STL, S_TOV, S_BLK, S_PTS, PTS_RANK]
Index: []

[0 rows x 63 columns]

In [19]:
# List of columns to shift
columns_to_shift = ['WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
                    'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
                    'TOV', 'PF', 'PLUS_MINUS']

# Sort the DataFrame by date from last to new
df_sorted = df.sort_values(by=['year', 'month', 'day'])

# Iterate over the columns and apply the shift operation
for column in columns_to_shift:
    df_sorted[column] = df_sorted.groupby('TEAM_ABBREVIATION')[column].shift(1)

df_sorted

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_OREB,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,SAS vs. PHX,NaN,NaN,NaN,...,939,2556,3495,1636,1672,629,1295,529,7856,12
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,NaN,NaN,NaN,...,1021,2381,3402,2103,1837,708,1374,467,7762,17
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,NaN,NaN,NaN,...,1049,2440,3489,1719,1801,665,1208,404,7834,13
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,IND vs. BOS,NaN,NaN,NaN,...,1004,2622,3626,1910,1811,696,1210,443,7940,10
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,NJN vs. MIL,NaN,NaN,NaN,...,991,2528,3519,1887,1772,717,1212,374,7820,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,828,2699,3527,2368,1525,618,1192,368,9495,12
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240.0,94.0,...,796,2533,3329,1955,1516,655,1106,243,8977,30
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,828,2699,3527,2368,1525,618,1192,368,9495,12
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,242.0,108.0,...,828,2699,3527,2368,1525,618,1192,368,9495,12
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,796,2533,3329,1955,1516,655,1106,243,8977,30

In [20]:
df_sorted[df_sorted['WL'].isna()]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_OREB,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,SAS vs. PHX,NaN,NaN,NaN,...,939,2556,3495,1636,1672,629,1295,529,7856,12
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,NaN,NaN,NaN,...,1021,2381,3402,2103,1837,708,1374,467,7762,17
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,NaN,NaN,NaN,...,1049,2440,3489,1719,1801,665,1208,404,7834,13
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,IND vs. BOS,NaN,NaN,NaN,...,1004,2622,3626,1910,1811,696,1210,443,7940,10
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,NJN vs. MIL,NaN,NaN,NaN,...,991,2528,3519,1887,1772,717,1212,374,7820,14
171,42002,1610612757,POR,Portland Trail Blazers,0040200161,2003-04-19,POR @ DAL,NaN,NaN,NaN,...,992,2378,3370,1860,1634,725,1248,316,7803,15
172,42002,1610612749,MIL,Milwaukee Bucks,0040200111,2003-04-19,MIL @ NJN,NaN,NaN,NaN,...,876,2367,3243,1823,1820,622,1044,344,8158,5
173,42002,1610612738,BOS,Boston Celtics,0040200121,2003-04-19,BOS @ IND,NaN,NaN,NaN,...,849,2471,3320,1575,1758,720,1147,303,7599,22
174,42002,1610612742,DAL,Dallas Mavericks,0040200161,2003-04-19,DAL vs. POR,NaN,NaN,NaN,...,912,2544,3456,1837,1730,665,949,449,8444,1
175,42002,1610612758,SAC,Sacramento Kings,0040200151,2003-04-19,SAC vs. UTA,NaN,NaN,NaN,...,900,2751,3651,2034,1666,736,1192,457,8342,3
160,42002,1610612753,ORL,Orlando Magic,0040200101,2003-04-20,ORL @ DET,NaN,NaN,NaN,...,958,2392,3350,1676,1888,696,1177,300,8078,6
161,42002,1610612750,MIN,Minnesota Timberwolves,0040200171,2003-04-20,MIN vs. LAL,NaN,NaN,NaN,...,959,2614,3573,2070,1704,553,1124,433,8046,7
162,42002,1610612747,LAL,Los Angeles Lakers,0040200171,2003-04-20,LAL @ MIN,NaN,NaN,NaN,...,1078,2554,3632,1909,1874,639,1192,470,8230,4
163,42002,1610612765,DET,Detroit Pistons,0040200101,2003-04-20,DET vs. ORL,NaN,NaN,NaN,...,883,2445,3328,1620,1748,556,1104,468,7492,26
164,42002,1610612755,PHI,Philadelphia 76ers,0040200131,2003-04-20,PHI vs. NOH,NaN,NaN,NaN,...,1042,2415,3457,1771,1804,844,1212,284,7941,9
165,42002,1610612740,NOH,New Orleans Hornets,0040200131,2003-04-20,NOH @ PHI,NaN,NaN,NaN,...,1097,2475,3572,1807,1769,656,1212,394,7699,19
332,42003,1610612752,NYK,New York Knicks,0040300111,2004-04-17,NYK @ NJN,NaN,NaN,NaN,...,950,2543,3493,1695,1897,608,1289,391,7542,16
335,42003,1610612763,MEM,Memphis Grizzlies,0040300161,2004-04-17,MEM @ SAS,NaN,NaN,NaN,...,1047,2381,3428,1915,1903,795,1226,565,7930,7
338,42003,1610612745,HOU,Houston Rockets,0040300151,2004-04-17,HOU @ LAL,NaN,NaN,NaN,...,847,2647,3494,1579,1762,560,1373,443,7362,25
328,42003,1610612748,MIA,Miami Heat,0040300131,2004-04-18,MIA vs. NOH,NaN,NaN,NaN,...,940,2459,3399,1565,1812,590,1137,313,7402,22
330,42003,1610612743,DEN,Denver Nuggets,0040300141,2004-04-18,DEN @ MIN,NaN,NaN,NaN,...,1083,2387,3470,1794,1804,745,1278,520,7972,5
504,42004,1610612760,SEA,Seattle SuperSonics,0040400161,2005-04-23,SEA vs. SAC,NaN,NaN,NaN,...,1041,2311,3352,1487,1944,553,1113,338,8113,11
492,42004,1610612741,CHI,Chicago Bulls,0040400131,2005-04-24,CHI vs. WAS,NaN,NaN,NaN,...,1001,2591,3592,1743,2028,576,1371,369,7745,21
499,42004,1610612764,WAS,Washington Wizards,0040400131,2005-04-24,WAS @ CHI,NaN,NaN,NaN,...,1133,2374,3507,1563,1807,716,1172,347,8241,6
679,42005,1610612739,CLE,Cleveland Cavaliers,0040500131,2006-04-22,CLE vs. WAS,NaN,NaN,NaN,...,959,2511,3470,1560,1733,567,1137,392,8002,15
682,42005,1610612746,LAC,Los Angeles Clippers,0040500161,2006-04-22,LAC vs. DEN,NaN,NaN,NaN,...,828,2704,3532,1708,1872,534,1185,503,7970,17
837,42006,1610612761,TOR,Toronto Raptors,0040600121,2007-04-21,TOR vs. NJN,NaN,NaN,NaN,...,755,2480,3235,1822,1672,581,1104,321,8157,11
835,42006,1610612744,GSW,Golden State Warriors,0040600141,2007-04-22,GSW @ DAL,NaN,NaN,NaN,...,940,2456,3396,1950,1933,750,1309,466,8737,2
1000,42007,1610612737,ATL,Atlanta Hawks,0040700101,2008-04-20,ATL @ BOS,NaN,NaN,NaN,...,1008,2454,3462,1804,1673,600,1223,448,8054,15
1336,42009,1610612760,OKC,Oklahoma City Thunder,0040900141,2010-04-18,OKC @ LAL,NaN,NaN,NaN,...,960,2607,3567,1639,1743,654,1227,481,8322,14
1340,42009,1610612766,CHA,Charlotte Bobcats,0040900111,2010-04-18,CHA @ ORL,NaN,NaN,NaN,...,858,2490,3348,1658,1597,632,1290,446,7813,28
1842,42012,1610612751,BKN,Brooklyn Nets,0041200131,2013-04-20,BKN vs. CHI,NaN,NaN,NaN,...,1047,2460,3507,1668,1500,599,1206,391,7944,17
2187,42014,1610612740,NOP,New Orleans Pelicans,0041400141,2015-04-18,NOP @ GSW,NaN,NaN,NaN,...,942,2621,3563,1806,1530,553,1087,510,8147,16

In [21]:
df_sorted[(df_sorted['SEASON_ID']=='42022') &(df_sorted['TEAM_ABBREVIATION'].isin (['CLE','NYK']))]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_OREB,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK
3518,42022,1610612752,NYK,New York Knicks,0042200131,2023-04-15,NYK @ CLE,L,240.0,89.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3521,42022,1610612739,CLE,Cleveland Cavaliers,0042200131,2023-04-15,CLE vs. NYK,L,242.0,85.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3500,42022,1610612752,NYK,New York Knicks,0042200132,2023-04-18,NYK @ CLE,W,240.0,101.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3504,42022,1610612739,CLE,Cleveland Cavaliers,0042200132,2023-04-18,CLE vs. NYK,L,241.0,97.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3483,42022,1610612752,NYK,New York Knicks,0042200133,2023-04-21,NYK vs. CLE,L,240.0,90.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3486,42022,1610612739,CLE,Cleveland Cavaliers,0042200133,2023-04-21,CLE @ NYK,W,240.0,107.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3471,42022,1610612752,NYK,New York Knicks,0042200134,2023-04-23,NYK vs. CLE,W,241.0,99.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3473,42022,1610612739,CLE,Cleveland Cavaliers,0042200134,2023-04-23,CLE @ NYK,L,241.0,79.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3450,42022,1610612752,NYK,New York Knicks,0042200135,2023-04-26,NYK @ CLE,W,240.0,102.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3455,42022,1610612739,CLE,Cleveland Cavaliers,0042200135,2023-04-26,CLE vs. NYK,L,240.0,93.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3436,42022,1610612752,NYK,New York Knicks,0042200201,2023-04-30,NYK vs. MIA,W,240.0,106.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3430,42022,1610612752,NYK,New York Knicks,0042200202,2023-05-02,NYK vs. MIA,L,239.0,101.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3418,42022,1610612752,NYK,New York Knicks,0042200203,2023-05-06,NYK @ MIA,W,240.0,111.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3410,42022,1610612752,NYK,New York Knicks,0042200204,2023-05-08,NYK @ MIA,L,240.0,86.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3401,42022,1610612752,NYK,New York Knicks,0042200205,2023-05-10,NYK vs. MIA,L,240.0,101.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3392,42022,1610612752,NYK,New York Knicks,0042200206,2023-05-12,NYK @ MIA,W,240.0,112.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11

In [22]:
df[(df['SEASON_ID']=='42022') &(df['TEAM_ABBREVIATION'].isin (['CLE','NYK']))]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_OREB,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK
3392,42022,1610612752,NYK,New York Knicks,0042200206,2023-05-12,NYK @ MIA,L,240,92,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3401,42022,1610612752,NYK,New York Knicks,0042200205,2023-05-10,NYK vs. MIA,W,240,112,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3410,42022,1610612752,NYK,New York Knicks,0042200204,2023-05-08,NYK @ MIA,L,240,101,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3418,42022,1610612752,NYK,New York Knicks,0042200203,2023-05-06,NYK @ MIA,L,240,86,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3430,42022,1610612752,NYK,New York Knicks,0042200202,2023-05-02,NYK vs. MIA,W,240,111,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3436,42022,1610612752,NYK,New York Knicks,0042200201,2023-04-30,NYK vs. MIA,L,239,101,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3450,42022,1610612752,NYK,New York Knicks,0042200135,2023-04-26,NYK @ CLE,W,240,106,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3455,42022,1610612739,CLE,Cleveland Cavaliers,0042200135,2023-04-26,CLE vs. NYK,L,239,95,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3471,42022,1610612752,NYK,New York Knicks,0042200134,2023-04-23,NYK vs. CLE,W,240,102,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3473,42022,1610612739,CLE,Cleveland Cavaliers,0042200134,2023-04-23,CLE @ NYK,L,240,93,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3483,42022,1610612752,NYK,New York Knicks,0042200133,2023-04-21,NYK vs. CLE,W,241,99,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3486,42022,1610612739,CLE,Cleveland Cavaliers,0042200133,2023-04-21,CLE @ NYK,L,241,79,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3500,42022,1610612752,NYK,New York Knicks,0042200132,2023-04-18,NYK @ CLE,L,240,90,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3504,42022,1610612739,CLE,Cleveland Cavaliers,0042200132,2023-04-18,CLE vs. NYK,W,240,107,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3518,42022,1610612752,NYK,New York Knicks,0042200131,2023-04-15,NYK @ CLE,W,240,101,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3521,42022,1610612739,CLE,Cleveland Cavaliers,0042200131,2023-04-15,CLE vs. NYK,L,241,97,...,795,2574,3369,2045,1560,586,1094,384,9205,25

In [23]:
df = df_sorted

In [24]:
df[(df['SEASON_ID']=='42022') &(df['TEAM_ABBREVIATION'].isin (['CLE','NYK']))]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_OREB,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK
3518,42022,1610612752,NYK,New York Knicks,0042200131,2023-04-15,NYK @ CLE,L,240.0,89.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3521,42022,1610612739,CLE,Cleveland Cavaliers,0042200131,2023-04-15,CLE vs. NYK,L,242.0,85.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3500,42022,1610612752,NYK,New York Knicks,0042200132,2023-04-18,NYK @ CLE,W,240.0,101.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3504,42022,1610612739,CLE,Cleveland Cavaliers,0042200132,2023-04-18,CLE vs. NYK,L,241.0,97.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3483,42022,1610612752,NYK,New York Knicks,0042200133,2023-04-21,NYK vs. CLE,L,240.0,90.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3486,42022,1610612739,CLE,Cleveland Cavaliers,0042200133,2023-04-21,CLE @ NYK,W,240.0,107.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3471,42022,1610612752,NYK,New York Knicks,0042200134,2023-04-23,NYK vs. CLE,W,241.0,99.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3473,42022,1610612739,CLE,Cleveland Cavaliers,0042200134,2023-04-23,CLE @ NYK,L,241.0,79.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3450,42022,1610612752,NYK,New York Knicks,0042200135,2023-04-26,NYK @ CLE,W,240.0,102.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3455,42022,1610612739,CLE,Cleveland Cavaliers,0042200135,2023-04-26,CLE vs. NYK,L,240.0,93.0,...,795,2574,3369,2045,1560,586,1094,384,9205,25
3436,42022,1610612752,NYK,New York Knicks,0042200201,2023-04-30,NYK vs. MIA,W,240.0,106.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3430,42022,1610612752,NYK,New York Knicks,0042200202,2023-05-02,NYK vs. MIA,L,239.0,101.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3418,42022,1610612752,NYK,New York Knicks,0042200203,2023-05-06,NYK @ MIA,W,240.0,111.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3410,42022,1610612752,NYK,New York Knicks,0042200204,2023-05-08,NYK @ MIA,L,240.0,86.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3401,42022,1610612752,NYK,New York Knicks,0042200205,2023-05-10,NYK vs. MIA,L,240.0,101.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11
3392,42022,1610612752,NYK,New York Knicks,0042200206,2023-05-12,NYK @ MIA,W,240.0,112.0,...,1031,2790,3821,1880,1666,527,1065,340,9514,11

In [25]:
import pandas as pd

# Assuming df is your DataFrame and columns_to_shift contains the columns you want to modify
columns_to_na = ['WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
                    'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
                    'TOV', 'PF', 'PLUS_MINUS']

# Sort the DataFrame by year, month, and day
df = df.sort_values(by=['year', 'month', 'day'])

# Group by year and select the first 16 rows for each year
first_16_rows_indices = df.groupby('year').head(16).index

# Replace the values in the specified columns with NaN for the selected rows
df.loc[first_16_rows_indices, columns_to_na] = pd.NA

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_OREB,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,SAS vs. PHX,<NA>,NaN,NaN,...,939,2556,3495,1636,1672,629,1295,529,7856,12
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,<NA>,NaN,NaN,...,1021,2381,3402,2103,1837,708,1374,467,7762,17
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,<NA>,NaN,NaN,...,1049,2440,3489,1719,1801,665,1208,404,7834,13
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,IND vs. BOS,<NA>,NaN,NaN,...,1004,2622,3626,1910,1811,696,1210,443,7940,10
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,NJN vs. MIL,<NA>,NaN,NaN,...,991,2528,3519,1887,1772,717,1212,374,7820,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,828,2699,3527,2368,1525,618,1192,368,9495,12
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240.0,94.0,...,796,2533,3329,1955,1516,655,1106,243,8977,30
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,828,2699,3527,2368,1525,618,1192,368,9495,12
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,242.0,108.0,...,828,2699,3527,2368,1525,618,1192,368,9495,12
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,796,2533,3329,1955,1516,655,1106,243,8977,30

In [26]:
# Group the DataFrame by both 'year' and 'TEAM' columns
grouped = df.groupby(['year', 'TEAM_ID'])

# Calculate the difference in days between consecutive occurrences within each group
df['rest_days'] = grouped['day'].diff(1)
# Handle cases where the month changes by adjusting the difference in days
mask = df['rest_days'] < 0  # Find rows where the month changes
df.loc[mask, 'rest_days'] += 30  # Adjust the difference by adding 30 days for month changes

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_DREB,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK,rest_days
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,SAS vs. PHX,<NA>,NaN,NaN,...,2556,3495,1636,1672,629,1295,529,7856,12,NaN
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,<NA>,NaN,NaN,...,2381,3402,2103,1837,708,1374,467,7762,17,NaN
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,<NA>,NaN,NaN,...,2440,3489,1719,1801,665,1208,404,7834,13,NaN
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,IND vs. BOS,<NA>,NaN,NaN,...,2622,3626,1910,1811,696,1210,443,7940,10,NaN
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,NJN vs. MIL,<NA>,NaN,NaN,...,2528,3519,1887,1772,717,1212,374,7820,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,2699,3527,2368,1525,618,1192,368,9495,12,3.0
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240.0,94.0,...,2533,3329,1955,1516,655,1106,243,8977,30,2.0
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,2699,3527,2368,1525,618,1192,368,9495,12,2.0
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,242.0,108.0,...,2699,3527,2368,1525,618,1192,368,9495,12,3.0
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,2533,3329,1955,1516,655,1106,243,8977,30,3.0

In [27]:
df['rest_days'].value_counts(dropna=False)

2.0     2053
3.0      791
NaN      336
4.0      175
1.0       44
5.0       40
6.0       36
7.0       22
8.0       15
9.0       10
10.0       3
11.0       1
Name: rest_days, dtype: int64

In [28]:
# Group the DataFrame by both 'year' and 'TEAM' columns
grouped = df.groupby(['year', 'TEAM_ID'])

# Calculate the cumulative count of games per team within each year
df['game_count'] = grouped.cumcount() + 1

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_REB,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK,rest_days,game_count
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,SAS vs. PHX,<NA>,<NA>,<NA>,...,3495,1636,1672,629,1295,529,7856,12,NaN,1
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,<NA>,<NA>,<NA>,...,3402,2103,1837,708,1374,467,7762,17,NaN,1
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,<NA>,<NA>,<NA>,...,3489,1719,1801,665,1208,404,7834,13,NaN,1
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,IND vs. BOS,<NA>,<NA>,<NA>,...,3626,1910,1811,696,1210,443,7940,10,NaN,1
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,NJN vs. MIL,<NA>,<NA>,<NA>,...,3519,1887,1772,717,1212,374,7820,14,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,3527,2368,1525,618,1192,368,9495,12,3.0,18
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240.0,94.0,...,3329,1955,1516,655,1106,243,8977,30,2.0,22
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,3527,2368,1525,618,1192,368,9495,12,2.0,19
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,242.0,108.0,...,3527,2368,1525,618,1192,368,9495,12,3.0,20
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,3329,1955,1516,655,1106,243,8977,30,3.0,23

In [29]:
df['game_count'].value_counts(dropna=False)

1     336
2     336
3     336
4     336
5     302
6     251
7     198
8     168
9     168
10    165
11    148
12    124
13    102
14     88
15     81
16     77
17     68
18     59
19     51
20     45
21     33
22     24
23     19
24      8
25      2
26      1
Name: game_count, dtype: int64

In [30]:
# Define a function to determine the value of 'OT' based on the value of 'MIN'
def determine_OT(minute):
    if pd.isna(minute):  # Check if the value is NaN
        return pd.NA  # Return NaN if the value is NaN
    elif minute <= 244:
        return 0
    else:
        return 1

# Apply the determine_OT function to create the 'OT' column
df['OT'] = df['MIN'].apply(determine_OT)

In [31]:
df['OT'].value_counts()

0    2985
1     205
Name: OT, dtype: int64

In [32]:
df[df['WL'].isna()]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,S_AST,S_PF,S_STL,S_TOV,S_BLK,S_PTS,PTS_RANK,rest_days,game_count,OT
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,SAS vs. PHX,<NA>,<NA>,<NA>,...,1636,1672,629,1295,529,7856,12,NaN,1,NaN
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,<NA>,<NA>,<NA>,...,2103,1837,708,1374,467,7762,17,NaN,1,NaN
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,<NA>,<NA>,<NA>,...,1719,1801,665,1208,404,7834,13,NaN,1,NaN
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,IND vs. BOS,<NA>,<NA>,<NA>,...,1910,1811,696,1210,443,7940,10,NaN,1,NaN
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,NJN vs. MIL,<NA>,<NA>,<NA>,...,1887,1772,717,1212,374,7820,14,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513,42022,1610612750,MIN,Minnesota Timberwolves,0042200141,2023-04-16,MIN @ DEN,<NA>,<NA>,<NA>,...,2145,1768,657,1258,444,9494,13,NaN,1,NaN
3514,42022,1610612756,PHX,Phoenix Suns,0042200171,2023-04-16,PHX vs. LAC,<NA>,<NA>,<NA>,...,2235,1739,585,1110,432,9319,17,NaN,1,NaN
3515,42022,1610612763,MEM,Memphis Grizzlies,0042200151,2023-04-16,MEM vs. LAL,<NA>,<NA>,<NA>,...,2135,1643,680,1116,473,9587,9,NaN,1,NaN
3516,42022,1610612743,DEN,Denver Nuggets,0042200141,2023-04-16,DEN vs. MIN,<NA>,<NA>,<NA>,...,2368,1525,618,1192,368,9495,12,NaN,1,NaN
3517,42022,1610612746,LAC,LA Clippers,0042200171,2023-04-16,LAC @ PHX,<NA>,<NA>,<NA>,...,1959,1598,580,1167,364,9314,18,NaN,1,NaN

In [33]:
df.isna().sum()[df.isna().sum() > 0 ]

WL            336
MIN           336
PTS           336
FGM           336
FGA           336
FG_PCT        336
FG3M          336
FG3A          336
FG3_PCT       336
FTM           336
FTA           336
FT_PCT        336
OREB          336
DREB          336
REB           336
AST           336
STL           336
BLK           336
TOV           336
PF            336
PLUS_MINUS    336
rest_days     336
OT            336
dtype: int64

In [34]:
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd

# Initialize an empty list to store DataFrames for each season
season_dfs = []

# Loop through each season from 2002 to 2022
for season_year in range(2002, 2023):
    # Construct the season string (e.g., '2002-03')
    season_str = f"{season_year}-{(season_year + 1) % 100:02d}"
    
    # Query setup for regular season games for the current season
    query = leaguegamefinder.LeagueGameFinder(season_nullable=season_str, season_type_nullable='Regular Season')
    
    # Execute the query and retrieve the data
    games = query.get_data_frames()[0]
    
    # Append the DataFrame to the list
    season_dfs.append(games)

# Concatenate all DataFrames into a single DataFrame
all_regular_season_games = pd.concat(season_dfs, ignore_index=True)

# Display the DataFrame

all_regular_season_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22002,1610612763,MEM,Memphis Grizzlies,0020201182,2003-04-16,MEM vs. MIN,L,240,87,...,0.522,10,36,46,23,3,7,8,18,-8.0
1,22002,1610612753,ORL,Orlando Magic,0020201181,2003-04-16,ORL @ MIL,L,241,87,...,0.667,8,26,34,31,8,3,16,18,-6.0
2,22002,1610612737,ATL,Atlanta Hawks,0020201183,2003-04-16,ATL @ NOH,L,239,77,...,0.692,5,39,44,15,5,7,23,18,-15.0
3,22002,1610612754,IND,Indiana Pacers,0020201180,2003-04-16,IND vs. NJN,W,240,90,...,0.750,17,34,51,30,12,2,10,19,7.0
4,22002,1610612745,HOU,Houston Rockets,0020201185,2003-04-16,HOU @ DEN,W,239,89,...,0.829,13,40,53,17,7,10,16,14,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66419,22022,1610612759,SAS,San Antonio Spurs,0022200011,2022-10-19,SAS vs. CHA,L,240,102,...,0.714,14,30,44,22,8,8,15,19,-27.0
66420,22022,1610612738,BOS,Boston Celtics,0022200001,2022-10-18,BOS vs. PHI,W,240,126,...,0.786,6,30,36,24,8,3,10,24,9.0
66421,22022,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18,LAL @ GSW,L,241,109,...,0.760,9,39,48,23,12,4,21,18,-14.0
66422,22022,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18,GSW vs. LAL,W,241,123,...,0.739,11,37,48,31,11,4,18,23,14.0
66423,22022,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18,PHI @ BOS,L,239,117,...,0.857,4,27,31,16,8,3,14,25,-9.0

In [35]:
import numpy as np

# Replace 'L' with 0 and 'W' with 1 in the 'WL' column
all_regular_season_games['WL'] = np.where(all_regular_season_games['WL'] == 'L', 0, 1)

In [36]:
all_regular_season_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22002,1610612763,MEM,Memphis Grizzlies,0020201182,2003-04-16,MEM vs. MIN,0,240,87,...,0.522,10,36,46,23,3,7,8,18,-8.0
1,22002,1610612753,ORL,Orlando Magic,0020201181,2003-04-16,ORL @ MIL,0,241,87,...,0.667,8,26,34,31,8,3,16,18,-6.0
2,22002,1610612737,ATL,Atlanta Hawks,0020201183,2003-04-16,ATL @ NOH,0,239,77,...,0.692,5,39,44,15,5,7,23,18,-15.0
3,22002,1610612754,IND,Indiana Pacers,0020201180,2003-04-16,IND vs. NJN,1,240,90,...,0.750,17,34,51,30,12,2,10,19,7.0
4,22002,1610612745,HOU,Houston Rockets,0020201185,2003-04-16,HOU @ DEN,1,239,89,...,0.829,13,40,53,17,7,10,16,14,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66419,22022,1610612759,SAS,San Antonio Spurs,0022200011,2022-10-19,SAS vs. CHA,0,240,102,...,0.714,14,30,44,22,8,8,15,19,-27.0
66420,22022,1610612738,BOS,Boston Celtics,0022200001,2022-10-18,BOS vs. PHI,1,240,126,...,0.786,6,30,36,24,8,3,10,24,9.0
66421,22022,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18,LAL @ GSW,0,241,109,...,0.760,9,39,48,23,12,4,21,18,-14.0
66422,22022,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18,GSW vs. LAL,1,241,123,...,0.739,11,37,48,31,11,4,18,23,14.0
66423,22022,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18,PHI @ BOS,0,239,117,...,0.857,4,27,31,16,8,3,14,25,-9.0

In [37]:
all_regular_season_games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [38]:
import pandas as pd

# Define the target dates for each year (All-Star Game dates)
target_dates = {
    22002: '2003-02-09',
    22003: '2004-02-15',
    22004: '2005-02-20',
    22005: '2006-02-19',
    22006: '2007-02-18',
    22007: '2008-02-17',
    22008: '2009-02-15',
    22009: '2010-02-14',
    22010: '2011-02-20',
    22011: '2012-02-26',
    22012: '2013-02-17',
    22013: '2014-02-16',
    22014: '2015-02-15',
    22015: '2016-02-14',
    22016: '2017-02-19',
    22017: '2018-02-18',
    22018: '2019-02-17',
    22019: '2020-02-16',
    22020: '2021-03-07',
    22021: '2022-02-20',
    22022: '2023-02-19'
}

# Define columns to keep in the final DataFrame
columns_to_keep = ['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME',
                   'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
                   'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
                   'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'GAME_DATE']

# Initialize an empty DataFrame to store regular season games after the All-Star Game
regular_season_games_after_asg = pd.DataFrame()


# Iterate over each season
for season_id, target_date in target_dates.items():
    games_after_asg = all_regular_season_games[(all_regular_season_games['GAME_DATE'] > target_date) & 
                                                (all_regular_season_games['SEASON_ID'].astype(int) == (season_id))]
    # Add filtered games to the DataFrame
    regular_season_games_after_asg = pd.concat([regular_season_games_after_asg, games_after_asg])

# Group the DataFrame by 'TEAM_ABBREVIATION' and 'SEASON_ID'
grouped_stats = regular_season_games_after_asg.groupby(['TEAM_ABBREVIATION', 'SEASON_ID'])

# Calculate the mean statistics for each group
avg_stats_post_all_star = grouped_stats.mean()

# Reset the index to make 'TEAM_ABBREVIATION' and 'SEASON_ID' regular columns
avg_stats_post_all_star = avg_stats_post_all_star.reset_index()

# Display the DataFrame containing the average statistics per team in TEAM_ABBREVIATION and per SEASON_ID
avg_stats_post_all_star

,TEAM_ABBREVIATION,SEASON_ID,TEAM_ID,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,ABQ,22004,1.612710e+09,0.588235,244.411765,96.941176,37.176471,83.352941,0.448706,1.411765,...,0.762059,16.176471,29.058824,45.235294,17.294118,8.294118,4.588235,14.000000,26.117647,NaN
1,ABQ,22005,1.612710e+09,0.562500,232.812500,96.437500,36.437500,81.625000,0.446750,3.625000,...,0.754563,15.750000,31.562500,47.312500,18.812500,7.375000,5.562500,15.625000,25.437500,NaN
2,ABQ,22006,1.612710e+09,0.555556,245.722222,107.111111,40.444444,84.333333,0.480222,4.388889,...,0.762556,15.722222,30.777778,46.500000,23.666667,7.777778,6.388889,16.833333,23.388889,NaN
3,ABQ,22007,1.612710e+09,0.476190,241.333333,113.857143,43.333333,86.333333,0.501952,6.857143,...,0.714381,12.285714,27.428571,39.714286,24.000000,7.666667,3.523810,15.523810,22.476190,0.533333
4,ABQ,22008,1.612710e+09,0.416667,240.083333,106.625000,38.500000,81.041667,0.474500,6.833333,...,0.729792,11.166667,28.000000,39.166667,19.583333,10.000000,4.083333,15.583333,19.791667,-4.025000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,WIS,22017,1.612710e+09,0.307692,241.153846,109.153846,40.000000,86.384615,0.464308,11.076923,...,0.788846,9.076923,32.076923,41.153846,21.692308,7.000000,3.615385,15.692308,16.076923,-9.153846
960,WIS,22018,1.612710e+09,0.200000,241.266667,110.333333,42.800000,94.066667,0.454933,9.400000,...,0.685067,12.533333,35.533333,48.066667,21.933333,7.866667,4.933333,15.933333,17.800000,-6.933333
961,WIS,22019,1.612710e+09,0.750000,242.375000,119.250000,44.125000,92.250000,0.480000,13.500000,...,0.815875,12.125000,38.875000,51.000000,25.500000,7.750000,6.625000,17.500000,18.250000,5.500000
962,WIS,22021,1.612710e+09,0.062500,239.812500,111.625000,42.250000,93.937500,0.450813,12.625000,...,0.631375,10.000000,32.687500,42.687500,26.375000,7.812500,5.125000,13.812500,19.437500,-15.000000
963,WIS,22022,1.612710e+09,0.416667,244.083333,114.583333,42.000000,93.833333,0.447917,14.083333,...,0.773417,9.583333,35.750000,45.333333,23.000000,7.250000,6.000000,14.166667,17.750000,-4.616667

In [39]:
avg_stats_post_all_star[(avg_stats_post_all_star['TEAM_ABBREVIATION']=='SAS')&(avg_stats_post_all_star['SEASON_ID']=='22002')]

,TEAM_ABBREVIATION,SEASON_ID,TEAM_ID,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
787,SAS,22002,1.610613e+09,0.818182,242.424242,99.393939,37.0,76.606061,0.482788,5.333333,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909

In [40]:
avg_stats_post_all_star[(avg_stats_post_all_star['TEAM_ABBREVIATION']=='LAL')&(avg_stats_post_all_star['SEASON_ID']=='22003')]

,TEAM_ABBREVIATION,SEASON_ID,TEAM_ID,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
435,LAL,22003,1.610613e+09,0.78125,243.125,99.78125,37.96875,81.78125,0.464031,4.46875,...,0.697125,13.0625,31.21875,44.28125,24.21875,8.375,4.9375,14.375,21.25,5.25

In [41]:
avg_stats_post_all_star[(avg_stats_post_all_star['TEAM_ABBREVIATION']=='BOS')&(avg_stats_post_all_star['SEASON_ID']=='22007')]

,TEAM_ABBREVIATION,SEASON_ID,TEAM_ID,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
83,BOS,22007,1.610613e+09,0.78125,240.78125,101.65625,37.5625,78.625,0.479469,7.15625,...,0.769156,10.8125,32.71875,43.53125,23.15625,7.96875,4.96875,14.5625,23.9375,10.03125

In [42]:
new_columns = [col + "_post_all_star" for col in avg_stats_post_all_star.columns]
avg_stats_post_all_star.columns = new_columns

In [43]:
avg_stats_post_all_star.columns

Index(['TEAM_ABBREVIATION_post_all_star', 'SEASON_ID_post_all_star',
       'TEAM_ID_post_all_star', 'WL_post_all_star', 'MIN_post_all_star',
       'PTS_post_all_star', 'FGM_post_all_star', 'FGA_post_all_star',
       'FG_PCT_post_all_star', 'FG3M_post_all_star', 'FG3A_post_all_star',
       'FG3_PCT_post_all_star', 'FTM_post_all_star', 'FTA_post_all_star',
       'FT_PCT_post_all_star', 'OREB_post_all_star', 'DREB_post_all_star',
       'REB_post_all_star', 'AST_post_all_star', 'STL_post_all_star',
       'BLK_post_all_star', 'TOV_post_all_star', 'PF_post_all_star',
       'PLUS_MINUS_post_all_star'],
      dtype='object')

In [44]:
# Extract last 2 digits from SEASON_ID and SEASON_ID_post_all_star
df['SEASON_ID_last_2'] = df['SEASON_ID'].astype(str).str[-2:]
avg_stats_post_all_star['SEASON_ID_last_2'] = avg_stats_post_all_star['SEASON_ID_post_all_star'].astype(str).str[-2:]

# Merge df with avg_stats_post_all_star based on the specified conditions
merged_df = pd.merge(df, avg_stats_post_all_star, 
                     left_on=['SEASON_ID_last_2', 'TEAM_ABBREVIATION'], 
                     right_on=['SEASON_ID_last_2', 'TEAM_ABBREVIATION_post_all_star'], 
                     how='left', suffixes=('', '_post_all_star'))

# Specify the columns to add from avg_stats_post_all_star to df
columns_to_add = ['WL_post_all_star', 'MIN_post_all_star', 'PTS_post_all_star', 'FGM_post_all_star', 'FGA_post_all_star', 
                  'FG_PCT_post_all_star', 'FG3M_post_all_star', 'FG3A_post_all_star', 'FG3_PCT_post_all_star', 
                  'FTM_post_all_star', 'FTA_post_all_star', 'FT_PCT_post_all_star', 'OREB_post_all_star', 
                  'DREB_post_all_star', 'REB_post_all_star', 'AST_post_all_star', 'STL_post_all_star', 'BLK_post_all_star', 
                  'TOV_post_all_star', 'PF_post_all_star', 'PLUS_MINUS_post_all_star']

# Add the specified columns from avg_stats_post_all_star to df
for col in columns_to_add:
    df[col] = merged_df[col]

# Now df has the specified columns from avg_stats_post_all_star added to it

In [45]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT_post_all_star,OREB_post_all_star,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,SAS vs. PHX,<NA>,<NA>,<NA>,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,<NA>,<NA>,<NA>,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,<NA>,<NA>,<NA>,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,IND vs. BOS,<NA>,<NA>,<NA>,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,NJN vs. MIL,<NA>,<NA>,<NA>,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.765739,10.304348,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240.0,94.0,...,0.813333,12.166667,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.796048,9.761905,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,242.0,108.0,...,0.735545,11.681818,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,0.826435,12.695652,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522

In [46]:
df[df['WL'].isna()][['GAME_ID', 'SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION']].sort_values(by='GAME_ID')

         GAME_ID SEASON_ID     TEAM_ID TEAM_ABBREVIATION
160   0040200101     42002  1610612753               ORL
163   0040200101     42002  1610612765               DET
170   0040200111     42002  1610612751               NJN
172   0040200111     42002  1610612749               MIL
169   0040200121     42002  1610612754               IND
...          ...       ...         ...               ...
3515  0042200151     42022  1610612763               MEM
3522  0042200161     42022  1610612758               SAC
3520  0042200161     42022  1610612744               GSW
3514  0042200171     42022  1610612756               PHX
3517  0042200171     42022  1610612746               LAC

[336 rows x 4 columns]

In [47]:
# Function to standardize the matchup format to '@'
def standardize_matchup(matchup):
    teams = matchup.split(' vs. ')
    if len(teams) == 2:  # If the matchup format is 'team1 vs. team2'
        return ' @ '.join(sorted(teams))  # Sort the teams alphabetically and join with '@'
    else:  # If the matchup format already contains '@', return it as is
        return matchup

# Standardize the matchup format in the all_regular_season_games DataFrame
all_regular_season_games['MATCHUP'] = all_regular_season_games['MATCHUP'].apply(standardize_matchup)
df['MATCHUP'] = df['MATCHUP'].apply(standardize_matchup)

In [48]:
all_regular_season_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22002,1610612763,MEM,Memphis Grizzlies,0020201182,2003-04-16,MEM @ MIN,0,240,87,...,0.522,10,36,46,23,3,7,8,18,-8.0
1,22002,1610612753,ORL,Orlando Magic,0020201181,2003-04-16,ORL @ MIL,0,241,87,...,0.667,8,26,34,31,8,3,16,18,-6.0
2,22002,1610612737,ATL,Atlanta Hawks,0020201183,2003-04-16,ATL @ NOH,0,239,77,...,0.692,5,39,44,15,5,7,23,18,-15.0
3,22002,1610612754,IND,Indiana Pacers,0020201180,2003-04-16,IND @ NJN,1,240,90,...,0.750,17,34,51,30,12,2,10,19,7.0
4,22002,1610612745,HOU,Houston Rockets,0020201185,2003-04-16,HOU @ DEN,1,239,89,...,0.829,13,40,53,17,7,10,16,14,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66419,22022,1610612759,SAS,San Antonio Spurs,0022200011,2022-10-19,CHA @ SAS,0,240,102,...,0.714,14,30,44,22,8,8,15,19,-27.0
66420,22022,1610612738,BOS,Boston Celtics,0022200001,2022-10-18,BOS @ PHI,1,240,126,...,0.786,6,30,36,24,8,3,10,24,9.0
66421,22022,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18,LAL @ GSW,0,241,109,...,0.760,9,39,48,23,12,4,21,18,-14.0
66422,22022,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18,GSW @ LAL,1,241,123,...,0.739,11,37,48,31,11,4,18,23,14.0
66423,22022,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18,PHI @ BOS,0,239,117,...,0.857,4,27,31,16,8,3,14,25,-9.0

In [49]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT_post_all_star,OREB_post_all_star,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,NaN,NaN,NaN,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,NaN,NaN,NaN,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,NaN,NaN,NaN,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,NaN,NaN,NaN,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,NaN,NaN,NaN,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.765739,10.304348,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.813333,12.166667,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.796048,9.761905,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.735545,11.681818,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,0.826435,12.695652,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522

In [50]:
all_regular_season_games[(all_regular_season_games['SEASON_ID'] == '22002') & (all_regular_season_games['TEAM_ABBREVIATION'] == 'PHX')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
9,22002,1610612756,PHX,Phoenix Suns,0020201187,2003-04-16,PHX @ SEA,0,240,70,...,0.538,8,35,43,17,7,1,16,18,-14.0
35,22002,1610612756,PHX,Phoenix Suns,0020201175,2003-04-15,PHX @ POR,0,242,102,...,0.708,4,25,29,22,11,3,20,19,-18.0
55,22002,1610612756,PHX,Phoenix Suns,0020201163,2003-04-13,PHX @ SAS,1,240,92,...,0.857,4,24,28,22,11,8,19,24,7.0
82,22002,1610612756,PHX,Phoenix Suns,0020201148,2003-04-11,GSW @ PHX,1,240,117,...,0.833,15,28,43,29,9,3,8,22,16.0
111,22002,1610612756,PHX,Phoenix Suns,0020201133,2003-04-09,DAL @ PHX,1,240,112,...,0.682,10,34,44,30,15,9,11,20,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2251,22002,1610612756,PHX,Phoenix Suns,0020200066,2002-11-06,ATL @ PHX,1,238,93,...,0.813,10,30,40,30,11,6,18,14,5.0
2277,22002,1610612756,PHX,Phoenix Suns,0020200051,2002-11-04,DET @ PHX,0,240,82,...,0.684,14,37,51,17,2,9,17,26,-2.0
2310,22002,1610612756,PHX,Phoenix Suns,0020200038,2002-11-02,PHX @ DAL,0,241,83,...,0.684,17,32,49,19,6,7,22,20,-14.0
2332,22002,1610612756,PHX,Phoenix Suns,0020200028,2002-11-01,CLE @ PHX,1,241,78,...,0.739,19,34,53,20,8,5,17,22,4.0
2346,22002,1610612756,PHX,Phoenix Suns,0020200015,2002-10-30,PHX @ SEA,0,239,73,...,1.000,15,31,46,15,3,3,17,21,-13.0

In [51]:
filtered_games = all_regular_season_games[
    (all_regular_season_games['SEASON_ID'] == '22002') &
    (
        ((all_regular_season_games['MATCHUP'] == 'PHX vs. SAS') | (all_regular_season_games['MATCHUP'] == 'PHX @ SAS')) |
        ((all_regular_season_games['MATCHUP'] == 'SAS vs. PHX') | (all_regular_season_games['MATCHUP'] == 'SAS @ PHX'))
    )
]

In [52]:
filtered_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
55,22002,1610612756,PHX,Phoenix Suns,0020201163,2003-04-13,PHX @ SAS,1,240,92,...,0.857,4,24,28,22,11,8,19,24,7.0
62,22002,1610612759,SAS,San Antonio Spurs,0020201163,2003-04-13,SAS @ PHX,0,242,85,...,0.583,12,22,34,24,13,7,21,16,-7.0
647,22002,1610612759,SAS,San Antonio Spurs,0020200868,2003-03-04,PHX @ SAS,0,241,97,...,0.818,14,22,36,25,9,7,13,19,-7.0
653,22002,1610612756,PHX,Phoenix Suns,0020200868,2003-03-04,PHX @ SAS,1,240,104,...,0.640,6,25,31,22,8,2,16,20,7.0
1301,22002,1610612756,PHX,Phoenix Suns,0020200541,2003-01-14,PHX @ SAS,0,264,100,...,0.750,19,32,51,15,8,6,10,30,-8.0
1302,22002,1610612759,SAS,San Antonio Spurs,0020200541,2003-01-14,PHX @ SAS,1,267,108,...,0.848,19,37,56,21,7,9,13,21,8.0
1922,22002,1610612759,SAS,San Antonio Spurs,0020200226,2002-11-29,SAS @ PHX,0,240,87,...,0.625,8,30,38,16,6,4,21,24,-7.0
1933,22002,1610612756,PHX,Phoenix Suns,0020200226,2002-11-29,PHX @ SAS,1,241,94,...,0.917,25,24,49,11,8,1,12,21,7.0

In [53]:
# Group by 'TEAM_ABBREVIATION' and calculate the mean for the desired columns
avg_stats = filtered_games.groupby('TEAM_ABBREVIATION').mean()

# Add the original columns from 'filtered_games' to the 'avg_stats' DataFrame
original_columns = ['SEASON_ID', 'MATCHUP']
for col in original_columns:
    avg_stats[col] = filtered_games[col].iloc[0]  # Taking the value from the first row since it's the same for each team

# Reorder the columns to match the desired order
avg_stats = avg_stats[original_columns + [
    'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
    'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
    'TOV', 'PF', 'PLUS_MINUS'
]]

# Display the average statistics

avg_stats

,SEASON_ID,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
TEAM_ABBREVIATION,,,,,,,,,,,,,,,,,,,,,
PHX,22002,PHX @ SAS,0.75,246.25,97.50,38.0,82.25,0.4765,5.0,10.5,...,0.7910,13.50,26.25,39.75,17.5,8.75,4.25,14.25,23.75,3.25
SAS,22002,PHX @ SAS,0.25,247.50,94.25,35.5,78.25,0.4575,4.5,19.5,...,0.7185,13.25,27.75,41.00,21.5,8.75,6.75,17.00,20.00,-3.25

In [54]:
import pandas as pd

# Assuming you have the DataFrames 'df' and 'all_regular_season_games'

# Create an empty DataFrame to store the filtered games
filtered_games = pd.DataFrame(columns=all_regular_season_games.columns)

# Iterate over each row in df where 'WL' is NaN
# Combine filtering conditions from all rows in df
combined_conditions = None
for index, row in df[df['WL'].isna()][['SEASON_ID', 'TEAM_ABBREVIATION', 'MATCHUP']].iterrows():
    # Extract the last two digits of the season ID
    season_id_last_two_digits = row['SEASON_ID'][-2:]
    
    # Extract the team abbreviations from the matchup
    team_abbrs = row['MATCHUP'].split(' @ ')
    team1_abbr, team2_abbr = team_abbrs
    
    # Construct filtering conditions
    conditions = (
        (all_regular_season_games['SEASON_ID'].str[-2:] == season_id_last_two_digits) &
        (
            ((all_regular_season_games['MATCHUP'].str.contains(team1_abbr)) & 
             (all_regular_season_games['MATCHUP'].str.contains(team2_abbr))) |
            ((all_regular_season_games['MATCHUP'].str.contains(team2_abbr)) & 
             (all_regular_season_games['MATCHUP'].str.contains('@ ' + team1_abbr)))
        ) &
        (all_regular_season_games['TEAM_ABBREVIATION'] == row['TEAM_ABBREVIATION'])
    )
    
    # Combine conditions with OR for each iteration
    if combined_conditions is None:
        combined_conditions = conditions
    else:
        combined_conditions |= conditions
    
# Apply combined conditions to filter all_regular_season_games
filtered_games = all_regular_season_games[combined_conditions]

# Reset the index of the filtered DataFrame
filtered_games.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
filtered_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22002,1610612758,SAC,Sacramento Kings,0020201186,2003-04-16,SAC @ UTA,1,240,95,...,0.810,15,30,45,29,8,5,12,16,11.0
1,22002,1610612762,UTA,Utah Jazz,0020201186,2003-04-16,UTA @ SAC,0,240,84,...,0.688,13,29,42,25,7,2,17,22,-11.0
2,22002,1610612740,NOH,New Orleans Hornets,0020201161,2003-04-13,NOH @ PHI,1,240,94,...,0.720,17,28,45,22,9,1,21,28,5.0
3,22002,1610612756,PHX,Phoenix Suns,0020201163,2003-04-13,PHX @ SAS,1,240,92,...,0.857,4,24,28,22,11,8,19,24,7.0
4,22002,1610612759,SAS,San Antonio Spurs,0020201163,2003-04-13,SAS @ PHX,0,242,85,...,0.583,12,22,34,24,13,7,21,16,-7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,22022,1610612739,CLE,Cleveland Cavaliers,0022200090,2022-10-30,CLE @ NYK,1,238,121,...,0.842,10,33,43,33,3,5,14,22,13.0
1248,22022,1610612758,SAC,Sacramento Kings,0022200042,2022-10-23,SAC @ GSW,0,240,125,...,0.800,13,38,51,31,10,2,16,29,-5.0
1249,22022,1610612744,GSW,Golden State Warriors,0022200042,2022-10-23,GSW @ SAC,1,240,130,...,0.722,6,31,37,24,7,5,13,21,5.0
1250,22022,1610612756,PHX,Phoenix Suns,0022200043,2022-10-23,PHX @ LAC,1,240,112,...,0.917,13,36,49,29,5,3,12,18,17.0
1251,22022,1610612746,LAC,LA Clippers,0022200043,2022-10-23,LAC @ PHX,0,240,95,...,0.700,9,34,43,16,10,0,14,18,-17.0

In [55]:
filtered_games[(filtered_games['TEAM_ABBREVIATION'] == 'BOS') & (filtered_games['SEASON_ID'] == '22002')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
10,22002,1610612738,BOS,Boston Celtics,0020200973,2003-03-19,BOS @ IND,0,239,72,...,0.692,12,30,42,16,5,6,13,20,-30.0
20,22002,1610612738,BOS,Boston Celtics,0020200821,2003-02-26,BOS @ IND,1,240,71,...,0.650,8,33,41,13,12,2,15,22,2.0
25,22002,1610612738,BOS,Boston Celtics,0020200669,2003-02-01,BOS @ IND,0,240,100,...,0.769,7,31,38,21,8,8,14,25,-9.0
31,22002,1610612738,BOS,Boston Celtics,0020200556,2003-01-17,BOS @ IND,1,241,98,...,0.471,13,30,43,24,3,5,10,25,5.0

In [56]:
filtered_games[(filtered_games['TEAM_ABBREVIATION'] == 'IND') & (filtered_games['SEASON_ID'] == '22002')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
9,22002,1610612754,IND,Indiana Pacers,0020200973,2003-03-19,BOS @ IND,1,241,102,...,0.783,12,36,48,27,7,1,7,13,30.0
21,22002,1610612754,IND,Indiana Pacers,0020200821,2003-02-26,IND @ BOS,0,241,69,...,0.789,9,41,50,18,5,5,23,24,-2.0
24,22002,1610612754,IND,Indiana Pacers,0020200669,2003-02-01,BOS @ IND,1,239,109,...,0.970,16,39,55,25,7,7,15,24,9.0
30,22002,1610612754,IND,Indiana Pacers,0020200556,2003-01-17,IND @ BOS,0,239,93,...,0.861,12,32,44,18,7,1,12,16,-5.0

In [57]:
all_regular_season_games[
    (all_regular_season_games['TEAM_ABBREVIATION'].isin(['IND', 'BOS'])) & 
    (all_regular_season_games['SEASON_ID'] == '22002') &  (all_regular_season_games['MATCHUP'].isin(['IND @ BOS', 'BOS @ IND']))
]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
426,22002,1610612754,IND,Indiana Pacers,0020200973,2003-03-19,BOS @ IND,1,241,102,...,0.783,12,36,48,27,7,1,7,13,30.0
434,22002,1610612738,BOS,Boston Celtics,0020200973,2003-03-19,BOS @ IND,0,239,72,...,0.692,12,30,42,16,5,6,13,20,-30.0
722,22002,1610612738,BOS,Boston Celtics,0020200821,2003-02-26,BOS @ IND,1,240,71,...,0.650,8,33,41,13,12,2,15,22,2.0
736,22002,1610612754,IND,Indiana Pacers,0020200821,2003-02-26,IND @ BOS,0,241,69,...,0.789,9,41,50,18,5,5,23,24,-2.0
1030,22002,1610612754,IND,Indiana Pacers,0020200669,2003-02-01,BOS @ IND,1,239,109,...,0.970,16,39,55,25,7,7,15,24,9.0
1043,22002,1610612738,BOS,Boston Celtics,0020200669,2003-02-01,BOS @ IND,0,240,100,...,0.769,7,31,38,21,8,8,14,25,-9.0
1256,22002,1610612754,IND,Indiana Pacers,0020200556,2003-01-17,IND @ BOS,0,239,93,...,0.861,12,32,44,18,7,1,12,16,-5.0
1257,22002,1610612738,BOS,Boston Celtics,0020200556,2003-01-17,BOS @ IND,1,241,98,...,0.471,13,30,43,24,3,5,10,25,5.0

In [58]:
filtered_games['SEASON_ID'].value_counts()

22003    64
22021    64
22018    64
22017    64
22016    64
22015    62
22014    62
22010    62
22013    62
22002    60
22012    60
22022    60
22009    58
22006    58
22005    58
22004    58
22011    56
22008    56
22007    56
22019    56
22020    48
Name: SEASON_ID, dtype: int64

In [59]:
filtered_games[(filtered_games['SEASON_ID']=='22011') & (filtered_games['TEAM_ABBREVIATION']=='BOS')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
531,22011,1610612738,BOS,Boston Celtics,0021100938,2012-04-20,BOS @ ATL,0,241,92,...,0.643,10,23,33,18,12,1,11,18,-5.0
537,22011,1610612738,BOS,Boston Celtics,0021100860,2012-04-11,ATL @ BOS,1,265,88,...,0.846,15,41,56,28,9,3,19,24,2.0
546,22011,1610612738,BOS,Boston Celtics,0021100672,2012-03-19,BOS @ ATL,1,242,79,...,0.882,6,34,40,21,9,6,16,23,3.0

In [60]:
filtered_games[(filtered_games['SEASON_ID']=='22011') & (filtered_games['TEAM_ABBREVIATION']=='ATL')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
530,22011,1610612737,ATL,Atlanta Hawks,0021100938,2012-04-20,ATL @ BOS,1,240,97,...,0.824,11,30,41,24,7,7,18,9,5.0
536,22011,1610612737,ATL,Atlanta Hawks,0021100860,2012-04-11,ATL @ BOS,0,263,86,...,0.696,6,33,39,20,9,3,16,16,-2.0
547,22011,1610612737,ATL,Atlanta Hawks,0021100672,2012-03-19,ATL @ BOS,0,242,76,...,0.684,9,36,45,15,5,2,17,19,-3.0

In [61]:
all_regular_season_games[(all_regular_season_games['SEASON_ID'] == '22011') & 
                         (all_regular_season_games['MATCHUP'].isin(['BOS @ ATL','ATL @ BOS']))]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
26741,22011,1610612737,ATL,Atlanta Hawks,0021100938,2012-04-20,ATL @ BOS,1,240,97,...,0.824,11,30,41,24,7,7,18,9,5.0
26742,22011,1610612738,BOS,Boston Celtics,0021100938,2012-04-20,BOS @ ATL,0,241,92,...,0.643,10,23,33,18,12,1,11,18,-5.0
26898,22011,1610612737,ATL,Atlanta Hawks,0021100860,2012-04-11,ATL @ BOS,0,263,86,...,0.696,6,33,39,20,9,3,16,16,-2.0
26899,22011,1610612738,BOS,Boston Celtics,0021100860,2012-04-11,ATL @ BOS,1,265,88,...,0.846,15,41,56,28,9,3,19,24,2.0
27397,22011,1610612738,BOS,Boston Celtics,0021100672,2012-03-19,BOS @ ATL,1,242,79,...,0.882,6,34,40,21,9,6,16,23,3.0
27408,22011,1610612737,ATL,Atlanta Hawks,0021100672,2012-03-19,ATL @ BOS,0,242,76,...,0.684,9,36,45,15,5,2,17,19,-3.0

In [62]:
# Group by 'SEASON_ID' and 'TEAM_ABBREVIATION' and calculate the mean for desired columns
regular_season_matchup = filtered_games.groupby(['SEASON_ID', 'TEAM_ABBREVIATION']).agg({
    'WL': 'mean',
    'MIN': 'mean',
    'PTS': 'mean',
    'FGM': 'mean',
    'FGA': 'mean',
    'FG_PCT': 'mean',
    'FG3M': 'mean',
    'FG3A': 'mean',
    'FG3_PCT': 'mean',
    'FTM': 'mean',
    'FTA': 'mean',
    'FT_PCT': 'mean',
    'OREB': 'mean',
    'DREB': 'mean',
    'REB': 'mean',
    'AST': 'mean',
    'STL': 'mean',
    'BLK': 'mean',
    'TOV': 'mean',
    'PF': 'mean',
    'PLUS_MINUS': 'mean'
})

# Reset index to make groupby columns regular columns
regular_season_matchup.reset_index(inplace=True)


# Display the new DataFrame
regular_season_matchup

,SEASON_ID,TEAM_ABBREVIATION,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22002,BOS,0.500000,240.00,85.250000,32.50,81.250000,0.398500,7.75,25.500000,...,0.645500,10.00,31.000000,41.000000,18.50,7.000000,5.25,13.00,23.00,-8.000000
1,22002,DAL,0.500000,239.75,93.250000,36.25,82.000000,0.441500,8.25,22.750000,...,0.798500,11.75,29.750000,41.500000,21.00,9.750000,5.25,14.00,20.50,0.000000
2,22002,DET,0.666667,240.00,99.333333,37.00,78.333333,0.471667,8.00,19.666667,...,0.724667,11.00,30.333333,41.333333,23.00,5.666667,4.00,15.00,23.00,6.666667
3,22002,IND,0.500000,240.00,93.250000,32.25,78.500000,0.409000,4.75,16.500000,...,0.850750,12.25,37.000000,49.250000,22.00,6.500000,3.50,14.25,19.25,8.000000
4,22002,LAL,0.500000,239.75,99.750000,39.75,89.250000,0.443250,4.00,13.750000,...,0.674000,13.25,30.000000,43.250000,25.00,7.000000,5.00,7.00,19.25,-0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,22022,MIN,0.500000,240.00,120.500000,43.75,85.000000,0.514750,11.25,32.500000,...,0.785750,9.00,27.750000,36.750000,28.00,6.500000,6.00,14.00,22.00,1.250000
332,22022,NYK,0.750000,239.75,108.750000,41.50,86.500000,0.479000,12.25,31.250000,...,0.650500,12.75,34.500000,47.250000,23.00,6.250000,3.25,14.00,17.75,3.500000
333,22022,PHI,1.000000,240.00,121.750000,42.75,89.250000,0.477750,13.50,31.250000,...,0.872250,13.00,31.000000,44.000000,23.25,8.250000,4.00,10.25,16.50,11.250000
334,22022,PHX,0.500000,240.00,111.000000,42.75,94.000000,0.455250,12.25,35.500000,...,0.793000,11.75,35.000000,46.750000,28.75,6.750000,4.00,9.75,20.25,4.750000
335,22022,SAC,0.250000,239.50,114.250000,42.25,95.000000,0.445250,13.00,39.750000,...,0.712500,12.25,32.500000,44.750000,27.50,9.250000,1.75,13.25,20.50,-5.750000

In [63]:
columns_to_update = ['WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
    'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
    'TOV', 'PF', 'PLUS_MINUS']

In [64]:
# Iterate over each row in df with missing values
for index, row in df[df.isna().any(axis=1)].iterrows():
    # Extract the relevant information from the row
    season_id = row['SEASON_ID']
    team_abbr = row['TEAM_ABBREVIATION']
    
    # Extract the last two digits of the season ID
    season_id_last_two_digits = season_id[-2:]
    
    # Filter regular_season_matchup for the corresponding season and team abbreviation
    matchup_row = regular_season_matchup[
        (regular_season_matchup['SEASON_ID'].str[-2:] == season_id_last_two_digits) & 
        (regular_season_matchup['TEAM_ABBREVIATION'] == team_abbr)
    ]
    
    
    # Copy the values from matchup_row to the corresponding columns in df
    for col in columns_to_update:
            df.at[index, col] = matchup_row[col].values[0]

# Display the updated DataFrame
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT_post_all_star,OREB_post_all_star,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,0.25,246.25,96.75,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.765739,10.304348,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.813333,12.166667,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.796048,9.761905,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.735545,11.681818,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,0.826435,12.695652,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522

In [65]:
df.isna().sum()[df.isna().sum() > 0 ]

rest_days    336
OT           336
dtype: int64

In [66]:
# Group by 'SEASON_ID' and 'TEAM_ABBREVIATION', then find the maximum 'GAME_DATE' in each group
last_game_dates = all_regular_season_games.groupby(['SEASON_ID', 'TEAM_ABBREVIATION'])['GAME_DATE'].max()

# Convert the resulting Series to a DataFrame
last_game_dates_df = last_game_dates.reset_index()

# Merge last_game_dates_df with all_regular_season_games to get the 'MIN' values
last_game_dates_df = last_game_dates_df.merge(all_regular_season_games, on=['SEASON_ID', 'TEAM_ABBREVIATION', 'GAME_DATE'], how='left')[['SEASON_ID', 'TEAM_ABBREVIATION', 'GAME_DATE', 'MIN']]

# Display the updated DataFrame
last_game_dates_df

    SEASON_ID TEAM_ABBREVIATION   GAME_DATE  MIN
0       22002               ATL  2003-04-16  239
1       22002               BOS  2003-04-16  239
2       22002               CHI  2003-04-15  241
3       22002               CLE  2003-04-16  240
4       22002               DAL  2003-04-16  240
..        ...               ...         ...  ...
977     22022               UTA  2023-04-09  240
978     22022               WAS  2023-04-09  240
979     22022               WCB  2023-03-23  240
980     22022               WES  2023-03-25  240
981     22022               WIS  2023-03-23  240

[982 rows x 4 columns]

In [67]:
import pandas as pd

# Assuming you have the DataFrame df and last_game_dates_df

# Convert 'GAME_DATE' column to datetime format in df and last_game_dates_df
df['GAME_DATE'] = pd.to_datetime(df['GAME_DATE'])
last_game_dates_df['GAME_DATE'] = pd.to_datetime(last_game_dates_df['GAME_DATE'])

# Iterate over each row in df where 'rest_days' is NaN
for index, row in df[df['rest_days'].isna()].iterrows():
    # Extract the relevant information from the row
    season_id_last_two_digits = row['SEASON_ID'][-2:]
    team_abbr = row['TEAM_ABBREVIATION']
    
    # Find the last game date in the season for the corresponding season ID and team abbreviation
    last_game_date = last_game_dates_df[
        (last_game_dates_df['SEASON_ID'].str[-2:] == season_id_last_two_digits) &
        (last_game_dates_df['TEAM_ABBREVIATION'] == team_abbr)
    ]['GAME_DATE'].values[0]  # Get the last game date value
    
    # Calculate the difference in days
    rest_days = (row['GAME_DATE'] - last_game_date).days
    
    # Update the 'rest_days' column in df with the calculated value
    df.at[index, 'rest_days'] = rest_days

# Display the updated DataFrame
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT_post_all_star,OREB_post_all_star,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,0.25,246.25,96.75,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.765739,10.304348,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.813333,12.166667,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.796048,9.761905,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.735545,11.681818,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,0.826435,12.695652,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522

In [68]:
df.isna().sum()[df.isna().sum() > 0 ]

OT    336
dtype: int64

In [69]:
last_game_dates_df['MIN'].value_counts()

240    490
241    203
239    158
238     32
242     23
265     16
264     10
266      7
180      6
250      5
255      5
291      3
263      3
260      2
270      2
243      2
289      2
290      2
269      1
292      1
256      1
234      1
107      1
120      1
251      1
183      1
196      1
249      1
179      1
Name: MIN, dtype: int64

In [70]:
import numpy as np

# Iterate over each row in df where 'rest_days' is NaN
for index, row in df[df['OT'].isna()].iterrows():
    # Extract the relevant information from the row
    season_id_last_two_digits = row['SEASON_ID'][-2:]
    team_abbr = row['TEAM_ABBREVIATION']
    
    # Find the last game date in the season for the corresponding season ID and team abbreviation
    last_game_date = last_game_dates_df[
        (last_game_dates_df['SEASON_ID'].str[-2:] == season_id_last_two_digits) &
        (last_game_dates_df['TEAM_ABBREVIATION'] == team_abbr)
    ]['MIN'].values[0]  # Get the last game date value
    
    # Calculate the difference in days
    OT = 1 if row['MIN'] <= 244 else 0
    
    # Update the 'OT' column in df with the calculated value
    df.at[index, 'OT'] = OT

# Display the updated DataFrame
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT_post_all_star,OREB_post_all_star,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,0.25,246.25,96.75,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.765739,10.304348,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.813333,12.166667,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.796048,9.761905,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.735545,11.681818,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,0.826435,12.695652,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522

In [71]:
df.isna().sum()[df.isna().sum() > 0 ]

Series([], dtype: int64)

In [72]:
for i in df.columns:
    print(i, '-', df[i].dtype)

SEASON_ID - object
TEAM_ID - int64
TEAM_ABBREVIATION - object
TEAM_NAME - object
GAME_ID - object
GAME_DATE - datetime64[ns]
MATCHUP - object
WL - object
MIN - object
PTS - object
FGM - object
FGA - object
FG_PCT - object
FG3M - object
FG3A - object
FG3_PCT - object
FTM - object
FTA - object
FT_PCT - object
OREB - object
DREB - object
REB - object
AST - object
STL - object
BLK - object
TOV - object
PF - object
PLUS_MINUS - object
year - int64
month - int64
day - int64
day_of_week - object
hebrew_year - int64
GP - int64
WINS - int64
LOSSES - int64
WIN_PCT - float64
CONF_RANK - int64
DIV_RANK - int64
PO_WINS - int64
PO_LOSSES - int64
CONF_COUNT - float64
DIV_COUNT - int64
NBA_FINALS_APPEARANCE - object
S_FGM - int64
S_FGA - int64
S_FG_PCT - float64
S_FG3M - int64
S_FG3A - int64
S_FG3_PCT - float64
S_FTM - int64
S_FTA - int64
S_FT_PCT - float64
S_OREB - int64
S_DREB - int64
S_REB - int64
S_AST - int64
S_PF - int64
S_STL - int64
S_TOV - int64
S_BLK - int64
S_PTS - int64
PTS_RANK - int64
rest_days - float64
game_count - int64
OT - object
SEASON_ID_last_2 - object
WL_post_all_star - float64
MIN_post_all_star - float64
PTS_post_all_star - float64
FGM_post_all_star - float64
FGA_post_all_star - float64
FG_PCT_post_all_star - float64
FG3M_post_all_star - float64
FG3A_post_all_star - float64
FG3_PCT_post_all_star - float64
FTM_post_all_star - float64
FTA_post_all_star - float64
FT_PCT_post_all_star - float64
OREB_post_all_star - float64
DREB_post_all_star - float64
REB_post_all_star - float64
AST_post_all_star - float64
STL_post_all_star - float64
BLK_post_all_star - float64
TOV_post_all_star - float64
PF_post_all_star - float64
PLUS_MINUS_post_all_star - float64

In [73]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT_post_all_star,OREB_post_all_star,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star
166,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
167,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,UTA @ SAC,0.25,246.25,96.75,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
168,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
169,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.764970,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970
170,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.720818,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.765739,10.304348,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739
3360,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.813333,12.166667,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333
3361,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.796048,9.761905,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667
3358,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.735545,11.681818,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182
3359,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240.0,95.0,...,0.826435,12.695652,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522

In [74]:
import pandas as pd

# Assuming you have a DataFrame named df

# Preprocess the 'MATCHUP' column to ensure consistency
df['MATCHUP'] = df['MATCHUP'].apply(lambda x: ' @ '.join(sorted(x.split(' @ '))))

# Group the DataFrame by both 'TEAM_ABBREVIATION', 'year', and 'MATCHUP' columns and count the unique matchups
matchup_counts = df.groupby(['TEAM_ABBREVIATION', 'year', 'MATCHUP']).size().reset_index(name='unique_matchups')

# Define a function to calculate the game series
def calculate_game_series(row):
    return list(range(1, row['unique_matchups'] + 1))

# Apply the function to each row
matchup_counts['game_series'] = matchup_counts.apply(calculate_game_series, axis=1)

# Define a function to determine the stage of the playoffs
def determine_playoff_stage(count):
    stages = ['Quarter-finals', 'Semi-finals', 'Final', 'NBA Final']
    if count == 1:
        return stages[0]
    elif count == 2:
        return stages[1]
    elif count == 3:
        return stages[2]
    elif count == 4:
        return stages[3]

# Apply the function to each row and create the 'stage' column
matchup_counts['stage'] = matchup_counts.groupby(['TEAM_ABBREVIATION', 'year']).cumcount() + 1
matchup_counts['stage'] = matchup_counts['stage'].apply(determine_playoff_stage)

# Display the DataFrame with unique matchup counts, game series, and playoff stage
matchup_counts

,TEAM_ABBREVIATION,year,MATCHUP,unique_matchups,game_series,stage
0,ATL,2008,ATL @ BOS,7,"[1, 2, 3, 4, 5, 6, 7]",Quarter-finals
1,ATL,2009,ATL @ CLE,4,"[1, 2, 3, 4]",Quarter-finals
2,ATL,2009,ATL @ MIA,7,"[1, 2, 3, 4, 5, 6, 7]",Semi-finals
3,ATL,2010,ATL @ MIL,7,"[1, 2, 3, 4, 5, 6, 7]",Quarter-finals
4,ATL,2010,ATL @ ORL,4,"[1, 2, 3, 4]",Semi-finals
...,...,...,...,...,...,...
625,WAS,2015,TOR @ WAS,4,"[1, 2, 3, 4]",Semi-finals
626,WAS,2017,ATL @ WAS,6,"[1, 2, 3, 4, 5, 6]",Quarter-finals
627,WAS,2017,BOS @ WAS,7,"[1, 2, 3, 4, 5, 6, 7]",Semi-finals
628,WAS,2018,TOR @ WAS,6,"[1, 2, 3, 4, 5, 6]",Quarter-finals
629,WAS,2021,PHI @ WAS,5,"[1, 2, 3, 4, 5]",Quarter-finals

In [75]:
import pandas as pd

# Assuming you have a DataFrame named df

# Preprocess the 'MATCHUP' column to ensure consistency
df['MATCHUP'] = df['MATCHUP'].apply(lambda x: ' @ '.join(sorted(x.split(' @ '))))

# Group the DataFrame by both 'TEAM_ABBREVIATION', 'year', and 'MATCHUP' columns and count the unique matchups
matchup_counts = df.groupby(['TEAM_ABBREVIATION', 'year', 'MATCHUP']).size().reset_index(name='unique_matchups')

# Merge the matchup_counts DataFrame back to the original DataFrame df
df = df.merge(matchup_counts[['TEAM_ABBREVIATION', 'year', 'MATCHUP']], on=['TEAM_ABBREVIATION', 'year', 'MATCHUP'], how='left')

# Update the 'game_series' column
grouped = df.groupby(['TEAM_ABBREVIATION', 'year', 'MATCHUP'])
df['game_series'] = grouped.cumcount() + 1

# Display the updated DataFrame
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB_post_all_star,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,12.212121,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,11.636364,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,10.304348,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739,3
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,12.166667,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333,4
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,9.761905,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667,4
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,11.681818,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182,5
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,12.695652,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522,5

In [76]:
df['game_series'].value_counts()

1    630
2    630
3    630
4    630
5    520
6    354
7    132
Name: game_series, dtype: int64

In [77]:
import pandas as pd

# Assuming you have a DataFrame named df with columns: 'TEAM_ABBREVIATION', 'year', 'game_series'

# Sort and join the 'MATCHUP' column to ensure consistency
df['MATCHUP_sorted'] = df['MATCHUP'].apply(lambda x: ' @ '.join(sorted(x.split(' @ '))))

# Initialize the 'stage' column with an empty string
df['stage'] = ''

# Initialize a dictionary to keep track of the count of game series equal to 1 for each team in each year
game_series_1_count = {}

# Iterate through each row in the DataFrame
for index, row in df.iterrows():
    # Create a unique key for each team in each year
    team_year_key = (row['TEAM_ABBREVIATION'], row['year'])
    
    # If the team and year combination is not in the dictionary, initialize the count to 0
    if team_year_key not in game_series_1_count:
        game_series_1_count[team_year_key] = 0
    
    # Increment the count of game series equal to 1 for the current team in the current year
    if row['game_series'] == 1:
        game_series_1_count[team_year_key] += 1
    
    # Set the stage based on the count of game series equal to 1
    if game_series_1_count[team_year_key] == 1:
        df.at[index, 'stage'] = 1
    elif game_series_1_count[team_year_key] == 2:
        df.at[index, 'stage'] = 2
    elif game_series_1_count[team_year_key] == 3:
        df.at[index, 'stage'] = 3
    elif game_series_1_count[team_year_key] == 4:
        df.at[index, 'stage'] = 4
    else:
        # If count exceeds 4, set the stage to an empty string
        df.at[index, 'stage'] = ''

# Drop the intermediate 'MATCHUP_sorted' column
df.drop('MATCHUP_sorted', axis=1, inplace=True)

# Display the updated DataFrame

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,DREB_post_all_star,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,30.787879,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,30.121212,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,35.652174,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739,3,4
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,34.708333,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333,4,4
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,28.952381,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667,4,4
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,33.863636,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182,5,4
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,32.956522,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522,5,4

In [78]:
df['stage'].value_counts()

1    1838
2     970
3     478
4     240
Name: stage, dtype: int64

In [79]:
import pandas as pd

# Sample DataFrame
data = {
    'Year': [2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'Champion': ['Los Angeles Lakers', 'San Antonio Spurs', 'Detroit Pistons', 'Miami Heat', 'San Antonio Spurs', 'Miami Heat', 'Boston Celtics', 'Los Angeles Lakers', 'Dallas Mavericks', 'Miami Heat', 'Miami Heat', 'San Antonio Spurs', 'Golden State Warriors', 'Cleveland Cavaliers', 'Golden State Warriors', 'Cleveland Cavaliers', 'Golden State Warriors', 'Toronto Raptors', 'Los Angeles Lakers', 'Milwaukee Bucks', 'Golden State Warriors', 'Denver Nuggets']
}

champ_df = pd.DataFrame(data)

# Assuming you have a DataFrame named df with columns: 'year' and 'TEAM_ABBREVIATION'

# Sort the champion data by 'Year' in descending order
champ_df.sort_values(by='Year', ascending=False, inplace=True)

# Initialize the 'last_champ' column with 0
df['last_champ'] = 0

# Iterate through each row in the DataFrame
for index, row in df.iterrows():
    # Get the previous year
    previous_year = row['year'] - 1
    
    # Check if the previous year exists in the champion data
    if previous_year in champ_df['Year'].values:
        # Get the champion of the previous year
        previous_champion = champ_df.loc[champ_df['Year'] == previous_year, 'Champion'].iloc[0]
        
        # Check if the champion of the previous year is the same as the team in the current row
        if previous_champion == row['TEAM_NAME']:
            df.at[index, 'last_champ'] = 1

# Display the updated DataFrame

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,41.757576,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,45.956522,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739,3,4,0
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,46.875000,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333,4,4,0
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667,4,4,0
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,45.545455,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182,5,4,0
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522,5,4,0

In [80]:
df[(df['SEASON_ID']=='42002')&(df['last_champ'])==1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ
12,42002,1610612747,LAL,Los Angeles Lakers,0040200171,2003-04-20,LAL @ MIN,0.5,239.75,99.75,...,41.764706,23.147059,8.000000,4.823529,11.647059,22.029412,5.088235,1,1,1
25,42002,1610612747,LAL,Los Angeles Lakers,0040200172,2003-04-22,LAL @ MIN,W,240.0,117.0,...,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,2,1,1
36,42002,1610612747,LAL,Los Angeles Lakers,0040200173,2003-04-24,LAL @ MIN,L,240.0,91.0,...,46.645161,25.096774,8.354839,5.193548,14.548387,20.516129,7.225806,3,1,1
53,42002,1610612747,LAL,Los Angeles Lakers,0040200174,2003-04-27,LAL @ MIN,L,265.0,110.0,...,41.764706,23.147059,8.000000,4.823529,11.647059,22.029412,5.088235,4,1,1
64,42002,1610612747,LAL,Los Angeles Lakers,0040200175,2003-04-29,LAL @ MIN,W,240.0,102.0,...,42.393939,22.575758,10.727273,3.666667,13.606061,21.272727,5.757576,5,1,1
85,42002,1610612747,LAL,Los Angeles Lakers,0040200176,2003-05-01,LAL @ MIN,W,240.0,120.0,...,41.764706,23.147059,8.000000,4.823529,11.647059,22.029412,5.088235,6,1,1
101,42002,1610612747,LAL,Los Angeles Lakers,0040200221,2003-05-05,LAL @ SAS,W,240.0,101.0,...,46.645161,25.096774,8.354839,5.193548,14.548387,20.516129,7.225806,1,2,1
107,42002,1610612747,LAL,Los Angeles Lakers,0040200222,2003-05-07,LAL @ SAS,L,240.0,82.0,...,44.000000,23.606061,8.636364,5.212121,12.878788,21.636364,2.242424,2,2,1
115,42002,1610612747,LAL,Los Angeles Lakers,0040200223,2003-05-09,LAL @ SAS,L,240.0,95.0,...,41.000000,21.843750,8.781250,4.812500,13.500000,21.437500,1.968750,3,2,1
126,42002,1610612747,LAL,Los Angeles Lakers,0040200224,2003-05-11,LAL @ SAS,W,240.0,110.0,...,40.212121,19.303030,7.909091,3.333333,12.909091,20.424242,-1.090909,4,2,1
130,42002,1610612747,LAL,Los Angeles Lakers,0040200225,2003-05-13,LAL @ SAS,W,240.0,99.0,...,41.285714,18.971429,6.942857,5.485714,11.942857,19.542857,2.285714,5,2,1
136,42002,1610612747,LAL,Los Angeles Lakers,0040200226,2003-05-15,LAL @ SAS,L,240.0,94.0,...,43.000000,23.257143,7.942857,5.485714,13.114286,22.342857,4.285714,6,2,1

In [81]:
df[(df['SEASON_ID']=='42003')&(df['last_champ'])==1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ
177,42003,1610612759,SAS,San Antonio Spurs,0040300161,2004-04-17,MEM @ SAS,0.25,240.0,81.5,...,44.281250,24.218750,8.375000,4.937500,14.375000,21.250000,5.250000,1,1,1
195,42003,1610612759,SAS,San Antonio Spurs,0040300162,2004-04-19,MEM @ SAS,W,240.0,98.0,...,44.866667,22.000000,6.700000,5.400000,12.266667,21.066667,5.866667,2,1,1
210,42003,1610612759,SAS,San Antonio Spurs,0040300163,2004-04-22,MEM @ SAS,W,240.0,87.0,...,44.281250,24.218750,8.375000,4.937500,14.375000,21.250000,5.250000,3,1,1
226,42003,1610612759,SAS,San Antonio Spurs,0040300164,2004-04-25,MEM @ SAS,W,240.0,95.0,...,44.281250,24.218750,8.375000,4.937500,14.375000,21.250000,5.250000,4,1,1
252,42003,1610612759,SAS,San Antonio Spurs,0040300231,2004-05-02,LAL @ SAS,W,240.0,110.0,...,41.354839,24.290323,8.032258,3.774194,14.354839,21.258065,0.612903,1,2,1
261,42003,1610612759,SAS,San Antonio Spurs,0040300232,2004-05-05,LAL @ SAS,W,240.0,88.0,...,41.892857,23.535714,9.214286,7.571429,13.857143,19.785714,11.250000,2,2,1
272,42003,1610612759,SAS,San Antonio Spurs,0040300233,2004-05-09,LAL @ SAS,W,240.0,95.0,...,40.687500,25.375000,9.156250,4.031250,13.781250,18.562500,1.218750,3,2,1
281,42003,1610612759,SAS,San Antonio Spurs,0040300234,2004-05-11,LAL @ SAS,L,240.0,81.0,...,44.866667,22.000000,6.700000,5.400000,12.266667,21.066667,5.866667,4,2,1
287,42003,1610612759,SAS,San Antonio Spurs,0040300235,2004-05-13,LAL @ SAS,L,240.0,90.0,...,44.281250,24.218750,8.375000,4.937500,14.375000,21.250000,5.250000,5,2,1
293,42003,1610612759,SAS,San Antonio Spurs,0040300236,2004-05-15,LAL @ SAS,L,240.0,73.0,...,41.857143,21.535714,8.535714,5.392857,13.642857,21.928571,-0.357143,6,2,1

In [82]:
df[df['last_champ']==1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,REB_post_all_star,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ
12,42002,1610612747,LAL,Los Angeles Lakers,0040200171,2003-04-20,LAL @ MIN,0.5,239.75,99.75,...,41.764706,23.147059,8.000000,4.823529,11.647059,22.029412,5.088235,1,1,1
25,42002,1610612747,LAL,Los Angeles Lakers,0040200172,2003-04-22,LAL @ MIN,W,240.0,117.0,...,43.000000,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,2,1,1
36,42002,1610612747,LAL,Los Angeles Lakers,0040200173,2003-04-24,LAL @ MIN,L,240.0,91.0,...,46.645161,25.096774,8.354839,5.193548,14.548387,20.516129,7.225806,3,1,1
53,42002,1610612747,LAL,Los Angeles Lakers,0040200174,2003-04-27,LAL @ MIN,L,265.0,110.0,...,41.764706,23.147059,8.000000,4.823529,11.647059,22.029412,5.088235,4,1,1
64,42002,1610612747,LAL,Los Angeles Lakers,0040200175,2003-04-29,LAL @ MIN,W,240.0,102.0,...,42.393939,22.575758,10.727273,3.666667,13.606061,21.272727,5.757576,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458,42022,1610612744,GSW,Golden State Warriors,0042200232,2023-05-04,GSW @ LAL,L,240.0,112.0,...,45.652174,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522,2,2,1
3465,42022,1610612744,GSW,Golden State Warriors,0042200233,2023-05-06,GSW @ LAL,W,242.0,127.0,...,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667,3,2,1
3473,42022,1610612744,GSW,Golden State Warriors,0042200234,2023-05-08,GSW @ LAL,L,240.0,97.0,...,42.476190,26.904762,7.857143,3.952381,14.095238,19.523810,1.047619,4,2,1
3480,42022,1610612744,GSW,Golden State Warriors,0042200235,2023-05-10,GSW @ LAL,L,239.0,101.0,...,38.714286,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667,5,2,1
3491,42022,1610612744,GSW,Golden State Warriors,0042200236,2023-05-12,GSW @ LAL,W,239.0,121.0,...,43.960000,28.400000,7.240000,3.400000,11.920000,19.520000,3.480000,6,2,1

In [83]:
import pandas as pd

# Define a function for assigning home game values
def assign_home_game(df):
    df['home_game'] = 0  # Initialize with zeros

    for index, row in df.iterrows():
        # Check stage and year conditions
        if row['stage'] != 'NBA-Final':
            home_games = [1, 1, 0, 0, 1, 0, 1]  # Non-NBA Final home games
        elif row['year'] <= 2013:
            home_games = [1, 1, 0, 0, 0, 1, 1]  # NBA Final 2013 and earlier
        else:
            home_games = [1, 1, 0, 0, 1, 0, 1]  # NBA Final 2014 onward

        # Compare team WIN_PCT to opponent's WIN_PCT
        opponent_pct = df.loc[(df['TEAM_ABBREVIATION'] != row['TEAM_ABBREVIATION']) &
                               (df['MATCHUP'] == row['MATCHUP']), 'WIN_PCT'].iloc[0]
        if row['WIN_PCT'] > opponent_pct:
            df.at[index, 'home_game'] = home_games[row['game_series'] - 1]
        else:
            df.at[index, 'home_game'] = 1 - home_games[row['game_series'] - 1]  # Opposite for opponent

    return df  # Return the updated DataFrame

# Apply the function to the DataFrame
df = assign_home_game(df.copy())  # Create a copy to avoid modifying the original

# Display the updated DataFrame
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,0
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,0
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,27.304348,6.521739,5.217391,12.173913,18.304348,7.521739,3,4,0,0
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333,4,4,0,1
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,25.000000,7.523810,5.523810,10.952381,20.142857,4.666667,4,4,0,0
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182,5,4,0,1
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,25.826087,7.347826,4.782609,12.695652,18.217391,1.956522,5,4,0,0

In [84]:
df[df['home_game']==1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,1
8,42002,1610612742,DAL,Dallas Mavericks,0040200161,2003-04-19,DAL @ POR,0.5,239.75,93.25,...,21.272727,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,1
9,42002,1610612758,SAC,Sacramento Kings,0040200151,2003-04-19,SAC @ UTA,0.75,245.5,98.25,...,23.545455,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3516,42022,1610612743,DEN,Denver Nuggets,0042200401,2023-06-01,DEN @ MIA,W,239.0,113.0,...,25.521739,6.478261,4.695652,13.434783,16.391304,5.000000,1,4,0,1
3518,42022,1610612743,DEN,Denver Nuggets,0042200402,2023-06-04,DEN @ MIA,W,239.0,104.0,...,24.875000,7.833333,5.375000,11.666667,19.125000,-1.250000,2,4,0,1
3520,42022,1610612748,MIA,Miami Heat,0042200403,2023-06-07,DEN @ MIA,W,239.0,111.0,...,28.400000,7.240000,3.400000,11.920000,19.520000,3.480000,3,4,0,1
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,29.666667,7.458333,4.458333,15.541667,19.916667,5.958333,4,4,0,1
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,24.500000,7.363636,4.545455,12.681818,18.863636,4.818182,5,4,0,1

In [85]:
df[(df['SEASON_ID']=='42003')&(df['TEAM_ABBREVIATION']=='DET')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game
187,42003,1610612765,DET,Detroit Pistons,0040300121,2004-04-18,DET @ MIL,0.75,240.25,96.0,...,22.000000,6.700000,5.400000,12.266667,21.066667,5.866667,1,1,0,1
203,42003,1610612765,DET,Detroit Pistons,0040300122,2004-04-21,DET @ MIL,W,240.0,108.0,...,23.535714,9.214286,7.571429,13.857143,19.785714,11.250000,2,1,0,1
220,42003,1610612765,DET,Detroit Pistons,0040300123,2004-04-24,DET @ MIL,L,240.0,88.0,...,25.375000,9.156250,4.031250,13.781250,18.562500,1.218750,3,1,0,0
234,42003,1610612765,DET,Detroit Pistons,0040300124,2004-04-26,DET @ MIL,W,240.0,95.0,...,20.285714,8.035714,4.000000,12.642857,21.892857,6.678571,4,1,0,0
242,42003,1610612765,DET,Detroit Pistons,0040300125,2004-04-29,DET @ MIL,W,240.0,109.0,...,23.535714,9.214286,7.571429,13.857143,19.785714,11.250000,5,1,0,1
255,42003,1610612765,DET,Detroit Pistons,0040300211,2004-05-03,DET @ NJN,W,240.0,91.0,...,20.172414,8.103448,6.448276,13.793103,20.172414,8.586207,1,2,0,1
265,42003,1610612765,DET,Detroit Pistons,0040300212,2004-05-07,DET @ NJN,W,240.0,78.0,...,20.400000,7.733333,4.533333,14.366667,20.733333,0.200000,2,2,0,1
270,42003,1610612765,DET,Detroit Pistons,0040300213,2004-05-09,DET @ NJN,W,239.0,95.0,...,23.535714,9.214286,7.571429,13.857143,19.785714,11.250000,3,2,0,0
278,42003,1610612765,DET,Detroit Pistons,0040300214,2004-05-11,DET @ NJN,L,240.0,64.0,...,23.535714,9.214286,7.571429,13.857143,19.785714,11.250000,4,2,0,0
290,42003,1610612765,DET,Detroit Pistons,0040300215,2004-05-14,DET @ NJN,L,240.0,79.0,...,20.172414,8.103448,6.448276,13.793103,20.172414,8.586207,5,2,0,1
297,42003,1610612765,DET,Detroit Pistons,0040300216,2004-05-16,DET @ NJN,L,315.0,120.0,...,24.866667,8.733333,5.900000,11.766667,19.200000,6.133333,6,2,0,0
304,42003,1610612765,DET,Detroit Pistons,0040300217,2004-05-20,DET @ NJN,W,240.0,81.0,...,20.172414,8.103448,6.448276,13.793103,20.172414,8.586207,7,2,0,1
309,42003,1610612765,DET,Detroit Pistons,0040300301,2004-05-22,DET @ IND,W,240.0,90.0,...,22.935484,6.451613,4.032258,12.612903,20.612903,1.225806,1,3,0,0
313,42003,1610612765,DET,Detroit Pistons,0040300302,2004-05-24,DET @ IND,L,240.0,74.0,...,23.535714,9.214286,7.571429,13.857143,19.785714,11.250000,2,3,0,0
317,42003,1610612765,DET,Detroit Pistons,0040300303,2004-05-26,DET @ IND,W,240.0,72.0,...,23.000000,9.103448,4.517241,13.551724,20.758621,7.068966,3,3,0,1
321,42003,1610612765,DET,Detroit Pistons,0040300304,2004-05-28,DET @ IND,W,240.0,85.0,...,20.172414,8.103448,6.448276,13.793103,20.172414,8.586207,4,3,0,1
325,42003,1610612765,DET,Detroit Pistons,0040300305,2004-05-30,DET @ IND,L,240.0,68.0,...,22.935484,6.451613,4.032258,12.612903,20.612903,1.225806,5,3,0,0
328,42003,1610612765,DET,Detroit Pistons,0040300306,2004-06-01,DET @ IND,W,240.0,83.0,...,22.000000,6.700000,5.400000,12.266667,21.066667,5.866667,6,3,0,1
331,42003,1610612765,DET,Detroit Pistons,0040300401,2004-06-06,DET @ LAL,W,240.0,69.0,...,24.866667,8.733333,5.900000,11.766667,19.200000,6.133333,1,4,0,0
332,42003,1610612765,DET,Detroit Pistons,0040300402,2004-06-08,DET @ LAL,W,240.0,87.0,...,20.666667,7.433333,5.166667,16.433333,22.133333,-0.533333,2,4,0,0
335,42003,1610612765,DET,Detroit Pistons,0040300403,2004-06-10,DET @ LAL,L,265.0,91.0,...,24.218750,8.375000,4.937500,14.375000,21.250000,5.250000,3,4,0,1
337,42003,1610612765,DET,Detroit Pistons,0040300404,2004-06-13,DET @ LAL,W,240.0,88.0,...,22.200000,9.966667,6.266667,14.133333,22.700000,3.033333,4,4,0,1
338,42003,1610612765,DET,Detroit Pistons,0040300405,2004-06-15,DET @ LAL,W,240.0,88.0,...,20.214286,8.607143,4.250000,14.071429,23.607143,-1.785714,5,4,0,0

In [86]:
df['WIN_PCT'][(df['SEASON_ID']=='42003')&(df['TEAM_ABBREVIATION']=='DET')]

187    0.659
203    0.659
220    0.659
234    0.659
242    0.659
255    0.659
265    0.659
270    0.659
278    0.659
290    0.659
297    0.659
304    0.659
309    0.659
313    0.659
317    0.659
321    0.659
325    0.659
328    0.659
331    0.659
332    0.659
335    0.659
337    0.659
338    0.659
Name: WIN_PCT, dtype: float64

In [87]:
df['WIN_PCT'][(df['SEASON_ID']=='42003')&(df['TEAM_ABBREVIATION']=='IND')]

183    0.744
199    0.744
212    0.744
225    0.744
263    0.744
269    0.744
274    0.744
284    0.744
294    0.744
300    0.744
308    0.744
312    0.744
316    0.744
320    0.744
324    0.744
329    0.744
Name: WIN_PCT, dtype: float64

In [88]:
df['WIN_PCT'][(df['SEASON_ID']=='42003')&(df['TEAM_ABBREVIATION']=='LAL')]

181    0.683
192    0.683
213    0.683
229    0.683
241    0.683
250    0.683
260    0.683
273    0.683
280    0.683
286    0.683
292    0.683
306    0.683
311    0.683
315    0.683
319    0.683
322    0.683
326    0.683
330    0.683
333    0.683
334    0.683
336    0.683
339    0.683
Name: WIN_PCT, dtype: float64

In [89]:
import pandas as pd

# Assuming your DataFrame is named df

# Step 1: Sort the DataFrame by 'year', 'month', and 'day' within each group
df_sorted = df.sort_values(by=['year', 'month', 'day'])

# Step 2: Group the sorted DataFrame by 'TEAM_ABBREVIATION' and 'year'
grouped = df_sorted.groupby(['TEAM_ABBREVIATION', 'year'])

# Step 3: Select the last row of each group
last_rows_per_team_year = grouped.last().reset_index()

# Display the DataFrame
last_rows_per_team_year

,TEAM_ABBREVIATION,year,SEASON_ID,TEAM_ID,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game
0,ATL,2008,42007,1610612737,Atlanta Hawks,0040700107,2008-05-04,ATL @ BOS,W,240.0,...,20.862069,9.379310,4.551724,11.862069,18.896552,2.344828,7,1,0,0
1,ATL,2009,42008,1610612737,Atlanta Hawks,0040800204,2009-05-11,ATL @ CLE,L,241.0,...,21.200000,7.566667,5.266667,11.466667,21.100000,0.466667,4,2,0,1
2,ATL,2010,42009,1610612737,Atlanta Hawks,0040900214,2010-05-10,ATL @ ORL,L,240.0,...,18.724138,7.586207,5.551724,12.655172,19.931034,4.896552,4,2,0,1
3,ATL,2011,42010,1610612737,Atlanta Hawks,0041000206,2011-05-12,ATL @ CHI,L,241.0,...,20.461538,6.692308,4.615385,13.615385,20.115385,6.692308,6,2,0,1
4,ATL,2012,42011,1610612737,Atlanta Hawks,0041100136,2012-05-10,ATL @ BOS,W,239.0,...,24.281250,5.812500,5.687500,14.593750,15.062500,1.062500,6,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,WAS,2014,42013,1610612764,Washington Wizards,0041300206,2014-05-15,IND @ WAS,W,242.0,...,19.500000,6.133333,4.933333,14.166667,21.066667,-2.166667,6,2,0,1
332,WAS,2015,42014,1610612764,Washington Wizards,0041400206,2015-05-15,ATL @ WAS,L,240.0,...,27.709677,9.161290,5.903226,13.290323,19.935484,8.709677,6,2,0,1
333,WAS,2017,42016,1610612764,Washington Wizards,0041600207,2017-05-15,BOS @ WAS,W,239.0,...,19.769231,7.230769,5.153846,13.076923,19.615385,4.384615,7,2,0,0
334,WAS,2018,42017,1610612764,Washington Wizards,0041700106,2018-04-27,TOR @ WAS,L,240.0,...,21.869565,8.739130,5.173913,13.739130,19.956522,3.052174,6,1,0,1
335,WAS,2021,42020,1610612764,Washington Wizards,0042000105,2021-06-02,PHI @ WAS,W,240.0,...,23.888889,7.055556,4.750000,11.638889,18.777778,4.222222,5,1,0,0

In [90]:
df[(df['TEAM_ABBREVIATION']=='ATL')&(df['year']==2008)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST_post_all_star,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game
852,42007,1610612737,ATL,Atlanta Hawks,0040700101,2008-04-20,ATL @ BOS,0.0,240.333333,86.666667,...,25.600000,7.666667,5.866667,12.066667,20.166667,8.933333,1,1,0,0
872,42007,1610612737,ATL,Atlanta Hawks,0040700102,2008-04-23,ATL @ BOS,L,241.0,81.0,...,23.156250,7.968750,4.968750,14.562500,23.937500,10.031250,2,1,0,0
895,42007,1610612737,ATL,Atlanta Hawks,0040700103,2008-04-26,ATL @ BOS,L,241.0,77.0,...,25.600000,7.666667,5.866667,12.066667,20.166667,8.933333,3,1,0,1
906,42007,1610612737,ATL,Atlanta Hawks,0040700104,2008-04-28,ATL @ BOS,W,239.0,102.0,...,25.600000,7.666667,5.866667,12.066667,20.166667,8.933333,4,1,0,1
920,42007,1610612737,ATL,Atlanta Hawks,0040700105,2008-04-30,ATL @ BOS,W,240.0,97.0,...,21.666667,6.500000,6.600000,11.266667,20.500000,6.133333,5,1,0,0
925,42007,1610612737,ATL,Atlanta Hawks,0040700106,2008-05-02,ATL @ BOS,L,239.0,85.0,...,22.000000,7.967742,3.709677,10.516129,18.451613,4.580645,6,1,0,1
935,42007,1610612737,ATL,Atlanta Hawks,0040700107,2008-05-04,ATL @ BOS,W,240.0,103.0,...,20.862069,9.379310,4.551724,11.862069,18.896552,2.344828,7,1,0,0

In [91]:
last_rows_per_team_year['year_1'] = last_rows_per_team_year['year'] + 1
last_rows_per_team_year

,TEAM_ABBREVIATION,year,SEASON_ID,TEAM_ID,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game,year_1
0,ATL,2008,42007,1610612737,Atlanta Hawks,0040700107,2008-05-04,ATL @ BOS,W,240.0,...,9.379310,4.551724,11.862069,18.896552,2.344828,7,1,0,0,2009
1,ATL,2009,42008,1610612737,Atlanta Hawks,0040800204,2009-05-11,ATL @ CLE,L,241.0,...,7.566667,5.266667,11.466667,21.100000,0.466667,4,2,0,1,2010
2,ATL,2010,42009,1610612737,Atlanta Hawks,0040900214,2010-05-10,ATL @ ORL,L,240.0,...,7.586207,5.551724,12.655172,19.931034,4.896552,4,2,0,1,2011
3,ATL,2011,42010,1610612737,Atlanta Hawks,0041000206,2011-05-12,ATL @ CHI,L,241.0,...,6.692308,4.615385,13.615385,20.115385,6.692308,6,2,0,1,2012
4,ATL,2012,42011,1610612737,Atlanta Hawks,0041100136,2012-05-10,ATL @ BOS,W,239.0,...,5.812500,5.687500,14.593750,15.062500,1.062500,6,1,0,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,WAS,2014,42013,1610612764,Washington Wizards,0041300206,2014-05-15,IND @ WAS,W,242.0,...,6.133333,4.933333,14.166667,21.066667,-2.166667,6,2,0,1,2015
332,WAS,2015,42014,1610612764,Washington Wizards,0041400206,2015-05-15,ATL @ WAS,L,240.0,...,9.161290,5.903226,13.290323,19.935484,8.709677,6,2,0,1,2016
333,WAS,2017,42016,1610612764,Washington Wizards,0041600207,2017-05-15,BOS @ WAS,W,239.0,...,7.230769,5.153846,13.076923,19.615385,4.384615,7,2,0,0,2018
334,WAS,2018,42017,1610612764,Washington Wizards,0041700106,2018-04-27,TOR @ WAS,L,240.0,...,8.739130,5.173913,13.739130,19.956522,3.052174,6,1,0,1,2019
335,WAS,2021,42020,1610612764,Washington Wizards,0042000105,2021-06-02,PHI @ WAS,W,240.0,...,7.055556,4.750000,11.638889,18.777778,4.222222,5,1,0,0,2022

In [92]:
# Iterate through each row in df
for index, row in df.iterrows():
    # Get the corresponding row in last_rows_per_team_year
    condition = (last_rows_per_team_year['TEAM_ABBREVIATION'] == row['TEAM_ABBREVIATION']) & (last_rows_per_team_year['year_1'] == row['year'])
    matching_row = last_rows_per_team_year[condition]
    
    # Check if there's a matching row
    if not matching_row.empty:
        # Update stage_last_season with the value from last_rows_per_team_year
        df.at[index, 'stage_last_season'] = matching_row['stage'].iloc[0]
    else:
        # If conditions not met, set stage_last_season to 0
        df.at[index, 'stage_last_season'] = 0

In [93]:
df['stage_last_season'].value_counts()

1.0    967
0.0    932
2.0    699
4.0    545
3.0    383
Name: stage_last_season, dtype: int64

In [94]:
df['stage'].value_counts()

1    1838
2     970
3     478
4     240
Name: stage, dtype: int64

In [95]:
df[(df['stage_last_season'] == 0) & (df['year'] != 2003)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game,stage_last_season
176,42003,1610612752,NYK,New York Knicks,0040300111,2004-04-17,NJN @ NYK,0.25,240.0,81.75,...,9.214286,7.571429,13.857143,19.785714,11.250000,1,1,0,0,0.0
179,42003,1610612763,MEM,Memphis Grizzlies,0040300161,2004-04-17,MEM @ SAS,0.75,240.0,82.5,...,9.214286,7.571429,13.857143,19.785714,11.250000,1,1,0,0,0.0
182,42003,1610612745,HOU,Houston Rockets,0040300151,2004-04-17,HOU @ LAL,0.5,240.0,94.75,...,9.214286,7.571429,13.857143,19.785714,11.250000,1,1,0,0,0.0
188,42003,1610612748,MIA,Miami Heat,0040300131,2004-04-18,MIA @ NOH,0.75,240.0,91.25,...,9.214286,7.571429,13.857143,19.785714,11.250000,1,1,0,1,0.0
190,42003,1610612743,DEN,Denver Nuggets,0040300141,2004-04-18,DEN @ MIN,0.25,240.0,87.25,...,8.375000,4.937500,14.375000,21.250000,5.250000,1,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3490,42022,1610612747,LAL,Los Angeles Lakers,0042200236,2023-05-12,GSW @ LAL,L,241.0,106.0,...,7.857143,3.952381,14.095238,19.523810,1.047619,6,2,0,1,0.0
3494,42022,1610612747,LAL,Los Angeles Lakers,0042200311,2023-05-16,DEN @ LAL,W,240.0,122.0,...,5.833333,4.750000,13.083333,17.291667,4.583333,1,3,0,0,0.0
3498,42022,1610612747,LAL,Los Angeles Lakers,0042200312,2023-05-18,DEN @ LAL,L,240.0,126.0,...,6.782609,2.782609,13.173913,17.608696,-1.217391,2,3,0,0,0.0
3502,42022,1610612747,LAL,Los Angeles Lakers,0042200313,2023-05-20,DEN @ LAL,L,240.0,103.0,...,6.500000,6.136364,11.454545,21.818182,4.000000,3,3,0,1,0.0
3507,42022,1610612747,LAL,Los Angeles Lakers,0042200314,2023-05-22,DEN @ LAL,L,242.0,108.0,...,7.833333,5.375000,11.666667,19.125000,-1.250000,4,3,0,1,0.0

In [96]:
df[(df['TEAM_ABBREVIATION'] == 'GSW') & (df['year'] == 2014)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game,stage_last_season
1850,42013,1610612744,GSW,Golden State Warriors,0041300161,2014-04-19,GSW @ LAC,0.5,240.75,107.25,...,7.275862,5.344828,13.482759,18.724138,10.241379,1,1,0,0,2.0
1866,42013,1610612744,GSW,Golden State Warriors,0041300162,2014-04-21,GSW @ LAC,W,241.0,109.0,...,8.481481,5.925926,14.037037,24.666667,4.185185,2,1,0,0,2.0
1882,42013,1610612744,GSW,Golden State Warriors,0041300163,2014-04-24,GSW @ LAC,L,240.0,98.0,...,9.000000,5.481481,13.074074,21.518519,8.222222,3,1,0,1,2.0
1905,42013,1610612744,GSW,Golden State Warriors,0041300164,2014-04-27,GSW @ LAC,L,239.0,96.0,...,5.517241,4.827586,13.310345,19.206897,3.689655,4,1,0,1,2.0
1918,42013,1610612744,GSW,Golden State Warriors,0041300165,2014-04-29,GSW @ LAC,W,240.0,118.0,...,8.481481,5.925926,14.037037,24.666667,4.185185,5,1,0,0,2.0
1931,42013,1610612744,GSW,Golden State Warriors,0041300166,2014-05-01,GSW @ LAC,L,239.0,103.0,...,7.275862,5.344828,13.482759,18.724138,10.241379,6,1,0,1,2.0
1940,42013,1610612744,GSW,Golden State Warriors,0041300167,2014-05-03,GSW @ LAC,W,240.0,100.0,...,7.866667,4.500000,13.466667,18.600000,3.933333,7,1,0,0,2.0

In [97]:
import pandas as pd

# Assuming your DataFrame is named df

# Define a dictionary mapping each team to its corresponding stage_last_season value
team_stage_map = {
    'Los Angeles Lakers': 4,
    'New Jersey Nets': 4,
    'Boston Celtics': 3,
    'Sacramento Kings': 3,
    'Detroit Pistons': 2,
    'Charlotte Hornets': 2,
    'San Antonio Spurs': 2,
    'Dallas Mavericks': 2,
    'Philadelphia 76ers': 1,
    'Orlando Magic': 1,
    'Toronto Raptors': 1,
    'Indiana Pacers': 1,
    'Minnesota Timberwolves': 1,
    'Portland Trail Blazers': 1,
    'Utah Jazz': 1,
    'Seattle SuperSonics': 1
}

# Update stage_last_season column based on year = 2023 and team_name in the teams above
mask = (df['year'] == 2023) & (df['TEAM_NAME'].isin(team_stage_map.keys()))
df.loc[mask, 'stage_last_season'] = df.loc[mask, 'TEAM_NAME'].map(team_stage_map)

# Display the updated DataFrame
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game,stage_last_season
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1,0.0
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,0,0.0
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,0,0.0
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1,0.0
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,6.521739,5.217391,12.173913,18.304348,7.521739,3,4,0,0,1.0
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,7.458333,4.458333,15.541667,19.916667,5.958333,4,4,0,1,3.0
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,7.523810,5.523810,10.952381,20.142857,4.666667,4,4,0,0,1.0
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,7.363636,4.545455,12.681818,18.863636,4.818182,5,4,0,1,1.0
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,7.347826,4.782609,12.695652,18.217391,1.956522,5,4,0,0,3.0

In [98]:
df['stage_last_season'].value_counts()

1.0    978
0.0    909
2.0    688
4.0    541
3.0    410
Name: stage_last_season, dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3526 entries, 0 to 3525
Data columns (total 93 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SEASON_ID                 3526 non-null   object
 1   TEAM_ID                   3526 non-null   int64
 2   TEAM_ABBREVIATION         3526 non-null   object
 3   TEAM_NAME                 3526 non-null   object
 4   GAME_ID                   3526 non-null   object
 5   GAME_DATE                 3526 non-null   datetime64[ns]
 6   MATCHUP                   3526 non-null   object
 7   WL                        3526 non-null   object
 8   MIN                       3526 non-null   object
 9   PTS                       3526 non-null   object
 10  FGM                       3526 non-null   object
 11  FGA                       3526 non-null   object
 12  FG_PCT                    3526 non-null   object
 13  FG3M                      3526 non-null   object
 14  FG3A                      3526 non-null   object
 15  FG3_PCT                   3526 non-null   object
 16  FTM                       3526 non-null   object
 17  FTA                       3526 non-null   object
 18  FT_PCT                    3526 non-null   object
 19  OREB                      3526 non-null   object
 20  DREB                      3526 non-null   object
 21  REB                       3526 non-null   object
 22  AST                       3526 non-null   object
 23  STL                       3526 non-null   object
 24  BLK                       3526 non-null   object
 25  TOV                       3526 non-null   object
 26  PF                        3526 non-null   object
 27  PLUS_MINUS                3526 non-null   object
 28  year                      3526 non-null   int64
 29  month                     3526 non-null   int64
 30  day                       3526 non-null   int64
 31  day_of_week               3526 non-null   object
 32  hebrew_year               3526 non-null   int64
 33  GP                        3526 non-null   int64
 34  WINS                      3526 non-null   int64
 35  LOSSES                    3526 non-null   int64
 36  WIN_PCT                   3526 non-null   float64
 37  CONF_RANK                 3526 non-null   int64
 38  DIV_RANK                  3526 non-null   int64
 39  PO_WINS                   3526 non-null   int64
 40  PO_LOSSES                 3526 non-null   int64
 41  CONF_COUNT                3526 non-null   float64
 42  DIV_COUNT                 3526 non-null   int64
 43  NBA_FINALS_APPEARANCE     3526 non-null   object
 44  S_FGM                     3526 non-null   int64
 45  S_FGA                     3526 non-null   int64
 46  S_FG_PCT                  3526 non-null   float64
 47  S_FG3M                    3526 non-null   int64
 48  S_FG3A                    3526 non-null   int64
 49  S_FG3_PCT                 3526 non-null   float64
 50  S_FTM                     3526 non-null   int64
 51  S_FTA                     3526 non-null   int64
 52  S_FT_PCT                  3526 non-null   float64
 53  S_OREB                    3526 non-null   int64
 54  S_DREB                    3526 non-null   int64
 55  S_REB                     3526 non-null   int64
 56  S_AST                     3526 non-null   int64
 57  S_PF                      3526 non-null   int64
 58  S_STL                     3526 non-null   int64
 59  S_TOV                     3526 non-null   int64
 60  S_BLK                     3526 non-null   int64
 61  S_PTS                     3526 non-null   int64
 62  PTS_RANK                  3526 non-null   int64
 63  rest_days                 3526 non-null   float64
 64  game_count                3526 non-null   int64
 65  OT                        3526 non-null   object
 66  SEASON_ID_last_2          3526 non-null   object
 67  WL_post_all_star          3526 non-null   float64
 68  MIN_post_all_star         3526 non-null   float64
 69  PTS_post_all_star         3526 non-null   float64
 70  FGM_post_all_star         3526 non-null   float64
 71  FGA_post_all_star         3526 non-null   float64
 72  FG_PCT_post_all_star      3526 non-null   float64
 73  FG3M_post_all_star        3526 non-null   float64
 74  FG3A_post_all_star        3526 non-null   float64
 75  FG3_PCT_post_all_star     3526 non-null   float64
 76  FTM_post_all_star         3526 non-null   float64
 77  FTA_post_all_star         3526 non-null   float64
 78  FT_PCT_post_all_star      3526 non-null   float64
 79  OREB_post_all_star        3526 non-null   float64
 80  DREB_post_all_star        3526 non-null   float64
 81  REB_post_all_star         3526 non-null   float64
 82  AST_post_all_star         3526 non-null   float64
 83  STL_post_all_star         3526 non-null   float64
 84  BLK_post_all_star         3526 non-null   float64
 85  TOV_post_all_star         3526 non-null   float64
 86  PF_post_all_star          3526 non-null   float64
 87  PLUS_MINUS_post_all_star  3526 non-null   float64
 88  game_series               3526 non-null   int64
 89  stage                     3526 non-null   object
 90  last_champ                3526 non-null   int64
 91  home_game                 3526 non-null   int64
 92  stage_last_season         3526 non-null   float64
dtypes: datetime64[ns](1), float64(28), int64(33), object(31)
memory usage: 2.7+ MB

In [100]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL_post_all_star,BLK_post_all_star,TOV_post_all_star,PF_post_all_star,PLUS_MINUS_post_all_star,game_series,stage,last_champ,home_game,stage_last_season
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1,0.0
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,0,0.0
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,0,0.0
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,8.515152,4.272727,14.303030,20.848485,1.696970,1,1,0,1,0.0
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,8.818182,5.575758,15.181818,19.242424,7.090909,1,1,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,6.521739,5.217391,12.173913,18.304348,7.521739,3,4,0,0,1.0
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,7.458333,4.458333,15.541667,19.916667,5.958333,4,4,0,1,3.0
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,7.523810,5.523810,10.952381,20.142857,4.666667,4,4,0,0,1.0
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,7.363636,4.545455,12.681818,18.863636,4.818182,5,4,0,1,1.0
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,7.347826,4.782609,12.695652,18.217391,1.956522,5,4,0,0,3.0

In [101]:
# Create new columns with 'o' appended to the names
new_columns = ['PTS_O', 'FGM_O', 'FGA_O', 'FG_PCT_O', 'FG3M_O', 'FG3A_O', 'FG3_PCT_O',
               'FTM_O', 'FTA_O', 'FT_PCT_O', 'OREB_O', 'DREB_O', 'REB_O', 'AST_O',
               'STL_O', 'BLK_O', 'TOV_O', 'PF_O', 'PLUS_MINUS_O']

# Function to get data for 'TEAM_ABBREVIATION' == 'TEAM_2'
def get_opponent_data(row):
    game_id = row['GAME_ID']
    team_2_row = df[(df['GAME_ID'] == game_id) & (df['TEAM_ABBREVIATION'] != row['TEAM_ABBREVIATION'])]
    if not team_2_row.empty:
        return team_2_row.iloc[0][['PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
               'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
               'STL', 'BLK', 'TOV', 'PF','PLUS_MINUS']]  
    else:
        return pd.Series([None] * len(new_columns))

# Apply the function to create new columns
df[new_columns] = df.apply(get_opponent_data, axis=1)

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT_O,OREB_O,DREB_O,REB_O,AST_O,STL_O,BLK_O,TOV_O,PF_O,PLUS_MINUS_O
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.79100,13.50,26.25,39.75,17.50,8.75,4.25,14.25,23.75,3.25
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,0.80075,9.00,30.00,39.00,25.75,9.25,5.00,14.25,20.25,1.50
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.71850,13.25,27.75,41.00,21.50,8.75,6.75,17.00,20.00,-3.25
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.64550,10.00,31.00,41.00,18.50,7.00,5.25,13.00,23.00,-8.00
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.80450,8.00,28.00,36.00,23.00,8.25,5.50,12.00,24.00,-0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.90000,8.00,23.00,31.00,28.00,5.00,4.00,11.00,22.00,3.00
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.81500,13.00,45.00,58.00,28.00,3.00,5.00,13.00,18.00,15.00
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.78900,10.00,23.00,33.00,20.00,7.00,3.00,4.00,22.00,-15.00
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.85000,8.00,29.00,37.00,23.00,2.00,3.00,14.00,19.00,-13.00
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,0.76200,5.00,29.00,34.00,26.00,11.00,7.00,6.00,18.00,13.00

In [102]:
selected_columns = ['GAME_ID', 'PTS', 'PTS_O', 'OREB', 'OREB_O', 'DREB', 'DREB_O',
                    'REB', 'REB_O', 'AST', 'AST_O', 'STL', 'STL_O', 'BLK', 'BLK_O',
                    'TOV', 'TOV_O', 'PF', 'PF_O','PLUS_MINUS_O']

df_selected = df[selected_columns].sort_values(by = 'GAME_ID')

df_selected

,GAME_ID,PTS,PTS_O,OREB,OREB_O,DREB,DREB_O,REB,REB_O,AST,AST_O,STL,STL_O,BLK,BLK_O,TOV,TOV_O,PF,PF_O,PLUS_MINUS_O
10,0040200101,92.666667,99.333333,11.666667,11.000000,28.333333,30.333333,40.0,41.333333,17.0,23.0,9.666667,5.666667,2.333333,4.000000,12.666667,15.000000,23.666667,23.000000,6.666667
13,0040200101,99.333333,92.666667,11.0,11.666667,30.333333,28.333333,41.333333,40.000000,23.0,17.0,5.666667,9.666667,4.0,2.333333,15.0,12.666667,23.0,23.666667,-6.666667
27,0040200102,94.0,99.000000,9.0,8.000000,34.0,36.000000,43.0,44.000000,15.0,18.0,8.0,3.000000,3.0,6.000000,8.0,11.000000,20.0,35.000000,5.000000
31,0040200102,99.0,94.000000,8.0,9.000000,36.0,34.000000,44.0,43.000000,18.0,15.0,3.0,8.000000,6.0,3.000000,11.0,8.000000,35.0,20.000000,-5.000000
38,0040200103,77.0,89.000000,5.0,12.000000,25.0,35.000000,30.0,47.000000,15.0,20.0,7.0,7.000000,1.0,8.000000,15.0,16.000000,29.0,24.000000,12.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,0042200403,108.0,111.000000,9.0,8.000000,29.0,23.000000,38.0,31.000000,23.0,28.0,7.0,5.000000,2.0,4.000000,13.0,11.000000,21.0,22.000000,3.000000
3522,0042200404,94.0,109.000000,10.0,13.000000,23.0,45.000000,33.0,58.000000,20.0,28.0,7.0,3.000000,3.0,5.000000,4.0,13.000000,22.0,18.000000,15.000000
3523,0042200404,109.0,94.000000,13.0,10.000000,45.0,23.000000,58.0,33.000000,28.0,20.0,3.0,7.000000,5.0,3.000000,13.0,4.000000,18.0,22.000000,-15.000000
3524,0042200405,108.0,95.000000,5.0,8.000000,29.0,29.000000,34.0,37.000000,26.0,23.0,11.0,2.000000,7.0,3.000000,6.0,14.000000,18.0,19.000000,-13.000000
3525,0042200405,95.0,108.000000,8.0,5.000000,29.0,29.000000,37.0,34.000000,23.0,26.0,2.0,11.000000,3.0,7.000000,14.0,6.000000,19.0,18.000000,13.000000

In [103]:
# File path to the CSV file
file_path = "C:/Users/yonatanam/Desktop/NBA/Data/opponent_avg_by_year_data.csv"

# Read the CSV file into a DataFrame
opponent_avg_by_year_data = pd.read_csv(file_path)

# Display the DataFrame
opponent_avg_by_year_data

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1.0,Detroit Pistons*,82,242.7,33.5,76.5,0.438,3.5,10.2,0.344,...,10.5,30.8,41.3,18.3,6.9,4.3,14.0,23.2,87.7,2002
1,2.0,New Jersey Nets*,82,240.9,33.6,78.8,0.427,5.2,14.5,0.359,...,11.4,30.0,41.4,19.6,8.5,5.2,16.6,22.9,90.1,2002
2,3.0,San Antonio Spurs*,82,241.8,34.9,81.7,0.427,4.3,12.7,0.339,...,12.5,28.3,40.9,19.0,8.1,5.1,15.0,23.4,90.4,2002
3,4.0,Miami Heat,82,241.8,33.1,75.7,0.437,5.0,14.0,0.353,...,10.6,31.5,42.2,18.1,7.6,5.3,14.3,20.4,90.6,2002
4,5.0,New Orleans Hornets*,82,242.7,34.8,79.5,0.438,4.1,12.2,0.338,...,11.1,28.9,40.0,19.9,7.9,5.2,14.6,21.4,91.8,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,27.0,Detroit Pistons,82,241.5,43.1,88.1,0.489,12.0,33.3,0.360,...,11.0,33.7,44.7,25.8,7.7,5.5,13.5,21.0,118.5,2022
645,28.0,Houston Rockets,82,240.9,42.4,88.1,0.482,14.5,38.8,0.374,...,10.5,31.0,41.5,26.1,8.8,6.2,13.2,20.6,118.6,2022
646,29.0,Indiana Pacers,82,240.9,43.3,89.3,0.485,12.4,33.3,0.373,...,12.1,33.2,45.3,26.4,7.9,5.3,15.1,20.2,119.5,2022
647,30.0,San Antonio Spurs,82,242.1,46.1,91.0,0.507,12.6,32.3,0.391,...,10.7,34.3,45.0,26.8,8.1,5.3,13.8,18.5,123.1,2022
648,NaN,League Average,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,...,10.4,33.0,43.4,25.3,7.3,4.7,14.1,20.0,114.7,2022

In [104]:
opponent_avg_by_year_data.columns

Index(['Rk', 'Team', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'Year'],
      dtype='object')

In [105]:
opponent_avg_by_year_data['Year'] += 1

In [106]:
columns_to_rename = ['FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 
                  'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 
                  'BLK', 'TOV', 'PF', 'PTS']

In [107]:
# Create a dictionary to map old column names to new column names
column_mapping = {old_col: old_col + '_S_O' for old_col in columns_to_rename}

# Rename columns in opponent_avg_by_year_data
opponent_avg_by_year_data.rename(columns=column_mapping, inplace=True)

# Check the updated opponent_avg_by_year_data

opponent_avg_by_year_data

,Rk,Team,G,MP,FG_S_O,FGA_S_O,FG%_S_O,3P_S_O,3PA_S_O,3P%_S_O,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
0,1.0,Detroit Pistons*,82,242.7,33.5,76.5,0.438,3.5,10.2,0.344,...,10.5,30.8,41.3,18.3,6.9,4.3,14.0,23.2,87.7,2003
1,2.0,New Jersey Nets*,82,240.9,33.6,78.8,0.427,5.2,14.5,0.359,...,11.4,30.0,41.4,19.6,8.5,5.2,16.6,22.9,90.1,2003
2,3.0,San Antonio Spurs*,82,241.8,34.9,81.7,0.427,4.3,12.7,0.339,...,12.5,28.3,40.9,19.0,8.1,5.1,15.0,23.4,90.4,2003
3,4.0,Miami Heat,82,241.8,33.1,75.7,0.437,5.0,14.0,0.353,...,10.6,31.5,42.2,18.1,7.6,5.3,14.3,20.4,90.6,2003
4,5.0,New Orleans Hornets*,82,242.7,34.8,79.5,0.438,4.1,12.2,0.338,...,11.1,28.9,40.0,19.9,7.9,5.2,14.6,21.4,91.8,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,27.0,Detroit Pistons,82,241.5,43.1,88.1,0.489,12.0,33.3,0.360,...,11.0,33.7,44.7,25.8,7.7,5.5,13.5,21.0,118.5,2023
645,28.0,Houston Rockets,82,240.9,42.4,88.1,0.482,14.5,38.8,0.374,...,10.5,31.0,41.5,26.1,8.8,6.2,13.2,20.6,118.6,2023
646,29.0,Indiana Pacers,82,240.9,43.3,89.3,0.485,12.4,33.3,0.373,...,12.1,33.2,45.3,26.4,7.9,5.3,15.1,20.2,119.5,2023
647,30.0,San Antonio Spurs,82,242.1,46.1,91.0,0.507,12.6,32.3,0.391,...,10.7,34.3,45.0,26.8,8.1,5.3,13.8,18.5,123.1,2023
648,NaN,League Average,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,...,10.4,33.0,43.4,25.3,7.3,4.7,14.1,20.0,114.7,2023

In [108]:
opponent_avg_by_year_data.columns

Index(['Rk', 'Team', 'G', 'MP', 'FG_S_O', 'FGA_S_O', 'FG%_S_O', '3P_S_O',
       '3PA_S_O', '3P%_S_O', '2P_S_O', '2PA_S_O', '2P%_S_O', 'FT_S_O',
       'FTA_S_O', 'FT%_S_O', 'ORB_S_O', 'DRB_S_O', 'TRB_S_O', 'AST_S_O',
       'STL_S_O', 'BLK_S_O', 'TOV_S_O', 'PF_S_O', 'PTS_S_O', 'Year'],
      dtype='object')

In [109]:
opponent_avg_by_year_data['Team'].unique()

array(['Detroit Pistons*', 'New Jersey Nets*', 'San Antonio Spurs*',
       'Miami Heat', 'New Orleans Hornets*', 'Utah Jazz*',
       'Seattle SuperSonics', 'Houston Rockets', 'Denver Nuggets',
       'Washington Wizards', 'Portland Trail Blazers*', 'Boston Celtics*',
       'Indiana Pacers*', 'Phoenix Suns*', 'Philadelphia 76ers*',
       'Dallas Mavericks*', 'Sacramento Kings*',
       'Minnesota Timberwolves*', 'Toronto Raptors', 'New York Knicks',
       'Atlanta Hawks', 'Los Angeles Clippers', 'Los Angeles Lakers*',
       'Orlando Magic*', 'Milwaukee Bucks*', 'Chicago Bulls',
       'Memphis Grizzlies', 'Cleveland Cavaliers',
       'Golden State Warriors', 'League Average', 'Houston Rockets*',
       'Miami Heat*', 'Utah Jazz', 'Philadelphia 76ers',
       'Portland Trail Blazers', 'New York Knicks*', 'Memphis Grizzlies*',
       'Denver Nuggets*', 'Phoenix Suns', 'Orlando Magic',
       'Chicago Bulls*', 'Minnesota Timberwolves', 'New Orleans Hornets',
       'Seattle SuperSonics*', 'Milwaukee Bucks', 'Charlotte Bobcats',
       'Washington Wizards*', 'Los Angeles Lakers',
       'Cleveland Cavaliers*', 'Los Angeles Clippers*',
       'New Orleans/Oklahoma City Hornets', 'Boston Celtics',
       'Indiana Pacers', 'Toronto Raptors*', 'Sacramento Kings',
       'Golden State Warriors*', 'Atlanta Hawks*', 'New Jersey Nets',
       'Oklahoma City Thunder', 'Charlotte Bobcats*',
       'Oklahoma City Thunder*', 'Detroit Pistons', 'Brooklyn Nets*',
       'Dallas Mavericks', 'New Orleans Pelicans', 'Charlotte Hornets',
       'New Orleans Pelicans*', 'Charlotte Hornets*', 'Brooklyn Nets',
       'San Antonio Spurs'], dtype=object)

In [110]:
opponent_avg_by_year_data['Team'] = opponent_avg_by_year_data['Team'].str.replace('*', '')
opponent_avg_by_year_data

C:\Users\yonatanam\AppData\Local\Temp\ipykernel_21704\805734566.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  opponent_avg_by_year_data['Team'] = opponent_avg_by_year_data['Team'].str.replace('*', '')

,Rk,Team,G,MP,FG_S_O,FGA_S_O,FG%_S_O,3P_S_O,3PA_S_O,3P%_S_O,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
0,1.0,Detroit Pistons,82,242.7,33.5,76.5,0.438,3.5,10.2,0.344,...,10.5,30.8,41.3,18.3,6.9,4.3,14.0,23.2,87.7,2003
1,2.0,New Jersey Nets,82,240.9,33.6,78.8,0.427,5.2,14.5,0.359,...,11.4,30.0,41.4,19.6,8.5,5.2,16.6,22.9,90.1,2003
2,3.0,San Antonio Spurs,82,241.8,34.9,81.7,0.427,4.3,12.7,0.339,...,12.5,28.3,40.9,19.0,8.1,5.1,15.0,23.4,90.4,2003
3,4.0,Miami Heat,82,241.8,33.1,75.7,0.437,5.0,14.0,0.353,...,10.6,31.5,42.2,18.1,7.6,5.3,14.3,20.4,90.6,2003
4,5.0,New Orleans Hornets,82,242.7,34.8,79.5,0.438,4.1,12.2,0.338,...,11.1,28.9,40.0,19.9,7.9,5.2,14.6,21.4,91.8,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,27.0,Detroit Pistons,82,241.5,43.1,88.1,0.489,12.0,33.3,0.360,...,11.0,33.7,44.7,25.8,7.7,5.5,13.5,21.0,118.5,2023
645,28.0,Houston Rockets,82,240.9,42.4,88.1,0.482,14.5,38.8,0.374,...,10.5,31.0,41.5,26.1,8.8,6.2,13.2,20.6,118.6,2023
646,29.0,Indiana Pacers,82,240.9,43.3,89.3,0.485,12.4,33.3,0.373,...,12.1,33.2,45.3,26.4,7.9,5.3,15.1,20.2,119.5,2023
647,30.0,San Antonio Spurs,82,242.1,46.1,91.0,0.507,12.6,32.3,0.391,...,10.7,34.3,45.0,26.8,8.1,5.3,13.8,18.5,123.1,2023
648,NaN,League Average,82,241.8,42.0,88.3,0.475,12.3,34.2,0.361,...,10.4,33.0,43.4,25.3,7.3,4.7,14.1,20.0,114.7,2023

In [111]:
opponent_avg_by_year_data.loc[opponent_avg_by_year_data['Year'] <= 2015, 'Team'] = opponent_avg_by_year_data['Team'].replace('LA Clippers', 'Los Angeles Clippers')
opponent_avg_by_year_data.loc[opponent_avg_by_year_data['Year'] > 2015, 'Team'] = opponent_avg_by_year_data['Team'].replace('Los Angeles Clippers', 'LA Clippers')

In [112]:
opponent_avg_by_year_data['Team'].unique()

array(['Detroit Pistons', 'New Jersey Nets', 'San Antonio Spurs',
       'Miami Heat', 'New Orleans Hornets', 'Utah Jazz',
       'Seattle SuperSonics', 'Houston Rockets', 'Denver Nuggets',
       'Washington Wizards', 'Portland Trail Blazers', 'Boston Celtics',
       'Indiana Pacers', 'Phoenix Suns', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Sacramento Kings', 'Minnesota Timberwolves',
       'Toronto Raptors', 'New York Knicks', 'Atlanta Hawks',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Orlando Magic',
       'Milwaukee Bucks', 'Chicago Bulls', 'Memphis Grizzlies',
       'Cleveland Cavaliers', 'Golden State Warriors', 'League Average',
       'Charlotte Bobcats', 'New Orleans/Oklahoma City Hornets',
       'Oklahoma City Thunder', 'Brooklyn Nets', 'New Orleans Pelicans',
       'Charlotte Hornets', 'LA Clippers'], dtype=object)

In [113]:
# Merge df and opponent_avg_by_year_data based on 'TEAM_NAME' and 'year' columns
df = pd.merge(df, opponent_avg_by_year_data, left_on=['TEAM_NAME', 'year'], right_on=['Team', 'Year'], how='left')

# Display the updated DataFrame
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,12.5,28.3,40.9,19.0,8.1,5.1,15.0,23.4,90.4,2003
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,12.3,25.9,38.2,19.5,8.8,5.2,15.9,23.8,92.3,2003
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,12.6,30.3,42.9,22.2,7.8,5.5,16.0,21.5,94.4,2003
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,12.3,30.0,42.2,20.7,7.6,6.3,15.3,23.5,93.3,2003
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,11.4,30.0,41.4,19.6,8.5,5.2,16.6,22.9,90.1,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,2023
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8,2023
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,2023
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,2023
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8,2023

In [114]:
df.drop(['Rk', 'Team', 'G', 'MP', 'Year'], axis=1, inplace=True)
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT%_S_O,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.768,12.5,28.3,40.9,19.0,8.1,5.1,15.0,23.4,90.4
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,0.759,12.3,25.9,38.2,19.5,8.8,5.2,15.9,23.8,92.3
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.766,12.6,30.3,42.9,22.2,7.8,5.5,16.0,21.5,94.4
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.767,12.3,30.0,42.2,20.7,7.6,6.3,15.3,23.5,93.3
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.749,11.4,30.0,41.4,19.6,8.5,5.2,16.6,22.9,90.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.775,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.781,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.775,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.775,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,0.781,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8

In [115]:
opponent_avg_by_year_data[(opponent_avg_by_year_data['Team']=='Dallas Mavericks') & (opponent_avg_by_year_data['Year']==2003)]

,Rk,Team,G,MP,FG_S_O,FGA_S_O,FG%_S_O,3P_S_O,3PA_S_O,3P%_S_O,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
15,16.0,Dallas Mavericks,82,241.2,35.7,81.5,0.438,5.8,17.1,0.34,...,12.7,32.7,45.5,21.7,6.7,3.9,16.0,21.3,95.2,2003

In [116]:
opponent_avg_by_year_data[(opponent_avg_by_year_data['Team']=='Denver Nuggets') & (opponent_avg_by_year_data['Year']==2023)]

,Rk,Team,G,MP,FG_S_O,FGA_S_O,FG%_S_O,3P_S_O,3PA_S_O,3P%_S_O,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
625,8.0,Denver Nuggets,82,240.9,41.7,87.4,0.478,11.4,33.1,0.344,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,2023

In [117]:
def extract_opponent(matchup, team_abbreviation):
    teams = [team.strip() for team in matchup.split('@' if '@' in matchup else 'vs')]
    return next(team for team in teams if team != team_abbreviation)

# Extract opponent team abbreviation for each row
df['MATCHUP_TEAM'] = df.apply(lambda row: extract_opponent(row['MATCHUP'], row['TEAM_ABBREVIATION']), axis=1)

# Display the DataFrame with the extracted opponent team abbreviation

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,MATCHUP_TEAM
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,12.5,28.3,40.9,19.0,8.1,5.1,15.0,23.4,90.4,PHX
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,12.3,25.9,38.2,19.5,8.8,5.2,15.9,23.8,92.3,SAC
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,12.6,30.3,42.9,22.2,7.8,5.5,16.0,21.5,94.4,SAS
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,12.3,30.0,42.2,20.7,7.6,6.3,15.3,23.5,93.3,BOS
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,11.4,30.0,41.4,19.6,8.5,5.2,16.6,22.9,90.1,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,MIA
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8,DEN
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,MIA
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,MIA
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8,DEN

In [118]:
# Define the list of columns to extract from
columns_to_extract = ['FG_S_O', 'FGA_S_O', 'FG%_S_O', '3P_S_O',
                      '3PA_S_O', '3P%_S_O', '2P_S_O', '2PA_S_O', '2P%_S_O', 
                      'FT_S_O', 'FTA_S_O', 'FT%_S_O', 'ORB_S_O', 'DRB_S_O', 
                      'TRB_S_O', 'AST_S_O', 'STL_S_O', 'BLK_S_O', 'TOV_S_O', 
                      'PF_S_O', 'PTS_S_O']

# Iterate over each row
for index, row in df.iterrows():
    # Get the team abbreviation and season ID from the current row
    matchup_team = row['MATCHUP_TEAM']
    season_id = row['SEASON_ID']
    
    # Find the rows where conditions match
    matching_rows = df[(df['TEAM_ABBREVIATION'] == matchup_team) & (df['SEASON_ID'] == season_id)]
    
    # Store the corresponding statistics from the matching rows
    for column in columns_to_extract:
        new_column_name = 'O_' + column
        if not matching_rows.empty:
            df.at[index, new_column_name] = matching_rows.iloc[0][column]
        else:
            df.at[index, new_column_name] = np.nan

# Display the DataFrame with the new columns

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,O_FT%_S_O,O_ORB_S_O,O_DRB_S_O,O_TRB_S_O,O_AST_S_O,O_STL_S_O,O_BLK_S_O,O_TOV_S_O,O_PF_S_O,O_PTS_S_O
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.766,12.6,30.3,42.9,22.2,7.8,5.5,16.0,21.5,94.4
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,0.741,14.0,31.9,45.8,21.5,8.3,4.3,15.4,19.9,95.2
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.768,12.5,28.3,40.9,19.0,8.1,5.1,15.0,23.4,90.4
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.749,11.4,33.5,45.0,22.2,7.5,4.5,16.0,21.9,93.1
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.745,12.5,31.0,43.4,23.1,6.6,4.1,14.4,20.5,99.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.781,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.775,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.781,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.781,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,0.775,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5

In [119]:
opponent_avg_by_year_data[(opponent_avg_by_year_data['Team']=='Milwaukee Bucks') & (opponent_avg_by_year_data['Year']==2003)]

,Rk,Team,G,MP,FG_S_O,FGA_S_O,FG%_S_O,3P_S_O,3PA_S_O,3P%_S_O,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
24,25.0,Milwaukee Bucks,82,242.7,37.1,81.0,0.458,5.8,15.6,0.375,...,12.5,31.0,43.4,23.1,6.6,4.1,14.4,20.5,99.3,2003

In [120]:
opponent_avg_by_year_data[(opponent_avg_by_year_data['Team']=='Denver Nuggets') & (opponent_avg_by_year_data['Year']==2023)]

,Rk,Team,G,MP,FG_S_O,FGA_S_O,FG%_S_O,3P_S_O,3PA_S_O,3P%_S_O,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
625,8.0,Denver Nuggets,82,240.9,41.7,87.4,0.478,11.4,33.1,0.344,...,10.1,30.7,40.8,25.7,7.9,4.2,13.5,19.5,112.5,2023

In [121]:
opponent_avg_by_year_data[(opponent_avg_by_year_data['Team']=='Miami Heat') & (opponent_avg_by_year_data['Year']==2023)]

,Rk,Team,G,MP,FG_S_O,FGA_S_O,FG%_S_O,3P_S_O,3PA_S_O,3P%_S_O,...,ORB_S_O,DRB_S_O,TRB_S_O,AST_S_O,STL_S_O,BLK_S_O,TOV_S_O,PF_S_O,PTS_S_O,Year
619,2.0,Miami Heat,82,241.5,40.1,83.2,0.482,13.1,35.8,0.367,...,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8,2023

In [122]:
# Create an empty DataFrame to store the filtered games
filtered_games2 = pd.DataFrame(columns=all_regular_season_games.columns)

# Combine filtering conditions from all rows in df
combined_conditions = None
for index, row in df[['SEASON_ID', 'TEAM_ABBREVIATION', 'MATCHUP']].iterrows():
    # Extract the last two digits of the season ID
    season_id_last_two_digits = row['SEASON_ID'][-2:]
    
    # Extract the team abbreviations from the matchup
    team_abbrs = row['MATCHUP'].split(' @ ')
    team1_abbr, team2_abbr = team_abbrs
    
    # Construct filtering conditions
    conditions = (
        (all_regular_season_games['SEASON_ID'].str[-2:] == season_id_last_two_digits) &
        (
            ((all_regular_season_games['MATCHUP'].str.contains(team1_abbr)) & 
             (all_regular_season_games['MATCHUP'].str.contains(team2_abbr))) |
            ((all_regular_season_games['MATCHUP'].str.contains(team2_abbr)) & 
             (all_regular_season_games['MATCHUP'].str.contains('@ ' + team1_abbr)))
        ) &
        (all_regular_season_games['TEAM_ABBREVIATION'] == row['TEAM_ABBREVIATION'])
    )
    
    # Combine conditions with OR for each iteration
    if combined_conditions is None:
        combined_conditions = conditions
    else:
        combined_conditions |= conditions

# Apply combined conditions to filter all_regular_season_games
filtered_games2 = all_regular_season_games[combined_conditions]

# Reset the index of the filtered DataFrame
filtered_games2.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
filtered_games2

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22002,1610612758,SAC,Sacramento Kings,0020201186,2003-04-16,SAC @ UTA,1,240,95,...,0.810,15,30,45,29,8,5,12,16,11.0
1,22002,1610612742,DAL,Dallas Mavericks,0020201184,2003-04-16,DAL @ SAS,1,240,93,...,0.875,9,35,44,28,12,2,10,18,21.0
2,22002,1610612762,UTA,Utah Jazz,0020201186,2003-04-16,UTA @ SAC,0,240,84,...,0.688,13,29,42,25,7,2,17,22,-11.0
3,22002,1610612759,SAS,San Antonio Spurs,0020201184,2003-04-16,DAL @ SAS,0,239,72,...,0.889,7,36,43,14,5,3,21,19,-21.0
4,22002,1610612740,NOH,New Orleans Hornets,0020201161,2003-04-13,NOH @ PHI,1,240,94,...,0.720,17,28,45,22,9,1,21,28,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2253,22022,1610612738,BOS,Boston Celtics,0022200022,2022-10-21,BOS @ MIA,1,241,111,...,1.000,12,31,43,17,4,11,19,23,7.0
2254,22022,1610612738,BOS,Boston Celtics,0022200001,2022-10-18,BOS @ PHI,1,240,126,...,0.786,6,30,36,24,8,3,10,24,9.0
2255,22022,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18,LAL @ GSW,0,241,109,...,0.760,9,39,48,23,12,4,21,18,-14.0
2256,22022,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18,GSW @ LAL,1,241,123,...,0.739,11,37,48,31,11,4,18,23,14.0
2257,22022,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18,PHI @ BOS,0,239,117,...,0.857,4,27,31,16,8,3,14,25,-9.0

In [123]:
filtered_games2[(filtered_games2['TEAM_ABBREVIATION']=='BOS')&(filtered_games2['SEASON_ID']=='22002')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
20,22002,1610612738,BOS,Boston Celtics,0020200973,2003-03-19,BOS @ IND,0,239,72,...,0.692,12,30,42,16,5,6,13,20,-30.0
22,22002,1610612738,BOS,Boston Celtics,0020200961,2003-03-18,BOS @ NJN,0,238,74,...,0.826,12,40,52,19,3,1,20,20,-13.0
29,22002,1610612738,BOS,Boston Celtics,0020200930,2003-03-13,BOS @ NJN,0,241,75,...,0.700,13,29,42,13,8,6,20,24,-15.0
40,22002,1610612738,BOS,Boston Celtics,0020200821,2003-02-26,BOS @ IND,1,240,71,...,0.650,8,33,41,13,12,2,15,22,2.0
53,22002,1610612738,BOS,Boston Celtics,0020200669,2003-02-01,BOS @ IND,0,240,100,...,0.769,7,31,38,21,8,8,14,25,-9.0
61,22002,1610612738,BOS,Boston Celtics,0020200556,2003-01-17,BOS @ IND,1,241,98,...,0.471,13,30,43,24,3,5,10,25,5.0
75,22002,1610612738,BOS,Boston Celtics,0020200403,2002-12-25,BOS @ NJN,0,241,81,...,0.806,9,23,32,11,6,3,18,24,-36.0
99,22002,1610612738,BOS,Boston Celtics,0020200156,2002-11-20,BOS @ NJN,1,240,96,...,0.522,15,42,57,21,11,6,18,22,17.0

In [124]:
# Split the MATCHUP column into two separate team abbreviation columns
filtered_games2[['TEAM_ABBR1', 'TEAM_ABBR2']] = filtered_games2['MATCHUP'].str.split(' @ ', expand=True)

# Sort the team abbreviations within each row alphabetically
filtered_games2['MATCHUP'] = filtered_games2.apply(lambda row: ' @ '.join(sorted([row['TEAM_ABBR1'], row['TEAM_ABBR2']])), axis=1)

# Group by 'SEASON_ID', 'MATCHUP', and 'TEAM_ABBREVIATION' and calculate the count for each group
regular_season_matchup2 = filtered_games2.groupby(['SEASON_ID', 'TEAM_ABBREVIATION', 'MATCHUP']).size().reset_index(name='matchup_count')

# Group by 'SEASON_ID', 'MATCHUP', and 'TEAM_ABBREVIATION' and calculate the average for desired columns
regular_season_matchup2 = regular_season_matchup2.merge(
    filtered_games2.groupby(['SEASON_ID', 'MATCHUP', 'TEAM_ABBREVIATION']).agg({
        'WL': 'mean',
        'MIN': 'mean',
        'PTS': 'mean',
        'FGM': 'mean',
        'FGA': 'mean',
        'FG_PCT': 'mean',
        'FG3M': 'mean',
        'FG3A': 'mean',
        'FG3_PCT': 'mean',
        'FTM': 'mean',
        'FTA': 'mean',
        'FT_PCT': 'mean',
        'OREB': 'mean',
        'DREB': 'mean',
        'REB': 'mean',
        'AST': 'mean',
        'STL': 'mean',
        'BLK': 'mean',
        'TOV': 'mean',
        'PF': 'mean',
        'PLUS_MINUS': 'mean'
    }).reset_index(),
    on=['SEASON_ID', 'MATCHUP', 'TEAM_ABBREVIATION']
)

# Display the new DataFrame
regular_season_matchup2

C:\Users\yonatanam\AppData\Local\Temp\ipykernel_21704\4270919433.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_games2[['TEAM_ABBR1', 'TEAM_ABBR2']] = filtered_games2['MATCHUP'].str.split(' @ ', expand=True)
C:\Users\yonatanam\AppData\Local\Temp\ipykernel_21704\4270919433.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_games2[['TEAM_ABBR1', 'TEAM_ABBR2']] = filtered_games2['MATCHUP'].str.split(' @ ', expand=True)
C:\Users\yonatanam\AppData\Local\Temp\ipykernel_21704\4270919433.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_games2['MATCHUP'] = filtered_games2.apply(lambda row: ' @ '.join(sorted([row['TEAM_ABBR1'], row['TEAM_ABBR2']])), axis=1)

,SEASON_ID,TEAM_ABBREVIATION,MATCHUP,matchup_count,WL,MIN,PTS,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22002,BOS,BOS @ IND,4,0.50,240.00,85.25,32.50,81.25,0.39850,...,0.64550,10.00,31.00,41.00,18.50,7.00,5.25,13.00,23.00,-8.00
1,22002,BOS,BOS @ NJN,4,0.25,240.00,81.50,27.75,77.00,0.35950,...,0.71350,12.25,33.50,45.75,16.00,7.00,4.00,19.00,22.50,-11.75
2,22002,DAL,DAL @ POR,4,0.50,239.75,93.25,36.25,82.00,0.44150,...,0.79850,11.75,29.75,41.50,21.00,9.75,5.25,14.00,20.50,0.00
3,22002,DAL,DAL @ SAC,4,0.25,252.50,114.00,42.25,93.25,0.45250,...,0.79100,10.50,33.50,44.00,25.75,6.75,4.75,11.25,18.50,-6.25
4,22002,DAL,DAL @ SAS,4,0.50,246.00,100.50,39.50,88.75,0.44525,...,0.79525,10.75,32.25,43.00,21.50,9.75,4.00,11.25,21.75,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,22022,PHI,BKN @ PHI,4,1.00,240.00,121.75,42.75,89.25,0.47775,...,0.87225,13.00,31.00,44.00,23.25,8.25,4.00,10.25,16.50,11.25
626,22022,PHI,BOS @ PHI,4,0.25,240.25,106.50,37.75,79.75,0.47375,...,0.82050,6.50,30.25,36.75,19.00,7.00,4.00,10.00,18.75,-4.25
627,22022,PHX,DEN @ PHX,4,0.50,245.75,110.25,40.50,87.75,0.46275,...,0.74200,11.75,31.75,43.50,28.50,5.75,6.00,13.75,19.75,-5.25
628,22022,PHX,LAC @ PHX,4,0.50,240.00,111.00,42.75,94.00,0.45525,...,0.79300,11.75,35.00,46.75,28.75,6.75,4.00,9.75,20.25,4.75
629,22022,SAC,GSW @ SAC,4,0.25,239.50,114.25,42.25,95.00,0.44525,...,0.71250,12.25,32.50,44.75,27.50,9.25,1.75,13.25,20.50,-5.75

In [125]:
regular_season_matchup2[(regular_season_matchup2['TEAM_ABBREVIATION']=='BOS')&(regular_season_matchup2['SEASON_ID']=='22016')]

,SEASON_ID,TEAM_ABBREVIATION,MATCHUP,matchup_count,WL,MIN,PTS,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
421,22016,BOS,BOS @ CHI,4,0.50,240.5,102.25,38.75,81.50,0.4760,...,0.7805,7.25,32.00,39.25,24.0,8.00,4.75,12.75,20.25,5.00
422,22016,BOS,BOS @ CLE,4,0.25,241.0,108.50,39.50,85.00,0.4635,...,0.8050,8.00,30.25,38.25,25.0,7.25,5.00,10.75,22.50,-7.75
423,22016,BOS,BOS @ WAS,4,0.50,239.5,107.00,39.00,85.75,0.4550,...,0.7500,11.00,29.25,40.25,21.0,7.50,5.00,12.75,18.25,-5.75

In [126]:
# Rename columns in regular_season_matchup
regular_season_matchup2.rename(columns={
    'WL': 'matchup_WL_agg',
    'PTS': 'matchup_PTS_agg',
    'FG3_PCT': 'matchup_FG3_PCT_agg',
    'REB': 'matchup_REB_agg',
    'PF': 'matchup_PF_agg',
    'PLUS_MINUS': 'matchup_PLUS_MINUS_agg',
    'matchup_count': 'matchup_count_agg'
}, inplace=True)

# Convert SEASON_ID to string and extract last two characters
df['SEASON_ID_last_two_digits'] = df['SEASON_ID'].astype(str).str[-2:]
regular_season_matchup2['SEASON_ID_last_two_digits'] = regular_season_matchup2['SEASON_ID'].astype(str).str[-2:]

# Merge based on last two digits of SEASON_ID
merged_df = pd.merge(df,
                     regular_season_matchup2[['TEAM_ABBREVIATION', 'SEASON_ID_last_two_digits', 
                                             'matchup_WL_agg', 'matchup_PTS_agg', 'matchup_FG3_PCT_agg',
                                             'matchup_REB_agg', 'matchup_PF_agg', 'matchup_PLUS_MINUS_agg','matchup_count_agg']],
                     on=['TEAM_ABBREVIATION', 'SEASON_ID_last_two_digits'], how='left', suffixes=('_r_s', '_agg'))

# Add the columns from regular_season_matchup to df with the appropriate suffix
df['matchup_WL_r_s'] = merged_df['matchup_WL_agg']
df['matchup_PTS_r_s'] = merged_df['matchup_PTS_agg']
df['matchup_FG3_PCT_r_s'] = merged_df['matchup_FG3_PCT_agg']
df['matchup_REB_r_s'] = merged_df['matchup_REB_agg']
df['matchup_PF_r_s'] = merged_df['matchup_PF_agg']
df['matchup_PLUS_MINUS_r_s'] = merged_df['matchup_PLUS_MINUS_agg']
df['matchup_count_r_s'] = merged_df['matchup_count_agg']

# Drop the intermediate column SEASON_ID_last_two_digits
df.drop('SEASON_ID_last_two_digits', axis=1, inplace=True)

# Show the resulting DataFrame

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,O_TOV_S_O,O_PF_S_O,O_PTS_S_O,matchup_WL_r_s,matchup_PTS_r_s,matchup_FG3_PCT_r_s,matchup_REB_r_s,matchup_PF_r_s,matchup_PLUS_MINUS_r_s,matchup_count_r_s
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,16.0,21.5,94.4,0.500000,95.50,0.349750,43.250000,21.250000,-5.000000,4
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,15.4,19.9,95.2,1.000000,95.75,0.427750,49.000000,24.250000,7.250000,4
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,15.0,23.4,90.4,0.500000,87.00,0.386500,45.000000,17.500000,2.500000,2
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,16.0,21.9,93.1,0.250000,94.25,0.244000,41.000000,20.000000,-3.250000,4
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,14.4,20.5,99.3,0.250000,96.75,0.508250,46.250000,22.250000,-1.500000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,15.7,20.0,109.8,0.666667,96.00,0.368667,44.333333,18.666667,16.000000,3
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,13.5,19.5,112.5,0.750000,102.25,0.342250,48.000000,20.000000,11.500000,4
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,15.7,20.0,109.8,1.000000,93.00,0.257333,43.666667,19.333333,2.666667,3
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,15.7,20.0,109.8,0.666667,102.00,0.378333,43.333333,16.000000,8.000000,3
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,13.5,19.5,112.5,1.000000,101.75,0.305000,40.750000,18.500000,10.750000,4

In [127]:
# Create new columns with 'O_' prefix
relevant_columns = ['WIN_PCT', 'S_PTS', 'S_FG3_PCT', 'S_REB', 'S_PF']
for column in relevant_columns:
    new_column_name = 'O_' + column
    df[new_column_name] = np.nan  # Initialize with NaNs

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    # Filter rows where MATCHUP_TEAM equals TEAM_ABBREVIATION and SEASON_ID are equal
    filtered_rows = df[(df['MATCHUP_TEAM'] == row['TEAM_ABBREVIATION']) & (df['SEASON_ID'] == row['SEASON_ID'])]

    # Check if there are any rows satisfying the conditions
    if not filtered_rows.empty:
        # Get the first row (assuming there's only one matching row)
        matched_row = filtered_rows.iloc[0]

        # Assign values from the matched row to the corresponding columns in the current row
        for column in relevant_columns:
            new_column_name = 'O_' + column
            df.at[index, new_column_name] = matched_row[column]

# Display the resulting DataFrame

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,matchup_FG3_PCT_r_s,matchup_REB_r_s,matchup_PF_r_s,matchup_PLUS_MINUS_r_s,matchup_count_r_s,O_WIN_PCT,O_S_PTS,O_S_FG3_PCT,O_S_REB,O_S_PF
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,0.349750,43.250000,21.250000,-5.000000,4,0.537,7834.0,0.343,3489.0,1801.0
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,0.427750,49.000000,24.250000,7.250000,4,0.720,8342.0,0.381,3651.0,1666.0
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,0.386500,45.000000,17.500000,2.500000,2,0.732,7856.0,0.354,3495.0,1672.0
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,0.244000,41.000000,20.000000,-3.250000,4,0.537,7599.0,0.334,3320.0,1758.0
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,0.508250,46.250000,22.250000,-1.500000,4,0.512,8158.0,0.383,3243.0,1820.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,0.368667,44.333333,18.666667,16.000000,3,0.512,9494.0,0.365,3435.0,1768.0
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,0.342250,48.000000,20.000000,11.500000,4,0.707,9589.0,0.368,3988.0,1481.0
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,0.257333,43.666667,19.333333,2.666667,3,0.512,9494.0,0.365,3435.0,1768.0
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,0.378333,43.333333,16.000000,8.000000,3,0.512,9494.0,0.365,3435.0,1768.0
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,0.305000,40.750000,18.500000,10.750000,4,0.707,9589.0,0.368,3988.0,1481.0

In [128]:
# Create a dictionary mapping (GAME_ID, TEAM_ABBREVIATION) pairs to WL values
game_team_wl_map = {(game_id, team_abbr): wl for game_id, team_abbr, wl in zip(all_playoffs_games['GAME_ID'], all_playoffs_games['TEAM_ABBREVIATION'], all_playoffs_games['WL'])}

# Define a function to get WL values based on GAME_ID and TEAM_ABBREVIATION
def get_wl(row):
    game_id = row['GAME_ID']
    team_abbr = row['TEAM_ABBREVIATION']
    return game_team_wl_map.get((game_id, team_abbr), None)

# Apply the function to create the 'y_target' column
df['y_target'] = df.apply(get_wl, axis=1)

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,matchup_REB_r_s,matchup_PF_r_s,matchup_PLUS_MINUS_r_s,matchup_count_r_s,O_WIN_PCT,O_S_PTS,O_S_FG3_PCT,O_S_REB,O_S_PF,y_target
0,42002,1610612759,SAS,San Antonio Spurs,0040200141,2003-04-19,PHX @ SAS,0.25,247.5,94.25,...,43.250000,21.250000,-5.000000,4,0.537,7834.0,0.343,3489.0,1801.0,L
1,42002,1610612762,UTA,Utah Jazz,0040200151,2003-04-19,SAC @ UTA,0.25,246.25,96.75,...,49.000000,24.250000,7.250000,4,0.720,8342.0,0.381,3651.0,1666.0,L
2,42002,1610612756,PHX,Phoenix Suns,0040200141,2003-04-19,PHX @ SAS,0.75,246.25,97.5,...,45.000000,17.500000,2.500000,2,0.732,7856.0,0.354,3495.0,1672.0,W
3,42002,1610612754,IND,Indiana Pacers,0040200121,2003-04-19,BOS @ IND,0.5,240.0,93.25,...,41.000000,20.000000,-3.250000,4,0.537,7599.0,0.334,3320.0,1758.0,L
4,42002,1610612751,NJN,New Jersey Nets,0040200111,2003-04-19,MIL @ NJN,0.5,240.25,98.0,...,46.250000,22.250000,-1.500000,4,0.512,8158.0,0.383,3243.0,1820.0,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,L,239.0,108.0,...,44.333333,18.666667,16.000000,3,0.512,9494.0,0.365,3435.0,1768.0,W
3522,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,DEN @ MIA,L,240.0,94.0,...,48.000000,20.000000,11.500000,4,0.707,9589.0,0.368,3988.0,1481.0,L
3523,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,238.0,109.0,...,43.666667,19.333333,2.666667,3,0.512,9494.0,0.365,3435.0,1768.0,W
3524,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN @ MIA,W,242.0,108.0,...,43.333333,16.000000,8.000000,3,0.512,9494.0,0.365,3435.0,1768.0,W
3525,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,DEN @ MIA,L,240.0,95.0,...,40.750000,18.500000,10.750000,4,0.707,9589.0,0.368,3988.0,1481.0,L

In [129]:
all_playoffs_games[(all_playoffs_games['TEAM_ABBREVIATION']=='SAC') & (all_playoffs_games['year']==2003)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL,BLK,TOV,PF,PLUS_MINUS,year,month,day,day_of_week,hebrew_year
32,42002,1610612758,SAC,Sacramento Kings,0040200237,2003-05-17,SAC @ DAL,L,240,99,...,4,10,9,17,-13.0,2003,5,17,Saturday,5764
38,42002,1610612758,SAC,Sacramento Kings,0040200236,2003-05-15,SAC vs. DAL,W,240,115,...,8,3,9,16,6.0,2003,5,15,Thursday,5764
44,42002,1610612758,SAC,Sacramento Kings,0040200235,2003-05-13,SAC @ DAL,L,240,93,...,2,3,13,32,-19.0,2003,5,13,Tuesday,5764
51,42002,1610612758,SAC,Sacramento Kings,0040200234,2003-05-11,SAC vs. DAL,W,240,99,...,9,5,9,19,16.0,2003,5,11,Sunday,5764
57,42002,1610612758,SAC,Sacramento Kings,0040200233,2003-05-10,SAC vs. DAL,L,290,137,...,5,1,14,25,-4.0,2003,5,10,Saturday,5764
65,42002,1610612758,SAC,Sacramento Kings,0040200232,2003-05-08,SAC @ DAL,L,240,110,...,7,3,18,23,-22.0,2003,5,8,Thursday,5764
70,42002,1610612758,SAC,Sacramento Kings,0040200231,2003-05-06,SAC @ DAL,W,240,124,...,11,3,14,23,11.0,2003,5,6,Tuesday,5764
101,42002,1610612758,SAC,Sacramento Kings,0040200155,2003-04-30,SAC vs. UTA,W,240,111,...,10,3,17,26,20.0,2003,4,30,Wednesday,5764
115,42002,1610612758,SAC,Sacramento Kings,0040200154,2003-04-28,SAC @ UTA,W,240,99,...,14,8,7,24,17.0,2003,4,28,Monday,5764
129,42002,1610612758,SAC,Sacramento Kings,0040200153,2003-04-26,SAC @ UTA,L,240,104,...,2,9,14,34,-3.0,2003,4,26,Saturday,5764
155,42002,1610612758,SAC,Sacramento Kings,0040200152,2003-04-21,SAC vs. UTA,W,240,108,...,8,3,14,20,13.0,2003,4,21,Monday,5764
175,42002,1610612758,SAC,Sacramento Kings,0040200151,2003-04-19,SAC vs. UTA,W,240,96,...,10,6,15,17,6.0,2003,4,19,Saturday,5764

In [130]:
df[(df['TEAM_ABBREVIATION']=='SAC') & (df['year']==2003)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,matchup_REB_r_s,matchup_PF_r_s,matchup_PLUS_MINUS_r_s,matchup_count_r_s,O_WIN_PCT,O_S_PTS,O_S_FG3_PCT,O_S_REB,O_S_PF,y_target
9,42002,1610612758,SAC,Sacramento Kings,0040200151,2003-04-19,SAC @ UTA,0.75,245.5,98.25,...,42.50,21.000000,0.75,4,0.573,7762.0,0.349,3402.0,1837.0,W
17,42002,1610612758,SAC,Sacramento Kings,0040200152,2003-04-21,SAC @ UTA,W,240.0,96.0,...,43.00,21.750000,5.00,4,0.573,7762.0,0.349,3402.0,1837.0,W
47,42002,1610612758,SAC,Sacramento Kings,0040200153,2003-04-26,SAC @ UTA,W,240.0,108.0,...,43.25,19.250000,-0.50,4,0.573,7762.0,0.349,3402.0,1837.0,L
63,42002,1610612758,SAC,Sacramento Kings,0040200154,2003-04-28,SAC @ UTA,L,240.0,104.0,...,46.00,20.000000,-2.50,2,0.573,7762.0,0.349,3402.0,1837.0,W
77,42002,1610612758,SAC,Sacramento Kings,0040200155,2003-04-30,SAC @ UTA,W,240.0,99.0,...,49.00,24.250000,7.25,4,0.573,7762.0,0.349,3402.0,1837.0,W
102,42002,1610612758,SAC,Sacramento Kings,0040200231,2003-05-06,DAL @ SAC,W,240.0,111.0,...,49.00,24.250000,7.25,4,0.573,7762.0,0.349,3402.0,1837.0,W
113,42002,1610612758,SAC,Sacramento Kings,0040200232,2003-05-08,DAL @ SAC,W,240.0,124.0,...,39.75,23.750000,3.25,4,0.573,7762.0,0.349,3402.0,1837.0,L
121,42002,1610612758,SAC,Sacramento Kings,0040200233,2003-05-10,DAL @ SAC,L,240.0,110.0,...,43.75,27.750000,-7.25,4,0.573,7762.0,0.349,3402.0,1837.0,L
125,42002,1610612758,SAC,Sacramento Kings,0040200234,2003-05-11,DAL @ SAC,L,290.0,137.0,...,45.00,17.500000,2.50,2,0.573,7762.0,0.349,3402.0,1837.0,W
132,42002,1610612758,SAC,Sacramento Kings,0040200235,2003-05-13,DAL @ SAC,W,240.0,99.0,...,41.00,23.000000,-8.00,4,0.573,7762.0,0.349,3402.0,1837.0,L
138,42002,1610612758,SAC,Sacramento Kings,0040200236,2003-05-15,DAL @ SAC,L,240.0,93.0,...,44.00,18.500000,-6.25,4,0.573,7762.0,0.349,3402.0,1837.0,W
142,42002,1610612758,SAC,Sacramento Kings,0040200237,2003-05-17,DAL @ SAC,W,240.0,115.0,...,38.00,22.333333,5.00,3,0.573,7762.0,0.349,3402.0,1837.0,L

In [131]:
all_playoffs_games[(all_playoffs_games['TEAM_ABBREVIATION']=='UTA') & (all_playoffs_games['year']==2007)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL,BLK,TOV,PF,PLUS_MINUS,year,month,day,day_of_week,hebrew_year
698,42006,1610612762,UTA,Utah Jazz,0040600315,2007-05-30,UTA @ SAS,L,241,84,...,4,2,12,25,-25.0,2007,5,30,Wednesday,5768
702,42006,1610612762,UTA,Utah Jazz,0040600314,2007-05-28,UTA vs. SAS,L,239,79,...,10,8,17,27,-12.0,2007,5,28,Monday,5768
706,42006,1610612762,UTA,Utah Jazz,0040600313,2007-05-26,UTA vs. SAS,W,240,109,...,12,5,12,26,26.0,2007,5,26,Saturday,5768
710,42006,1610612762,UTA,Utah Jazz,0040600312,2007-05-22,UTA @ SAS,L,240,96,...,14,4,15,18,-9.0,2007,5,22,Tuesday,5768
714,42006,1610612762,UTA,Utah Jazz,0040600311,2007-05-20,UTA @ SAS,L,240,100,...,4,4,14,30,-8.0,2007,5,20,Sunday,5768
728,42006,1610612762,UTA,Utah Jazz,0040600225,2007-05-15,UTA vs. GSW,W,240,100,...,5,3,25,19,13.0,2007,5,15,Tuesday,5768
736,42006,1610612762,UTA,Utah Jazz,0040600224,2007-05-13,UTA @ GSW,W,240,115,...,7,2,20,32,14.0,2007,5,13,Sunday,5768
743,42006,1610612762,UTA,Utah Jazz,0040600223,2007-05-11,UTA @ GSW,L,240,105,...,5,3,23,28,-20.0,2007,5,11,Friday,5768
746,42006,1610612762,UTA,Utah Jazz,0040600222,2007-05-09,UTA vs. GSW,W,265,127,...,6,8,23,29,10.0,2007,5,9,Wednesday,5768
755,42006,1610612762,UTA,Utah Jazz,0040600221,2007-05-07,UTA vs. GSW,W,240,116,...,9,8,20,25,4.0,2007,5,7,Monday,5768
761,42006,1610612762,UTA,Utah Jazz,0040600177,2007-05-05,UTA @ HOU,W,240,103,...,4,2,10,25,4.0,2007,5,5,Saturday,5768
769,42006,1610612762,UTA,Utah Jazz,0040600176,2007-05-03,UTA vs. HOU,W,240,94,...,8,7,11,22,12.0,2007,5,3,Thursday,5768
778,42006,1610612762,UTA,Utah Jazz,0040600175,2007-04-30,UTA @ HOU,L,241,92,...,6,7,14,18,-4.0,2007,4,30,Monday,5768
793,42006,1610612762,UTA,Utah Jazz,0040600174,2007-04-28,UTA vs. HOU,W,241,98,...,7,6,11,25,13.0,2007,4,28,Saturday,5768
810,42006,1610612762,UTA,Utah Jazz,0040600173,2007-04-26,UTA vs. HOU,W,240,81,...,12,4,11,19,14.0,2007,4,26,Thursday,5768
826,42006,1610612762,UTA,Utah Jazz,0040600172,2007-04-23,UTA @ HOU,L,240,90,...,4,6,12,29,-8.0,2007,4,23,Monday,5768
838,42006,1610612762,UTA,Utah Jazz,0040600171,2007-04-21,UTA @ HOU,L,239,75,...,8,2,11,22,-9.0,2007,4,21,Saturday,5768

In [132]:
df[(df['TEAM_ABBREVIATION']=='UTA') & (df['year']==2007)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,matchup_REB_r_s,matchup_PF_r_s,matchup_PLUS_MINUS_r_s,matchup_count_r_s,O_WIN_PCT,O_S_PTS,O_S_FG3_PCT,O_S_REB,O_S_PF,y_target
688,42006,1610612762,UTA,Utah Jazz,0040600171,2007-04-21,HOU @ UTA,0.75,240.25,95.0,...,39.333333,24.333333,-11.666667,3,0.634,7953.0,0.372,3553.0,1710.0,L
704,42006,1610612762,UTA,Utah Jazz,0040600172,2007-04-23,HOU @ UTA,L,239.0,75.0,...,39.333333,24.333333,-11.666667,3,0.634,7953.0,0.372,3553.0,1710.0,L
722,42006,1610612762,UTA,Utah Jazz,0040600173,2007-04-26,HOU @ UTA,L,240.0,90.0,...,45.000000,24.250000,5.250000,4,0.634,7953.0,0.372,3553.0,1710.0,W
731,42006,1610612762,UTA,Utah Jazz,0040600174,2007-04-28,HOU @ UTA,W,240.0,81.0,...,47.500000,23.000000,6.750000,4,0.634,7953.0,0.372,3553.0,1710.0,W
746,42006,1610612762,UTA,Utah Jazz,0040600175,2007-04-30,HOU @ UTA,W,241.0,98.0,...,45.000000,24.250000,5.250000,4,0.634,7953.0,0.372,3553.0,1710.0,L
763,42006,1610612762,UTA,Utah Jazz,0040600176,2007-05-03,HOU @ UTA,L,241.0,92.0,...,43.250000,19.500000,-4.000000,4,0.634,7953.0,0.372,3553.0,1710.0,W
767,42006,1610612762,UTA,Utah Jazz,0040600177,2007-05-05,HOU @ UTA,W,240.0,94.0,...,40.500000,23.750000,0.250000,4,0.634,7953.0,0.372,3553.0,1710.0,W
777,42006,1610612762,UTA,Utah Jazz,0040600221,2007-05-07,GSW @ UTA,W,240.0,103.0,...,47.500000,23.000000,6.750000,4,0.634,7953.0,0.372,3553.0,1710.0,W
782,42006,1610612762,UTA,Utah Jazz,0040600222,2007-05-09,GSW @ UTA,W,240.0,116.0,...,47.333333,19.000000,11.666667,3,0.634,7953.0,0.372,3553.0,1710.0,W
787,42006,1610612762,UTA,Utah Jazz,0040600223,2007-05-11,GSW @ UTA,W,265.0,127.0,...,34.000000,21.000000,-2.500000,2,0.634,7953.0,0.372,3553.0,1710.0,L
794,42006,1610612762,UTA,Utah Jazz,0040600224,2007-05-13,GSW @ UTA,L,240.0,105.0,...,39.500000,19.250000,-0.250000,4,0.634,7953.0,0.372,3553.0,1710.0,W
802,42006,1610612762,UTA,Utah Jazz,0040600225,2007-05-15,GSW @ UTA,W,240.0,115.0,...,43.250000,19.500000,-4.000000,4,0.634,7953.0,0.372,3553.0,1710.0,W
814,42006,1610612762,UTA,Utah Jazz,0040600311,2007-05-20,SAS @ UTA,W,240.0,100.0,...,43.250000,19.500000,-4.000000,4,0.634,7953.0,0.372,3553.0,1710.0,L
818,42006,1610612762,UTA,Utah Jazz,0040600312,2007-05-22,SAS @ UTA,L,240.0,100.0,...,43.250000,19.500000,-4.000000,4,0.634,7953.0,0.372,3553.0,1710.0,L
822,42006,1610612762,UTA,Utah Jazz,0040600313,2007-05-26,SAS @ UTA,L,240.0,96.0,...,41.000000,26.000000,2.500000,2,0.634,7953.0,0.372,3553.0,1710.0,W
826,42006,1610612762,UTA,Utah Jazz,0040600314,2007-05-28,SAS @ UTA,W,240.0,109.0,...,43.250000,19.500000,-4.000000,4,0.634,7953.0,0.372,3553.0,1710.0,L
830,42006,1610612762,UTA,Utah Jazz,0040600315,2007-05-30,SAS @ UTA,L,239.0,79.0,...,41.000000,26.000000,2.500000,2,0.634,7953.0,0.372,3553.0,1710.0,L

In [133]:
df['WL'] = np.where(df['WL'] == 'L', 0, np.where(df['WL'] == 'W', 1, df['WL']))

In [134]:
df['WL'].value_counts()

1.000000    1775
0.000000    1481
0.500000      78
0.250000      67
0.750000      67
0.333333      29
0.666667      29
Name: WL, dtype: int64

In [135]:
df['y_target'] = np.where(df['y_target'] == 'L', 0, 1)

In [136]:
df['y_target'].value_counts()

0    1763
1    1763
Name: y_target, dtype: int64

In [137]:
df.isna().sum()[df.isna().sum() > 0 ]

Series([], dtype: int64)

In [138]:
s_data = ['S_FGM', 'S_FGA', 'S_FG_PCT', 'S_FG3M', 'S_FG3A', 'S_FG3_PCT', 'S_FTM', 'S_FTA', 'S_FT_PCT', 'S_OREB', 'S_DREB', 'S_REB', 'S_AST', 'S_PF', 'S_STL', 'S_TOV', 'S_BLK', 'S_PTS','O_S_PTS','O_S_REB','O_S_PF']

for i in s_data:
    if df['year'].isin([2020, 2021]).any():
        df[i] = df[i] / 72
    elif df['year'].any() == 2012:
        df[i] = df[i] / 66
    else:
        df[i] = df[i] / 82

In [139]:
columns_2_drop = ['GAME_ID','SEASON_ID','TEAM_ID','GAME_DATE','MIN','GP','SEASON_ID_last_2','PO_LOSSES','PO_WINS','NBA_FINALS_APPEARANCE']

In [140]:
df_eda = df

In [141]:
df_eda.drop(columns=columns_2_drop, inplace=True)
df_eda

,TEAM_ABBREVIATION,TEAM_NAME,MATCHUP,WL,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,...,matchup_REB_r_s,matchup_PF_r_s,matchup_PLUS_MINUS_r_s,matchup_count_r_s,O_WIN_PCT,O_S_PTS,O_S_FG3_PCT,O_S_REB,O_S_PF,y_target
0,SAS,San Antonio Spurs,PHX @ SAS,0.25,94.25,35.5,78.25,0.4575,4.5,19.5,...,43.250000,21.250000,-5.000000,4,0.537,108.805556,0.343,48.458333,25.013889,0
1,UTA,Utah Jazz,SAC @ UTA,0.25,96.75,39.25,85.0,0.464,3.5,7.5,...,49.000000,24.250000,7.250000,4,0.720,115.861111,0.381,50.708333,23.138889,0
2,PHX,Phoenix Suns,PHX @ SAS,0.75,97.5,38.0,82.25,0.4765,5.0,10.5,...,45.000000,17.500000,2.500000,2,0.732,109.111111,0.354,48.541667,23.222222,1
3,IND,Indiana Pacers,BOS @ IND,0.5,93.25,32.25,78.5,0.409,4.75,16.5,...,41.000000,20.000000,-3.250000,4,0.537,105.541667,0.334,46.111111,24.416667,0
4,NJN,New Jersey Nets,MIL @ NJN,0.5,98.0,34.5,77.0,0.45,5.0,9.25,...,46.250000,22.250000,-1.500000,4,0.512,113.305556,0.383,45.041667,25.277778,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,DEN,Denver Nuggets,DEN @ MIA,0,108.0,39.0,75.0,0.52,11.0,28.0,...,44.333333,18.666667,16.000000,3,0.512,131.861111,0.365,47.708333,24.555556,1
3522,MIA,Miami Heat,DEN @ MIA,0,94.0,34.0,92.0,0.37,11.0,35.0,...,48.000000,20.000000,11.500000,4,0.707,133.180556,0.368,55.388889,20.569444,0
3523,DEN,Denver Nuggets,DEN @ MIA,1,109.0,41.0,80.0,0.513,5.0,18.0,...,43.666667,19.333333,2.666667,3,0.512,131.861111,0.365,47.708333,24.555556,1
3524,DEN,Denver Nuggets,DEN @ MIA,1,108.0,39.0,79.0,0.494,14.0,28.0,...,43.333333,16.000000,8.000000,3,0.512,131.861111,0.365,47.708333,24.555556,1
3525,MIA,Miami Heat,DEN @ MIA,0,95.0,35.0,78.0,0.449,8.0,25.0,...,40.750000,18.500000,10.750000,4,0.707,133.180556,0.368,55.388889,20.569444,0

In [142]:
# Divide the variables to 2 groups:
# 1. continuous variables 
# 2. categorical variables
# Start point, define for each variable, if he has up to 6 unique values - categorical variable, else - numeric variable
for v in df_eda.columns:
    if df_eda[v].nunique() < 7 or df_eda[v].dtype =='object': 
        df_eda[v] = df_eda[v].astype('category')

In [143]:
for i in df_eda.columns:
    print(i,'-',df_eda[i].dtype)

TEAM_ABBREVIATION - category
TEAM_NAME - category
MATCHUP - category
WL - category
PTS - category
FGM - category
FGA - category
FG_PCT - category
FG3M - category
FG3A - category
FG3_PCT - category
FTM - category
FTA - category
FT_PCT - category
OREB - category
DREB - category
REB - category
AST - category
STL - category
BLK - category
TOV - category
PF - category
PLUS_MINUS - category
year - int64
month - int64
day - int64
day_of_week - category
hebrew_year - int64
WINS - int64
LOSSES - int64
WIN_PCT - float64
CONF_RANK - int64
DIV_RANK - int64
CONF_COUNT - category
DIV_COUNT - category
S_FGM - float64
S_FGA - float64
S_FG_PCT - float64
S_FG3M - float64
S_FG3A - float64
S_FG3_PCT - float64
S_FTM - float64
S_FTA - float64
S_FT_PCT - float64
S_OREB - float64
S_DREB - float64
S_REB - float64
S_AST - float64
S_PF - float64
S_STL - float64
S_TOV - float64
S_BLK - float64
S_PTS - float64
PTS_RANK - int64
rest_days - float64
game_count - int64
OT - category
WL_post_all_star - float64
MIN_post_all_star - float64
PTS_post_all_star - float64
FGM_post_all_star - float64
FGA_post_all_star - float64
FG_PCT_post_all_star - float64
FG3M_post_all_star - float64
FG3A_post_all_star - float64
FG3_PCT_post_all_star - float64
FTM_post_all_star - float64
FTA_post_all_star - float64
FT_PCT_post_all_star - float64
OREB_post_all_star - float64
DREB_post_all_star - float64
REB_post_all_star - float64
AST_post_all_star - float64
STL_post_all_star - float64
BLK_post_all_star - float64
TOV_post_all_star - float64
PF_post_all_star - float64
PLUS_MINUS_post_all_star - float64
game_series - int64
stage - category
last_champ - category
home_game - category
stage_last_season - category
PTS_O - float64
FGM_O - float64
FGA_O - float64
FG_PCT_O - float64
FG3M_O - float64
FG3A_O - float64
FG3_PCT_O - float64
FTM_O - float64
FTA_O - float64
FT_PCT_O - float64
OREB_O - float64
DREB_O - float64
REB_O - float64
AST_O - float64
STL_O - float64
BLK_O - float64
TOV_O - float64
PF_O - float64
PLUS_MINUS_O - float64
FG_S_O - float64
FGA_S_O - float64
FG%_S_O - float64
3P_S_O - float64
3PA_S_O - float64
3P%_S_O - float64
2P_S_O - float64
2PA_S_O - float64
2P%_S_O - float64
FT_S_O - float64
FTA_S_O - float64
FT%_S_O - float64
ORB_S_O - float64
DRB_S_O - float64
TRB_S_O - float64
AST_S_O - float64
STL_S_O - float64
BLK_S_O - float64
TOV_S_O - float64
PF_S_O - float64
PTS_S_O - float64
MATCHUP_TEAM - category
O_FG_S_O - float64
O_FGA_S_O - float64
O_FG%_S_O - float64
O_3P_S_O - float64
O_3PA_S_O - float64
O_3P%_S_O - float64
O_2P_S_O - float64
O_2PA_S_O - float64
O_2P%_S_O - float64
O_FT_S_O - float64
O_FTA_S_O - float64
O_FT%_S_O - float64
O_ORB_S_O - float64
O_DRB_S_O - float64
O_TRB_S_O - float64
O_AST_S_O - float64
O_STL_S_O - float64
O_BLK_S_O - float64
O_TOV_S_O - float64
O_PF_S_O - float64
O_PTS_S_O - float64
matchup_WL_r_s - float64
matchup_PTS_r_s - float64
matchup_FG3_PCT_r_s - float64
matchup_REB_r_s - float64
matchup_PF_r_s - float64
matchup_PLUS_MINUS_r_s - float64
matchup_count_r_s - category
O_WIN_PCT - float64
O_S_PTS - float64
O_S_FG3_PCT - float64
O_S_REB - float64
O_S_PF - float64
y_target - category

In [144]:
df_eda['WL'] = df_eda['WL'].astype('float64')
df_eda['PTS'] = df_eda['PTS'].astype('float64')
df_eda['FGM'] = df_eda['FGM'].astype('float64')
df_eda['FGA'] = df_eda['FGA'].astype('float64')
df_eda['FG_PCT'] = df_eda['FG_PCT'].astype('float64')
df_eda['FG3M'] = df_eda['FG3M'].astype('float64')
df_eda['FG3A'] = df_eda['FG3A'].astype('float64')
df_eda['FG3_PCT'] = df_eda['FG3_PCT'].astype('float64')
df_eda['FTM'] = df_eda['FTM'].astype('float64')
df_eda['FTA'] = df_eda['FTA'].astype('float64')
df_eda['FT_PCT'] = df_eda['FT_PCT'].astype('float64')
df_eda['OREB'] = df_eda['OREB'].astype('float64')
df_eda['DREB'] = df_eda['DREB'].astype('float64')
df_eda['REB'] = df_eda['REB'].astype('float64')
df_eda['AST'] = df_eda['AST'].astype('float64')
df_eda['STL'] = df_eda['STL'].astype('float64')
df_eda['BLK'] = df_eda['BLK'].astype('float64')
df_eda['TOV'] = df_eda['TOV'].astype('float64')
df_eda['PF'] = df_eda['PF'].astype('float64')
df_eda['PLUS_MINUS'] = df_eda['PLUS_MINUS'].astype('float64')
df_eda['PTS_RANK'] = df_eda['PTS_RANK'].astype('category')
df_eda['month'] = df_eda['month'].astype('category')
df_eda['day'] = df_eda['day'].astype('category')
df_eda['CONF_RANK'] = df_eda['CONF_RANK'].astype('category')
df_eda['DIV_RANK'] = df_eda['DIV_RANK'].astype('category')
df_eda['rest_days'] = df_eda['rest_days'].astype('int64')
df_eda['game_series'] = df_eda['game_series'].astype('category')
df_eda['matchup_count_r_s'] = df_eda['matchup_count_r_s'].astype('int64')

In [145]:
#df_eda['PO_LOSSES']
#df_eda['PO_WINS']
#df_eda['CONF_COUNT']
#df_eda['DIV_COUNT']

In [146]:
for i in df_eda.columns:
    print(i,'-',df_eda[i].dtype)

TEAM_ABBREVIATION - category
TEAM_NAME - category
MATCHUP - category
WL - float64
PTS - float64
FGM - float64
FGA - float64
FG_PCT - float64
FG3M - float64
FG3A - float64
FG3_PCT - float64
FTM - float64
FTA - float64
FT_PCT - float64
OREB - float64
DREB - float64
REB - float64
AST - float64
STL - float64
BLK - float64
TOV - float64
PF - float64
PLUS_MINUS - float64
year - int64
month - category
day - category
day_of_week - category
hebrew_year - int64
WINS - int64
LOSSES - int64
WIN_PCT - float64
CONF_RANK - category
DIV_RANK - category
CONF_COUNT - category
DIV_COUNT - category
S_FGM - float64
S_FGA - float64
S_FG_PCT - float64
S_FG3M - float64
S_FG3A - float64
S_FG3_PCT - float64
S_FTM - float64
S_FTA - float64
S_FT_PCT - float64
S_OREB - float64
S_DREB - float64
S_REB - float64
S_AST - float64
S_PF - float64
S_STL - float64
S_TOV - float64
S_BLK - float64
S_PTS - float64
PTS_RANK - category
rest_days - int64
game_count - int64
OT - category
WL_post_all_star - float64
MIN_post_all_star - float64
PTS_post_all_star - float64
FGM_post_all_star - float64
FGA_post_all_star - float64
FG_PCT_post_all_star - float64
FG3M_post_all_star - float64
FG3A_post_all_star - float64
FG3_PCT_post_all_star - float64
FTM_post_all_star - float64
FTA_post_all_star - float64
FT_PCT_post_all_star - float64
OREB_post_all_star - float64
DREB_post_all_star - float64
REB_post_all_star - float64
AST_post_all_star - float64
STL_post_all_star - float64
BLK_post_all_star - float64
TOV_post_all_star - float64
PF_post_all_star - float64
PLUS_MINUS_post_all_star - float64
game_series - category
stage - category
last_champ - category
home_game - category
stage_last_season - category
PTS_O - float64
FGM_O - float64
FGA_O - float64
FG_PCT_O - float64
FG3M_O - float64
FG3A_O - float64
FG3_PCT_O - float64
FTM_O - float64
FTA_O - float64
FT_PCT_O - float64
OREB_O - float64
DREB_O - float64
REB_O - float64
AST_O - float64
STL_O - float64
BLK_O - float64
TOV_O - float64
PF_O - float64
PLUS_MINUS_O - float64
FG_S_O - float64
FGA_S_O - float64
FG%_S_O - float64
3P_S_O - float64
3PA_S_O - float64
3P%_S_O - float64
2P_S_O - float64
2PA_S_O - float64
2P%_S_O - float64
FT_S_O - float64
FTA_S_O - float64
FT%_S_O - float64
ORB_S_O - float64
DRB_S_O - float64
TRB_S_O - float64
AST_S_O - float64
STL_S_O - float64
BLK_S_O - float64
TOV_S_O - float64
PF_S_O - float64
PTS_S_O - float64
MATCHUP_TEAM - category
O_FG_S_O - float64
O_FGA_S_O - float64
O_FG%_S_O - float64
O_3P_S_O - float64
O_3PA_S_O - float64
O_3P%_S_O - float64
O_2P_S_O - float64
O_2PA_S_O - float64
O_2P%_S_O - float64
O_FT_S_O - float64
O_FTA_S_O - float64
O_FT%_S_O - float64
O_ORB_S_O - float64
O_DRB_S_O - float64
O_TRB_S_O - float64
O_AST_S_O - float64
O_STL_S_O - float64
O_BLK_S_O - float64
O_TOV_S_O - float64
O_PF_S_O - float64
O_PTS_S_O - float64
matchup_WL_r_s - float64
matchup_PTS_r_s - float64
matchup_FG3_PCT_r_s - float64
matchup_REB_r_s - float64
matchup_PF_r_s - float64
matchup_PLUS_MINUS_r_s - float64
matchup_count_r_s - int64
O_WIN_PCT - float64
O_S_PTS - float64
O_S_FG3_PCT - float64
O_S_REB - float64
O_S_PF - float64
y_target - category

In [147]:
df_eda.isna().sum()[df.isna().sum() > 0 ]

Series([], dtype: int64)

In [148]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3526 entries, 0 to 3525
Columns: 158 entries, TEAM_ABBREVIATION to y_target
dtypes: category(19), float64(132), int64(7)
memory usage: 4.0 MB

In [149]:
# Save the DataFrame as a CSV file
df_eda.to_csv('nba_playoff_data_processed2.csv', index=False)